<div class="modal-full">
<div class="modal-header" data-dismiss="modal" aria-label="Close">
</div>
<div class="popup-banner for-mobile">
  <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <!--<img src="/img/index/login_banner.png" alt="">-->
</div>
<div class="modal-body">
  <div class="logo-box">
    <img src="/img/share/mlogo.png" alt="">
  </div>
  <div class="index-flex">
    <div class="item one d-flex justify-content-start">
      <button type="button" class="btn close float-left">
        <i class="material-icons">&#xe314;</i>
      </button>
    </div>
    <div class="item two">
      <h5>密碼設定</h5>
    </div>
    <div class="item one"></div>
  </div>
  <div class="container px-3 pt-2">
    <form class="popup-content" #pwdForm="ngForm" (ngSubmit)="pwdForm.form.valid && onSubmit()">
      <div class="password-item">
        <div class="form-group">
          <input id="password-field-1" type="password" class="form-control"
                 name="password" placeholder="輸入密碼"
                 pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                 required [(ngModel)]="pwdModel.AFPPassword" #AFPPassword="ngModel">
          <span toggle="#password-field-1" class="toggle-password">
            <i class="material-icons visibility d-none">&#xE8F4;</i>
            <i class="material-icons visibility-off">&#xE8F5;</i>
          </span>
          <div *ngIf="AFPPassword.invalid && (AFPPassword.touched || AFPPassword.dirty)" class="small-warning">
            字元至少8位，需包含英文字母及數字
          </div>
        </div>
      </div>
      <div class="password-item">
        <div class="form-group">
          <input id="password-field-2" type="password" class="form-control"
                 name="repassword" placeholder="再次輸入密碼"
                 required [(ngModel)]="pwdModel.AFPPasswordRe" (input)="checkPwd = true" #AFPPasswordRe="ngModel">
          <span toggle="#password-field-2" class="toggle-password">
            <i class="material-icons visibility d-none">&#xE8F4;</i>
            <i class="material-icons visibility-off">&#xE8F5;</i>
          </span>
          <div class="small-warning" *ngIf="checkPwd == false && AFPPasswordRe.valid">兩個密碼不相符</div>
          <div class="small-warning" *ngIf="pwdForm.submitted && !AFPPasswordRe.valid">請輸入密碼</div>
        </div>
      </div>
      <button type="submit" class="btn index-btn w-100 msg-psw">設定新密碼</button>
    </form>
  </div>
</div>
</div>
