<div class="coinbox">
  <div class="lineargradient-purple">
    <div class="coin-shadow">
      <div class="coin-box">
        <div *ngIf="this.router.url.indexOf('MemberCoin') === -1" class="item title-name text-white">M Points
        </div>
        <div [ngClass]="{'flex-inline-between': pointShow, 'text-center':!pointShow}">
          <div class="coin-point">
            <img src="../img/share/mobiicoin_red.png" class="coinimg-m">
            <span class="coin-txt">{{totalPoing === undefined ? '－' : totalPoing |
              currency:'TWD':'':'1.0-2'}}</span>
          </div>
          <div class="coin-history" *ngIf="pointShow">
            <button class="btn" (click)="goToMpointHistory()">
              點數紀錄
            </button>
          </div>
        </div>
        <div class="flex-inline-between">
          <div class="item">即將到期魔幣</div>
          <div class="item">{{daylinePoint === undefined ? '－' : daylinePoint| currency:'TWD':'':'1.0-2'}}
          </div>
        </div>
        <div class="flex-inline-between">
          <div class="item">即將到期時間</div>
          <div class="item">{{dayline === undefined ? '－' :dayline | date:'yyyy/MM/dd'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
