<div class="modal-header" data-dismiss="modal" aria-label="Close">
</div>
<button type="button" class="close text-right" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
  <span aria-hidden="true">&times;&ensp;</span>
</button>
<div class="modal-body">
  <div class="d-flex justify-content-center pb-4">
    <div id="appleid-signin" (click)="bsModalRef.hide()"
          data-mode="center-align"
          data-type="sign-in"
          data-color="black"
          data-border="false"
          data-border-radius="50"
          data-width="280"
          data-height="32"
          class="method-item">
  </div>
  </div>
</div>

