<block-ui>
<div [@routeAnimations]="prepareRoute(outlet)">
  <!-- App訪問用，僅測試站出現 -->
  <div class="for-app-debug-box" (click)="testCount = testCount + 1">
    <div *ngIf="oauthService.cookiesGet('appVisit').cookieVal === '1' && oauthService.preName !== ''">
      <i class="material-icons help">&#xe887;</i>
      <div class="test-box" [hidden]="testCount < 10">
        <div id="loginRequest"></div>
        <button (click)="testCount = 0">close</button>
        <div>{{test}}</div>
      </div>
    </div>
  </div>
  <router-outlet id="routerView" #outlet="outlet"></router-outlet>
</div>
</block-ui>

<!-- 裝置版本過低提示 -->
<div *ngIf="isOld && showOldHint && appService.isApp === null" class="sysmsgcontainer">
  <div class="container p-3 sysmsgbox">
      <p class="py-2">您的{{targetToUpdate}}版本過低，請更新至最新版本</p>
      <button type="button" class="btn index-btn w-100" [routerLink]="'/'" (click)="showOldHint = false; appService.adIndexOpen = true;">關閉</button>
  </div>
  <div class="modal-backdrop"></div>
</div>

