<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet id="routerView" #outlet="outlet"></router-outlet>
</div>
<block-ui>
  <!-- Your app markup here -->
</block-ui>


<!-- 桌面版footer只在大首頁、商城首頁、旅遊首頁和維護頁顯示 -->
<!-- 手機版footer除有置底按鈕的頁面不顯示外，其他皆顯示 -->
<footer id="footmb" class="mobile-footer for-mobile container" *ngIf="appService.isApp === null && showMobileFooter">
  <div class="menu-bar">
    <a [routerLink]="['/']" class="bar-item" [ngClass]="{'active': headingPage=='/'}">
      <img class="default-img" src="img/index/tabbar/home.png" alt="">
      <img class="active-img" src="img/index/tabbar/home_choosen.png" alt="">
      首頁
    </a>
    <a [routerLink]="['/ExploreMap']" class="bar-item" [ngClass]="{'active': headingPage.indexOf('/Explore') != -1}">
      <img class="default-img" src="img/index/tabbar/nearby.png" alt="">
      <img class="active-img" src="img/index/tabbar/nearby_choosen.png" alt="">
      周邊
    </a>
    <a [routerLink]="['/Mission']" class="bar-item" [ngClass]="{'active': headingPage.indexOf('/Mission') != -1}">
      <!-- <div class="more-dot"></div> -->
      <img class="default-img" src="img/index/tabbar/mission.png" alt="">
      <img class="active-img" src="img/index/tabbar/mission_choosen.png" alt="">
      任務
    </a>
    <a (click)="goTo()" [ngClass]="{'active': headingPage.indexOf('/Notification') != -1}" id="BearIcon" class="bar-item">
      <ng-container *ngIf="appService.pushCount > 0">
        <div class="more-dot"></div>
      </ng-container>
      <img class="default-img" src="img/index/tabbar/notification.png" alt="">
      <img class="active-img" src="img/index/tabbar/notification_choosen.png" alt="">
      通知
    </a>
    <a href="javascript:;" class="bar-item" [routerLink]="['/Member']" [ngClass]="{'active': headingPage.indexOf('/Member') != -1}">
      <img class="default-img" src="img/index/tabbar/my.png" alt="">
      <img class="active-img" src="img/index/tabbar/my_choosen.png" alt="">
      我的
    </a>
  </div>
</footer>
<!-- 裝置版本過低提示 -->
<div *ngIf="isOld && appService.showOldHint" class="sysmsgcontainer">
  <div class="container p-3 sysmsgbox">
      <p class="py-2">您的{{targetToUpdate}}版本過低，請更新至最新版本</p>
      <button type="button" class="btn index-btn w-100" [routerLink]="'/'" (click)="appService.showOldHint = false">關閉</button>
  </div>
  <div class="modal-backdrop"></div>
</div>
