<div class="wrap container">
  <!--我的卡片1-->
  <div class="iconpage">
      <div class="title-box">
          <div class="item icon-btn">
              <button class="btn px-0" onclick="history.back()" data-toggle="tooltip" data-placement="bottom" title="回上一頁">
                  <i class="material-icons">&#xe314;</i>
              </button>
          </div>
          <div class="item title-name">我的卡片</div>
          <div class="item icon-btn btn-img">
          </div>
      </div>
      <div class="pb-5">
          <!--卡片初始頁-->
          <div [@layerTrigger] *ngIf="cardList.length === 0" class="my-info-box border-bottom-0">
              <div class="py-3 text-bluedk">
                  <p class="font-bold text-center pt-3 pb-1">尚未新增會員卡</p>
                  <p>快加入指定會員卡，可提升會員等級，還有一堆好禮優惠可以拿喔～</p>
              </div>
              <div class="py-3 text-center">
                  <label class="custom-file-upload" (click)="layerTrig = 1;this.appService.appShowMobileFooter(false);">
                      <div class="upload-box">
                          <img class="add-btnbg" src="../img/member/mycard.png">
                      </div>
                  </label>
                  <div class="passport-status">
                      立即新增卡片
                  </div>
              </div>
          </div>
          <!--卡片列表-->
          <div [@layerTrigger] *ngIf="cardList.length > 0">
            <div *ngFor="let card of cardList" class="member-item-group border-bottom-0 border-t text-center">
              <div class="mycard-box mt-4">
                  <img class="mycard-img" src="../img/member/mycard-blue.png">
                  <div class="mycard-info">
                      <img class="mycard-simg ml-auto pt-1 pr-2" src="../img/member/ipass1.png">
                      <p class="info-bc align-self-center txt-line-clamp1">{{card?.UserFavourite_Text1}}</p>
                      <p class="info-bb mt-auto ml-auto">{{card?.UserFavourite_Text2.substring(card?.UserFavourite_Text2.length-4)}}</p>
                  </div>
                  <img class="uploadphoto" src="../img/member/uploadphoto.png" (click)="toUpdateCard(card); layerTrig = 2">
              </div>
              <!-- <div class="small-80 pt-3 px-2 text-bluedk">＊如需記名服務，請至一卡通官網申請<a href="https://www.i-pass.com.tw/Miss" target="_blank" rel="noopener noreferrer"><span class="text-index">申請記名</span></a></div> -->
              <!-- 還未給連結 d-flex d-inline 暫不放入外層div class -->
              <div hidden class="p-3">
                  <button class="btn index-outline-btn w-50 m-2">乘車紀錄</button>
                  <button class="btn index-outline-btn w-50 m-2">消費紀錄</button>
              </div>
            </div>
          </div>
      </div>
  </div>

  <!--次頁-->
  <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 1" (@layerTrigger.done)="showAddCard()">
      <!--新增卡片2-->
      <div class="mycardadd">
        <div class="title-box">
          <div class="item icon-btn">
              <button class="btn px-0" (click)="layerTrig = 0; formAddCard.resetForm(); appService.appShowMobileFooter(true);" data-toggle="tooltip" data-placement="bottom" title="回上一頁">
                  <i class="material-icons">&#xe314;</i>
              </button>
          </div>
          <div class="item title-name">新增會員卡</div>
          <div class="item">
          </div>
        </div>
        <div class="my-list-box cardbox">
          <form #formAddCard="ngForm" (ngSubmit)="formAddCard.form.valid && cardNumLength && captchaCorrect && onAddCardSubmit(formAddCard)" id="addcard">
              <div class="item">
                  <ul>
                      <li>
                          <div class="item">名稱</div>
                          <div class="item input-box">
                              <input type="text" name="cardName" #cardName="ngModel"
                              [(ngModel)]="requestCard.UserFavourite_Text1" maxlength="50" placeholder="自訂卡片名稱">
                          </div>
                      </li>
                      <li>
                          <div class="item">卡片號碼<span class="text-org">*</span></div>
                          <div class="item input-box">
                              <input id="cardnumber" type="text" name="cardNumber" #cardNumber="ngModel" appDigitOnly
                              [(ngModel)]="requestCard.UserFavourite_Text2" (input)="checkLength()" inputmode="numeric" pattern="[0-9]*"
                              minlength="11" maxlength="16" placeholder="請輸入" required>
                          </div>
                      </li>
                      <li class="item small-80">
                          <div *ngIf="cardNumber.errors?.required && formAddCard.submitted" class="item text-danger numMK">請填寫卡片號碼</div>
                          <div *ngIf="(!cardNumber.errors?.required) && (!cardNumLength || cardNumber.invalid) && formAddCard.submitted"
                            class="item text-danger numMK">卡號長度錯誤</div>
                          <div class="small-end text-right ml-auto">
                              <span class="text-org cursor-pointer" (click)="layerTrigUp = 1">不知道卡片號碼在哪裡？</span>
                          </div>
                      </li>
                      <li>
                          <div class="item">身分證字號</div>
                          <div class="item input-box">
                              <input type="text" name="nationalID" #nationalID="ngModel"
                              [(ngModel)]="requestCard.UserFavourite_Text3" pattern="^[A-Z][12]\d{8}$" maxlength="10" placeholder="請輸入">
                          </div>
                      </li>
                      <li class="item small-end">
                        <div *ngIf="nationalID.invalid && nationalID.value !== null && formAddCard.submitted" class="item text-danger numMK">身分證字號格式錯誤</div>
                        <div class="small-end text-right ml-auto">記名式一卡通<br>請提供身分證字號驗證</div>
                      </li>
                      <li>
                          <div class="item">請輸入圖形驗證碼<span class="text-org">*</span></div>
                          <div class="item input-box">
                              <input name="captchaUserInput" #captchaUserInput="ngModel" [(ngModel)]="captchaInput"
                              (input)="checkCaptcha()"
                              id="captchaInput" type="text" placeholder="請輸入" required>
                          </div>
                      </li>
                      <li class="item small-80">
                          <div *ngIf="captchaUserInput.errors?.required && formAddCard.submitted" class="item text-danger imgMK">請輸入圖形驗證碼</div>
                          <div *ngIf="(!captchaUserInput.errors?.required) && !captchaCorrect && formAddCard.submitted" class="item text-danger imgMK">圖形驗證碼錯誤</div>
                          <div class="small-end text-right ml-auto">
                              <span class="text-org">*</span>為必填
                          </div>
                      </li>
                      <li class="item captchabox border-bottom-0">
                          <canvas width="140" height="36" id="captcha1"></canvas>
                          <button type="button" class="btn index-outline-btn catchaBtn py-1 mx-2" (click)="drawCaptcha()">重新產生</button>
                      </li>
                  </ul>
              </div>
              <div class="fixed-btn container">
                  <button type="submit" class="btn next-btn w-100">確認</button>
              </div>
          </form>
        </div>
      </div>
  </div>
  <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 2">
       <!--修改卡片2-->
       <div class="mycardedit">
          <div class="title-box">
              <div class="item icon-btn">
                  <button class="btn px-0" (click)="layerTrig = 0; formUpdateCard.resetForm();" data-toggle="tooltip" data-placement="bottom" title="回上一頁">
                      <i class="material-icons">&#xe314;</i>
                  </button>
              </div>
              <div class="item title-name">修改會員卡</div>
              <div class="item">
              </div>
          </div>
          <form #formUpdateCard="ngForm" (ngSubmit)="formUpdateCard.form.valid && onAddCardSubmit(formUpdateCard)">
            <div class="my-list-box">
              <div class="item">
                  <ul>
                      <li>
                          <div class="item">名稱</div>
                          <div class="item input-box">
                              <input type="text" name="UcardName" #UcardName="ngModel" [(ngModel)]="requestCard.UserFavourite_Text1" maxlength="50"
                              placeholder="自訂卡片名稱">
                          </div>
                      </li>
                      <li>
                          <div class="item">卡片號碼</div>
                          <div class="item input-box">
                              <input type="text" name="UcardNumber" #UcardNumber="ngModel"
                              [(ngModel)]="requestCard.UserFavourite_Text2" disabled class="text-a8">
                          </div>
                      </li>
                  </ul>
              </div>
              <div class="item text-center p-4">
                  <button type="button" class="btn index-outline-btn px-4" (click)="onDeleteCard(formUpdateCard)">解除綁定</button>
              </div>
              <div class="fixed-btn container">
                  <button type="submit" [disabled]="formUpdateCard.invalid || formUpdateCard.pristine"
                  [ngClass]="{'unable': formUpdateCard.invalid || formUpdateCard.pristine}" class="btn next-btn w-100">完成</button>
              </div>
              <div class="modal-backdrop fade show d-none"></div>
            </div>
          </form>
      </div>
  </div>

  <!--卡片圖示-->
  <div class="layerTrigUp container" [@layerTriggerUp] *ngIf="layerTrigUp === 1">
      <div class="mycardprompt slideInUp animated slow">
          <div class="cardnum-title">卡片號碼位置</div>
          <div class="cardnum">
              <p>一卡通</p>
              <img src="../img/member/mycardPrompt1.png">
              <p>一卡通聯名卡</p>
              <img src="../img/member/mycardPrompt2.png">
              <button type="button" class="btn index-outline-btn w-100 mt-4 masklayer-close" (click)="layerTrigUp = 0">關閉</button>
          </div>
      </div>
  </div>
</div>

<!-- <app-pc-footer></app-pc-footer> -->
<app-mobile-footer></app-mobile-footer>
