@import "../../../../../styles/module/variable";

.my-card-box {
  width: 100%;
  position: relative;
  .col-6 {
    padding-right: 0;
    padding-left: 0;
    .mycard-container {
      margin: .5em;
      border-radius: .75em;
    }
    button.btn-card {
      color: $blue-dark;
      width: 100%;
      border: 1px solid #E5E9F2;
      border-radius: .75em;
      display: block;
      &[disabled]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.3);
        border: .5em solid #fff;
        border-radius: 1.25em;
      }
    }
  }
  .card-img-box {
    position: relative;
    text-align: left;
    width: 100%;
    .rwdimg {
      border-radius: .75em;
    }
    .img-txt {
      font-size: medium;
      line-height: 2em;
      padding-bottom: .5em;
      margin: 1.5em 0 .75em 1.5em;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .img-icon {
      width: 96px;
      margin: 1em;
    }
    .img-plus {
      width: 56px;
      margin: 1.75em;
      float: right;
    }
    @media (max-width: 767px) {
      .img-txt {
        margin: .5em 0 0 1em;
        font-size: 90%;
      }
      .img-icon {
        width: 48px;
        margin: .75em;
      }
      .img-plus {
        width: 28px;
        margin: 1em .75em;
      }
    }
  }
}

.mycard-add-title {
  background: white;
  position: absolute;
  top: 0;
}
.mycard-add {
  position: fixed;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, 0);
  span {
    font-size: small;
  }
  @media (max-width: 767px) {
    bottom: 12%;
  }
  img {
    width: 24px;
    margin: 0 0.5em;
  }
  button {
    padding-left: 1em;
    padding-right: 1em;
    background: $mission-color;
    color: white;
    border-radius: 30px;
  }
}
.badge-card {
  background: #fff2eb;
  color: $member-default;
  margin: 0.25em 0.5em;
}

.card-fixed-bottom.tied {
  min-width: 170px;
  position: fixed;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
  .btn-tied-card {
    color: $blue-dark;
    background: #fff;
    padding: 1em 1.5em;
    border: 1px solid #E5E9F2;
    border-radius: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
  }
}


/** 新增卡片 */
.my-list-box {
  ul {
    background: $gray-light5;
    height: calc(100vh - 74px);
    li {
      background: #fff;
      &.bg-light{
        background: #FFFEF2;
        border-right: 3px solid #FF3B30;
        .input-box input[type='text'] {
          background-color: transparent;
        }
      }
      &:first-child {
        background: -webkit-linear-gradient(top, #fbfdfd, #eaeaea);
        background: -o-linear-gradient(bottom, #fbfdfd, #eaeaea);
        background: -moz-linear-gradient(bottom, #fbfdfd, #eaeaea);
        background: linear-gradient(to bottom, #fbfdfd, #eaeaea);
      }
      &:last-child {
        background: $gray-light5;
        border-bottom: none;
        padding-bottom: 74px;
      }
    }
  }
  p {
    background-color: transparent;
    transform: translateY(-6px);
    color: $index-default;
  }
  .card-line-height {
    line-height: 2.5em;
  }
  .card-info {
    color: $mission-color;
    width: 100%;
    text-align: center;
  }
  .card-warning {
    color: $mission-color;
    font-size: small;
  }
}

.small-warning {
  transform: translate(-2.3em, 1.7em);
  position: absolute;
}

.icheck-material-blue {
  display: flex;
  input[type='checkbox'] {
    min-width: 21px;
  }
}

/** 已綁定卡片 */
.tied-card-list {
  background: $gray-light5;
  height: calc(100vh - 74px);
  padding: 1em;
  .tied-card-item {
    margin-bottom: 1em;
    padding: 1em;
    background: #fff;
    border-radius: .5em;
    .d-flex {
      align-items: center;
      .item:first-child {
        width: 64px;
      }
      .item:last-child {
        width: 34px;
      }
      .tied-card-content {
        width: calc(100% - 98px);
        padding-left: .75em;
        padding-right: .75em;
        line-height: 2em;
        .tied-card-tag {
          line-height: 1.5em;
          width: 100%!important;
          display: inline-flex;
        }
        span {
          font-size: small;
          border-radius: 5px;
          padding: .2em .5em;
          margin-right: .5em;
          &.general-card {
            background: rgba(196, 196, 196, 0.2);
            color: rgba(130, 130, 130, 1);
            white-space: nowrap;
          }
          &.special-card {
            background: rgba(255, 242, 235, 1);
            color: rgba(253, 95, 0, 1);
            span {
              border-radius: 0;
              padding: 0;
              margin-right: 0;
              &::after{
                position: absolute;
                content: ",";
                display: contents;
              }
              &:last-child::after{
                position: absolute;
                content: "";
                display: contents;
              }
            }
          }
        }
        p {
          white-space: nowrap;
          color: #818181;
        }
      }
    }
  }

  .img-box {
    width: 48px;
    height: 48px;
    margin: .5em;
    .img-logo {
      border-radius: .15em;
      width: 100%;
      height: auto;
      padding-bottom: 100%;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .img-crud {
    height: 32px;
  }
}

.card-fixed-bottom.add {
  position: fixed;
  bottom: 2.4em;
  left: 50%;
  transform: translateX(-50%);
  .card-add-btn {
    min-width: 170px;
    padding: .75em 1.5em;
    color: #fff;
    background: $mission-color;
    border-radius: 30px;
    white-space: nowrap;
    &.unable {
      color: #fff;
      background: $gray-unable;
    }
    img {
      padding-right: .5em;
    }
    span {
      vertical-align: middle;
      font-size: small;
      font-weight: 700;
    }
  }
}

/** 榮民卡 */
.addCertificate {
  .bg-linear-gray {
    width: 100%;
    padding: 2em;
    text-align: center;
    justify-content: center;
    background: -webkit-linear-gradient(top, #fbfdfd, #eaeaea);
    background: -o-linear-gradient(bottom, #fbfdfd, #eaeaea);
    background: -moz-linear-gradient(bottom, #fbfdfd, #eaeaea);
    background: linear-gradient(to bottom, #fbfdfd, #eaeaea);
  }
  img.logo {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 240px;
    height: 240px;
    @media (max-width: 767px) {
      width: 120px;
      height: 120px;
    }
  }
  .veterans-info {
    width: 100%;
    padding: 1.5em;
    line-height: 2.5em;
    div {
      width: 100%;
    }
    .input-box input[type='text'] {
      text-align: left;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid #ccc;
    }
  }
}
