<div class="wrap container">
  <header>
    <div class="header-secondary container">
      <div class="index-flex justify-content-between">
        <div class="item two">
          <div class="close-btn">
            <button type="button" class="btn" onclick="history.back()" data-toggle="tooltip" data-placement="bottom"
              title="回上一頁">
              <i class="material-icons">&#xe314;</i>
            </button>
          </div>
        </div>
        <div class="item three text-center">
          <div class="title-name">Mobii! 榮民福利卡</div>
        </div>
        <div class="item two">
        </div>
      </div>
    </div>
  </header>
  <main>
    <div>
      <form #formAddCard="ngForm" id="addcard"
      (ngSubmit)="onAddCardSubmit(formAddCard)">
        <div class="item">
          <ul>
            <li class="bg-linear-gray">
              <img src="../../../../../img/member/veterans.png" class="logo">
            </li>
            <li class="border-0">
              <div class="veterans-info">
                <div>榮民證ID<span class="text-org">*</span></div>
                <div class="input-box">
                  <input class="w-100 border-bottom-1" type="text" inputmode="numeric" pattern="[0-9]*" maxlength="16"
                  placeholder="請輸入" name="cardNumber" [(ngModel)]="inputModel.cardNumber" #cardNumber="ngModel"
                  autofocus required>
                </div>
                <div class="py-5">
                  <button *ngIf="!cardNumber.invalid; else unable" type="submit" class="btn next-btn w-100">立即綁定</button>
                  <ng-template #unable><button type="button" class="btn next-btn unable w-100">立即綁定</button></ng-template>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </main>
</div>
