@import "../module/variable";

/* justka close button */
.modal-content .close-btn,
.popup-box .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
  color: gray;
}

iframe.justkaBox{
  width: 100%;
  height: 100%;
  min-height: 92vh;
  border-radius: 5px;
}

/* footer for-pc*/
  .border-t5{
    border-top: 5px solid #eee;
  }
  .border-t{
    border-top: 1px solid #ccc;
  }
  .border-b{
    border-bottom: 1px solid #ccc;
  }
  .f-left{
    float: left;
  }
  .f-right{
    float: right;
    line-height: 3em;
  }
  footer.for-pc img.logo-s{
    margin-top: .25em;
    vertical-align: middle;
    max-height: 30px;
  }

  footer.for-pc ul{
    margin-top: 0;
    margin-bottom: 14px;
  }
  footer.for-pc li{
    line-height: 28px;
    font-size: 0.9em ;
  }


// 共用 footer
footer.for-mobile {
  position: fixed;
  width: 101%;
  min-width: 320px;
  left: 50%;
  bottom: 0;
  z-index: 300;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  // transform: translateZ(0);
  // -webkit-transform: translateZ(0);
  @media (max-width: 767px) {
    height: 79px;
  }
  @media (max-width: 375px) {
    height: 63px;
  }
}

footer.for-pc{
  padding: 15px 0 0 0;
  background: #f8f8f8;
  width: 100%;
  min-width: 320px;
  position: relative;
  display: inline-block;
  bottom: 0;
  clear:both;
  height: 170px;
  @media (max-width: 767px) {
    display: none;
  }
}

// fixed button bottom
.fixed-btn{
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px;
  background-color: $default-white;
  box-shadow: 0 -5px 8px rgba(0,0,0,.2);
  div{
    padding: 0 15px;
  }
  button{
    margin: 0 15px;
    max-width: -webkit-fill-available;
  }
}

// cookieNotifyBox
.cookieNotifyBox {
  text-align: center;
  position: fixed;
  animation: MoveDownUp 2s ease-in-out;
  z-index: 1050;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  .cookieNotify {
    padding: 1em;
    color: #fff;
    p {
      font-size: small;
    }
    button {
      margin: 1em;
      padding: .5em 3em;
      font-size: medium;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 30px;
    }
  }
}
@keyframes MoveDownUp {
  0% {
    opacity: 1;
    bottom: -100%;
  }
  100% {
    opacity: 0;
    bottom: 0;
  }
}
