<div class="mypsw">
  <div class="headerbox container title-box">
    <div class="item icon-btn">
      <button type="button" class="btn px-0" onclick="history.back()" data-toggle="tooltip"
        data-placement="bottom" title="回上一頁">
        <i class="material-icons">&#xe314;</i>
      </button>
    </div>
    <div class="item title-name">變更密碼</div>
    <div class="item icon-btn"></div>
  </div>
  <form #formUpdatePwd="ngForm" (ngSubmit)="formUpdatePwd.form.valid && onUpdatePwd(formUpdatePwd)">
    <div class="change-password-list">
      <ul>
        <li class="is-open">
          <input [type]="[oldPswVisible? 'text' : 'password']" name="OldPwd" #OldPwd="ngModel" [(ngModel)]="requestUpdatePwd.OldPwd" required
          placeholder="舊密碼">
          <small id="oldPwdlHelp" class="form-text text-muted" *ngIf="OldPwd.touched && OldPwd.invalid">請輸入舊密碼</small>
          <span (click)="oldPswVisible = !oldPswVisible" toggle="#password-old" class="toggle-password">
            <i *ngIf="oldPswVisible" class="material-icons visibility">&#xE8F4;</i>
            <i *ngIf="!oldPswVisible" class="material-icons visibility-off">&#xE8F5;</i>
          </span>
        </li>
        <li>
          <div class="password-item">
            <input [type]="[newPswVisible? 'text' : 'password']" name="NewPwd" #NewPwd="ngModel" [(ngModel)]="requestUpdatePwd.NewPwd" required
            pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$" minlength="6" maxlength="12" placeholder="請輸入6～12位英數混合">
            <small *ngIf="NewPwd.touched && NewPwd.invalid" id="pwdlHelp" class="form-text text-muted">
              格式錯誤，請輸入6～12位英數混合
            </small>
            <small *ngIf="(NewPwd.touched || OldPwd.touched) && NewPwd.valid && OldPwd.value == NewPwd.value" id="pwdlChangeCheck" class="form-text text-muted">
              新密碼不可與舊密碼相同
            </small>
            <span (click)="newPswVisible = !newPswVisible" toggle="#password-field-1" class="toggle-password">
              <i *ngIf="newPswVisible" class="material-icons visibility">&#xE8F4;</i>
              <i *ngIf="!newPswVisible" class="material-icons visibility-off">&#xE8F5;</i>
            </span>
          </div>
        </li>
        <li>
          <div class="password-item">
            <input [type]="[newPsw2Visible? 'text' : 'password']" name="NewPwd2" #NewPwd2="ngModel" [(ngModel)]="requestUpdatePwd.NewPwd2" required
            minlength="6" maxlength="12"
            placeholder="再次輸入新密碼">
            <small *ngIf="NewPwd2.touched && NewPwd2.value !== NewPwd.value" class="form-text text-muted">兩個密碼不相符</small>
            <span (click)="newPsw2Visible = !newPsw2Visible">
              <i *ngIf="newPsw2Visible" class="material-icons visibility">&#xE8F4;</i>
              <i *ngIf="!newPsw2Visible" class="material-icons visibility-off">&#xE8F5;</i>
            </span>
          </div>
        </li>
      </ul>
      <button type="submit"
      [disabled]="OldPwd.value === NewPwd.value || formUpdatePwd.invalid ||  NewPwd.value !== NewPwd2.value "
      [ngClass]="{'unable': OldPwd.value === NewPwd.value || formUpdatePwd.invalid ||  NewPwd.value !== NewPwd2.value }"
      class="btn next-btn w-100">保存</button>
    </div>
  </form>
</div>
