<div class="wrap container">
  <header>
    <div class="header-secondary container">
      <div class="index-flex justify-content-between">
        <div class="item two">
          <div class="close-btn">
            <button type="button" class="btn" onclick="history.back();" data-toggle="tooltip" data-placement="bottom"
              title="回上一頁">
              <i class="material-icons">&#xe314;</i><span>我的卡片</span>
            </button>
          </div>
        </div>
        <div class="item three text-center">
          <div class="title-name">新增卡片</div>
        </div>
        <div class="item two">
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="my-list-box">
      <form #formAddCard="ngForm" id="addcard" (ngSubmit)="onAddCardSubmit(formAddCard)">
        <div class="item">
          <ul>
            <li class="item">
              <div class="row text-center">
                <div class="col-12 pt-2">
                  <h5 class="text-muted">卡號位置</h5>
                </div>
                <div class="col-6 px-0">
                  <img [hidden]="cardItemCode === '11'" src="../img/member/my_ipass1.png" class="img-fluid">
                  <img [hidden]="cardItemCode === '1'" src="../img/member/my_easycard1.png" class="img-fluid">
                  <p>{{cardTitle}}</p>
                </div>
                <div class="col-6 px-0">
                  <img [hidden]="cardItemCode === '11'" src="../img/member/my_ipass2.png" class="img-fluid">
                  <img [hidden]="cardItemCode === '1'" src="../img/member/my_easycard2.png" class="img-fluid">
                  <p>{{cardTitle}}聯名卡</p>
                </div>
              </div>
            </li>
            <li class="py-1">
              <strong class="card-info">填寫卡片資料</strong>
            </li>
            <li class="card-line-height" [ngClass]="{'bg-light': (cardNumber.touched && cardNumber.invalid)}">
              <div class="d-flex w-100">
                <div class="item">卡片號碼<span class="text-org">*</span></div>
                <div class="item input-box">
                  <input type="text" inputmode="numeric" pattern="[0-9]*" [minlength]="cardNumberMinlength" maxlength="16" name="cardNumber" placeholder="請輸入"
                  [(ngModel)]="inputModel.cardNumber" #cardNumber="ngModel" appDigitOnly autofocus required>
                </div>
              </div>
              <div class="small-warning text-right">
                <ng-container *ngIf="cardNumber.touched && cardNumber.invalid && (cardNumber.value === undefined || cardNumber.value === '')">
                  卡片號碼不可為空
                </ng-container>
                <ng-container *ngIf="cardNumber.touched && cardNumber.invalid && cardNumber.value !== undefined && cardNumber.value !== ''">
                  卡號長度不足{{cardNumberMinlength}}碼
                </ng-container>
              </div>
            </li>
            <li class="card-line-height">
              <div class="item">名稱</div>
              <div class="item input-box">
                <input type="text" maxlength="50" placeholder="自訂卡片名稱"
                name="cardName" [(ngModel)]="inputModel.cardName" #cardName="ngModel">
              </div>
            </li>
            <li class="card-line-height">
              <div class="d-flex w-100">
                <div class="item">身分證字號</div>
                <div class="item input-box">
                  <input type="text" pattern="^[A-Za-z][12]\d{8}$" maxlength="10" placeholder="請輸入"
                  name="nationalID" [(ngModel)]="inputModel.nationalID" #nationalID="ngModel"
                  [value]="nationalID.value !== undefined ? (nationalID.value | uppercase): ''">
                </div>
              </div>
              <div class="small-warning text-right">
                <ng-container *ngIf="nationalID.touched && nationalID.invalid">
                  字首為大寫英文＋9組純數字
                </ng-container>
              </div>
            </li>
            <li class="d-block">
              <strong class="card-warning">
                <i class="material-icons error_outline">&#xe001;</i>
                已記名之卡片，請提供身分證字號驗證
              </strong>
              <br>
              <strong class="card-warning">
                <div class="sitem-checkbox py-1">
                  <div class="icheck-material-blue">
                      <input id="checkOK" type="checkbox" (change)="checkOn($event)" />
                      <label for="checkOK">我同意艾斯移動（Mobii!平台）使用本卡內之會員個人資料及交易資料，以利發放點數回饋及參與Mobii!平台活動。</label>
                  </div>
                </div>
              </strong>
            </li>
          </ul>
        </div>
        <div class="fixed-btn container">
          <button *ngIf="!cardNumber.invalid && isChecked; else unable" type="submit" class="btn next-btn w-100">確認</button>
          <ng-template #unable><button type="button" class="btn next-btn unable w-100">確認</button></ng-template>
        </div>
      </form>
    </div>
  </main>
</div>
