@import "../../../../../styles/module/variable";

main {
  padding-bottom: 0;
}

.my-list-box {
  ul {
    background: $gray-light5;
    height: calc(100vh - 74px);
    li {
      background: #fff;
      &.bg-light{
        background: #FFFEF2;
        border-right: 3px solid #FF3B30;
        .input-box input[type='text'] {
          background-color: transparent;
        }
      }
      &:first-child {
        background: -webkit-linear-gradient(top, #fbfdfd, #eaeaea);
        background: -o-linear-gradient(bottom, #fbfdfd, #eaeaea);
        background: -moz-linear-gradient(bottom, #fbfdfd, #eaeaea);
        background: linear-gradient(to bottom, #fbfdfd, #eaeaea);
      }
      &:last-child {
        background: $gray-light5;
        border-bottom: none;
        padding-bottom: 74px;
      }
    }
  }
  p {
    background-color: transparent;
    transform: translateY(-6px);
    color: $index-default;
  }
  .card-line-height {
    line-height: 2.5em;
  }
  .card-info {
    color: $mission-color;
    width: 100%;
    text-align: center;
  }
  .card-warning {
    color: $mission-color;
    font-size: small;
  }
}

.small-warning {
  transform: translate(-2.3em, 1.7em);
  position: absolute;
}

.icheck-material-blue {
  display: flex;
  input[type='checkbox'] {
    min-width: 21px;
  }
}
