<div class="wrap container">
  <!--我的票券-->
  <header>
      <div class="header-secondary container">
          <div class="index-flex justify-content-between">
              <div class="item two">
                  <div class="close-btn">
                       <button type="button" class="btn" onclick="history.back()" data-toggle="tooltip" data-placement="bottom" title="回上一頁">
                          <i class="material-icons">&#xe314;</i>
                      </button>
                  </div>
              </div>
              <div class="item three text-center">
                  <div class="title-name">我的車票</div>
              </div>
              <div class="item two">
              </div>
          </div>
      </div>
  </header>
  <div class="iconpage">
      <!-- tab content for record-->
      <div class="afp-tab-box">
          <div class="afp-tab">
              <div class="nav-tabs-box">
                  <!-- Nav tabs -->
                  <ul class="nav-tab-list nav nav-tabs nav-line d-flex justify-content-around" role="tablist">
                    <li (click)="readTicketList(1)" role="presentation" class="active">
                      <a class="tablist-link active" role="tab" data-toggle="tab" aria-selected="true">可用票券</a>
                    </li>
                    <li (click)="readTicketList(2)" role="presentation">
                        <a class="tablist-link" role="tab" data-toggle="tab" aria-selected="false">歷史票券</a>
                    </li>
                  </ul>
                  <div class="tab-line w-100"></div>
              </div>
              <!-- 票券 Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active show w-100" id="tickettag01">
                    <div class="div-switch d-block">
                      <!-- 搜尋輸入框 -->
                      <div class="d-flex py-1">
                          <div class="w-100 p-3">
                              <div class="input-box border border-radius5">
                                  <button class="btn p-2"><i class="material-icons">&#xE8B6;</i></button>
                                  <input type="search" [(ngModel)]="searchText" placeholder="搜尋" class="border-0 w-80">
                              </div>
                          </div>
                          <div class="w-20 d-none">
                              <button class="btn w-100">取消</button>
                          </div>
                        </div>
                      </div>
                      <!-- 分類與篩選暫不顯示 -->
                      <div class="div-switch d-none">
                        <div class="choice-filter-box py-1">
                            <div class="flex-inline-between d-none">
                                <div class="item center-v">選擇分類</div>
                                <div class="item pr-2">
                                    <button class="btn px-0 filter-item" data-filter="type"><i class="material-icons">&#xE313;</i></button>
                                </div>
                            </div>
                            <div class="filter-box">
                                <button class="btn px-0 item-search"><i class="material-icons">&#xe8b6;</i></button>
                            </div>
                            <div class="filter-box d-none" (click)="appService.callsortLayer('.sortpage1');">
                                <button class="btn px-0"><i class="material-icons">&#xE152;</i></button>
                            </div>
                        </div>
                    </div>
                      <div class="filter-outbox">
                          <div class="filter-main">
                              <div class="mask-container d-none w-100 h-100"></div>
                              <div class="mycoin-couponbox card-columns px-3">
                                <!-- 票券 -->
                                  <a *ngFor="let ticket of ticketList | textFilter : searchText : 2" (click)="goToDetail(ticket?.UserTicket_Code)" class="card border-radius5">
                                      <div class="ticket-card card-body">
                                          <div class="card-text">
                                              <div class="ticket-card-grid">
                                                  <div class="item">
                                                      <img src="../img/share/2600_w.png" class="nearbyimg" alt="">{{ticket?.UserTicket_ShowType}}
                                                  </div>
                                                  <div class="item d-flex">
                                                      <div class="item one img-box rwdimgbox-80">
                                                          <div [style.background-image]="'url('+ticket?.UserTicket_ShowImg+')' | Safe: 'style'" class="rwdimg"></div>
                                                      </div>
                                                      <div class="item three px-2">
                                                          <div class="ticket-stat">{{ticket?.UserTicket_UsedStateShowName}}</div>
                                                          <p>{{ticket?.UserTicket_Title}}</p>
                                                          <p class="ticket-des">{{ticket?.UserTicket_ShowName}}</p>
                                                          <p *ngIf="ticket?.UserTicket_Date === ticket?.UserTicket_LimitDate">使用效期：{{ticket?.UserTicket_LimitDate | date: 'yyyy/MM/dd'}}</p>
                                                          <p *ngIf="ticket?.UserTicket_Date !== ticket?.UserTicket_LimitDate">使用效期：{{ticket?.UserTicket_Date | date: 'yyyy/MM/dd'}} ~ {{ticket?.UserTicket_LimitDate | date: 'yyyy/MM/dd'}}</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </a>
                              </div>
                          </div>
                          <!-- 目錄篩選視窗（暫無此功能） -->
                          <div id="type" class="filter-content pb-wrap">
                              <ul class="open-page-ul">
                                  <li class="flex-inline-between">
                                      <div>
                                          全部顯示
                                      </div>
                                      <div>
                                          <span>22</span>
                                          <i class="fas fa-check"></i>
                                      </div>
                                  </li>
                                  <li class="flex-inline-between active">
                                      <div>
                                          台北
                                      </div>
                                      <div>
                                          <span>8</span>
                                          <i class="fas fa-check"></i>
                                      </div>
                                  </li>
                                  <li class="flex-inline-between">
                                      <div>
                                          台中
                                      </div>
                                      <div>
                                          <span>2</span>
                                          <i class="fas fa-check"></i>
                                      </div>
                                  </li>
                                  <li class="flex-inline-between">
                                      <div>
                                          高雄
                                      </div>
                                      <div>
                                          <span>2</span>
                                          <i class="fas fa-check"></i>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>


  <!-- 篩選（暫無此功能）-->
  <div class="sortlayer">
      <div class="sortpage1">
          <div id="open-pagebox">
              <div class="open-page-title flex-inline-between">
                  <button class="btn" onclick="backsortLayer();">
                      <i class="material-icons">&#xe314;</i>
                  </button>
                  <div class="title-txt">
                      商品分類
                  </div>
                  <button class="btn" onclick="backsortLayer();">
                      確定
                  </button>
              </div>
              <ul class="open-page-ul">
                  <li class="flex-inline-between">
                      <div class="">
                          全部顯示
                      </div>
                      <div class="">
                          <i class="fas fa-check"></i>
                      </div>
                  </li>
                  <li class="flex-inline-between">
                      <div class="">
                          內容文字
                      </div>
                      <div class="">
                          <span>3</span>
                          <i class="fas fa-check"></i>
                      </div>
                  </li>
                  <li class="flex-inline-between">
                      <div class="">
                          內容文字
                      </div>
                      <div class="">
                          <span>51</span>
                          <i class="fas fa-check"></i>
                      </div>
                  </li>
                  <li class="flex-inline-between">
                      <div class="">
                          內容文字
                      </div>
                      <div class="">
                          <span>121</span>
                          <i class="fas fa-check"></i>
                      </div>
                  </li>
                  <li class="flex-inline-between">
                      <div class="">
                          內容文字
                      </div>
                      <div class="">
                          <span>1</span>
                          <i class="fas fa-check"></i>
                      </div>
                  </li>
                  <li class="flex-inline-between active">
                      <div class="">
                          內容文字
                      </div>
                      <div class="">
                          <span>1</span>
                          <i class="fas fa-check"></i>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>

</div>
