<div class="modal-header" data-dismiss="modal" aria-label="Close">
</div>
<div class="popup-banner for-mobile">
    <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="this.bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    <!-- <img src="https://wu-medoc.github.io/eyesmedia_afp/img/index/login_banner.png" alt=""> -->
</div>
<div class="modal-body">
    <!-- <div class="logo-box">
        <img src="https://wu-medoc.github.io/eyesmedia_afp/img/share/mlogo.png" alt="">
    </div>        -->
    <div class="index-flex pt-0">
        <div class="item one d-flex justify-content-start">
            <button type="button" class="btn px-2 close" data-toggle="modal" data-target="#loginModalCenter"
            (click)="modal.openModal('login', bsModalRef)"  data-dismiss="modal" aria-label="Close">
                <i class="material-icons">&#xe314;</i>
            </button>
        </div>
        <div class="item two">
            <h5>忘記密碼</h5>
        </div>
        <div class="item one"></div>
    </div>
    <div class="container px-3 py-2">
        <h6 class="text-left">
            為了保障您的個人資料安全，在重新設定密碼之前，請先再度進行手機驗證
        </h6>
        <form id="forget-form" #changePwdForm="ngForm" (ngSubmit)="changePwdForm.form.valid && onSubmit()">
            <div class="row">
                <div class="col-12 text-left pt-4">
                    帳號
                </div>
                <div class="col-12 pb-3">
                    <input type="text" placeholder="請輸入註冊時使用的手機號碼" id="vphone" name="AFPAccount" #AFPAccount="ngModel"
                        [(ngModel)]="request.AFPAccount"
                        [ngClass]="{'bb-org': changePwdForm.submitted && AFPAccount.invalid}" required>
                    <div class="small-warning pl-0 warningNote visible">
                        <span *ngIf="changePwdForm.submitted && AFPAccount.invalid">請輸入帳號</span></div>
                </div>
                <div class="col-12 text-left">
                    驗證碼
                </div>
                <div class="col-7 pb-3 pr-0">
                    <input type="text" placeholder="請輸入收到的驗證碼" id="vcode" name="AFPVerify"
                        [(ngModel)]="verify.AFPVerify" #AFPVerify="ngModel"
                        [ngClass]="{'bb-org': changePwdForm.submitted && AFPVerify.invalid}" required>
                    <div class="small-warning t-gray pl-0 stepV1 visible" [ngClass]="{'invisible': vcodeSeconds===0}">
                        <p>驗證碼已發送至 {{request.AFPAccount}}<br>
                          沒有收到驗證碼？<span class="text-blue">{{vcodeSeconds}}秒後可重新點選「取得驗證碼」</span></p>
                    </div>
                    <div class="small-warning pl-0 warningNote visible">
                        <span *ngIf="changePwdForm.submitted && AFPVerify.invalid">請輸入驗證碼</span></div>
                </div>
                <div class="col-5 pl-1">
                    <button type="button" class="btn index-btn border-radius5 w-100 px-1 small-70 " id="getPhone"
                    [ngClass]="{'gray-btn': vcodeSeconds !== 0}"
                    (click)="setVcode();" [disabled]="vcodeSeconds !== 0">取得手機驗證碼</button>
                </div>
                <div class="col-12 py-3">
                    <button type="submit" class="btn index-btn footerBtn msg-open" value="msg-vphone"
                        data-toggle="modal" data-target="#messageModal" data-dismiss="modal"
                        [ngClass]="{'gray-btn': this.verify.UserInfo_Code === 0}" [disabled]="this.verify.UserInfo_Code === 0"
                        aria-label="Close">立即驗證</button>
                </div>
            </div>
        </form>
        <!-- <form id="forget-form">
            <input type="text" placeholder="Email/手機" id="vcode">
            <button type="button" class="btn index-btn w-100 btn-vcode" data-toggle="modal" data-target="#VcodeModalCenter" data-dismiss="modal" aria-label="Close">發送驗證碼</button>
        </form> -->
    </div>
</div>
