<div class="wrap container" id="content">
  <header class="shopping-headerbox">
    <app-index-header [forPc]="true"></app-index-header>
    <div class="kv-mask"></div>
    <div class="for-mobile fixed-top">
      <div class="shopping-headermobile container">
        <div class="top-goback">
          <div class="back-go">
            <button type="button" onclick="history.back()" data-toggle="tooltip" data-placement="top" title="回上一頁"><i
                class="material-icons">&#xe314;</i></button>
          </div>
        </div>
        <div class="go-cart">
          <div class="top-item climate">
            <button [routerLink]="['/Shopping/ShoppingCart']" class="badge-img px-2" data-toggle="tooltip"
              data-placement="bottom" title="購物車">
              <span *ngIf="cartCount > 0" class="badge badge-on">{{cartCount > 99 ? '99+' : cartCount}}</span><img
                src="../img/shopping/cart_white.png" class="h38">
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="pt-0">
    <!-- 置頂廣告-->
    <div class="kvbn-box shoppingkv-mt">
      <swiper class="shoppingkv swiper-container" [config]="shoppingAdTop">
        <div class="swiper-wrapper">
          <a *ngFor="let ad of adImgTop;" href="{{ad.ADImg_URL}}" target="{{ad.ADImg_URLTarget}}"
            rel="noopener noreferrer" class="swiper-slide">
            <div [lazyLoad]="ad?.ADImg_Img" [defaultImage]="appService.defaultImage" class="kvbn-img"></div>
          </a>
        </div>
      </swiper>
    </div>
    <!-- shopping-icon use swiper 目錄/使用者服務-->
    <div class="container mb-2 px-3 shopping-iconbox">
      <swiper class="shopping-icon swiper-container" [config]="shoppingIcon">
        <div class="swiper-wrapper">
          <a *ngFor="let func of functions" href="{{func.Function_URL}}" class="swiper-slide">
            <div>
              <img [lazyLoad]="func.Function_Icon" [defaultImage]="appService.defaultImage" alt="">
              <div class="icon-txt">{{func.Function_Name}}</div>
            </div>
          </a>
        </div>
      </swiper>
    </div>

    <!-- shopping-banner use swiper 中間廣告 -->
    <div class="container px-3 pb-3">
      <swiper class="shopping-banner swiper-container" [config]="shoppingAd">
        <div class="swiper-wrapper">
          <a *ngFor="let ad of adImgActivity" href="{{ad.ADImg_URL}}" target="{{ad.ADImg_URLTarget}}"
            rel="noopener noreferrer" class="swiper-slide">
            <div class="shopping-bn-imgbox">
              <div class="rwdimg-cover h37" [lazyLoad]="ad?.ADImg_Img" [defaultImage]="appService.defaultImage"></div>
            </div>
          </a>
        </div>
        <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
      </swiper>
    </div>

    <!-- discout 優惠券-->
    <div *ngIf="voucherList?.length > 0" class="container other-discount-list">
      <div class="p-3">
        <h6>{{voucherList[0]?.UserDefine_Name}}</h6>
        <div class="discount-more"><a [routerLink]="['/Voucher/ShoppingOffers']">更多優惠券</a></div>
        <div class="row">
          <div *ngFor="let voucher of voucherList[0].VoucherData;" class="col-sm-12 col-md-6 discount-box">
            <div class="discount-item">
              <div class="item">
                <div
                  [routerLink]="voucher?.Voucher_UserVoucherCode === null? ['/Voucher/VoucherDetail', voucher.Voucher_Code] : ['/Voucher/VoucherDetail', voucher.Voucher_UserVoucherCode]"
                  class="rwdimgbox-80">
                  <div class="rwdimg-cover" [lazyLoad]="voucher?.Voucher_Image"
                    [defaultImage]="appService.defaultImage"></div>
                </div>
              </div>
              <div class="item discount-text">
                <p>{{voucher.Voucher_Title}}</p>
                <p><i class="material-icons local_offer">&#xe54e;</i> <span>{{voucher?.Voucher_ExtName}}</span></p>
                <p>{{voucher.Voucher_UsedOnDate | date: 'yyyy/MM/dd' }} ~ {{voucher.Voucher_UsedOffDate | date:
                  'yyyy/MM/dd'}}</p>
              </div>
              <div class="item ">
                <div class="line-box"></div>
                <div class="circle circle-top"></div>
                <div class="circle circle-bottom"></div>
                <div class="d-flex flex-column">
                  <button (click)="toVoucher(voucher)"
                    [disabled]="appService.loginState && (voucher.Voucher_IsFreq === 0 || voucher.Voucher_IsFreq === 3)"
                    [ngClass]="{'gray-obtn': voucher.Voucher_IsFreq === 0 || voucher.Voucher_IsFreq === 3,
                                'index-btn': voucher.Voucher_IsFreq === 1,
                                'index-outline-btn': voucher.Voucher_IsFreq === 2 || voucher.Voucher_IsFreq === 5}"
                    class="btn small-80">
                    {{!appService.loginState ? '兌換' : voucher.Voucher_FreqName}}
                  </button>
                  <div *ngIf="voucher.Voucher_DedPoint > 0" class="m-quantity small">
                    <img src="../img/share/mobiicoin_red.png" class="coinimg-m">
                    {{voucher.Voucher_SpecialPoint > 0 ? voucher.Voucher_SpecialPoint : voucher.Voucher_DedPoint |
                    currency: '':'':'1.0-2'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Hot products -->
    <div *ngFor="let dir of channelProducts" class="container mb-2 px-3 pt-3 border-t5" id="shopping-hotproductsbox">
      <h6>{{dir.UserDefine_Name}}</h6>
      <swiper class="shopping-products swiper-container" [config]="shoppingProd">
        <div class="swiper-wrapper">
          <div *ngFor="let product of dir.ProductData" class="swiper-slide">
            <div class="products-item">
              <a [routerLink]="['/Shopping/ProductDetail', dir.UserDefine_Code, product.Product_Code]">
                <div class="products-img">
                  <div class="img-box">
                    <div class="rwdimg-cover" [lazyLoad]="product.Product_PrimeImage"
                      [defaultImage]="appService.defaultImage"></div>
                  </div>
                </div>
                <div class="products-title">
                  <p class="txt-line-clamp1">{{product.Product_ExtName}}</p>
                </div>
                <div class="products-price">
                  <div class="price-original" *ngIf="product.Product_SpecialPrice > 0">{{product.Product_SellPrice |
                    currency: 'TWD':'$':'1.0-2' }}</div>
                  <div class="price-asking">{{product.Product_SpecialPrice > 0? (product.Product_SpecialPrice |
                    currency: 'TWD':'$':'1.0-2') : (product.Product_SellPrice | currency: 'TWD':'$':'1.0-0')}}</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </swiper>
    </div>

    <!-- recently products -->
    <div class="container mb-2 px-3 pt-3 border-t5" id="shopping-recentlyproductsbox">
      <h6>近期熱門商品</h6>
      <!-- masonry products -->
      <div class="products-recently">
        <div class="grid">
          <div class="products-sizer"></div>
          <ngx-masonry [options]="masonry">
            <div ngxMasonryItem *ngFor="let product of hotProducts" class="products-item">
              <a [routerLink]="['/Shopping/ProductDetail', product.Product_UserDefineCode, product.Product_Code]">
                <div class="products-img">
                  <div class="img-box">
                    <div class="rwdimg-cover" [lazyLoad]="product?.Product_PrimeImage"
                      [defaultImage]="appService.defaultImage"></div>
                  </div>
                </div>
                <div class="products-title">
                  <p class="txt-line-clamp2">{{product.Product_ExtName}}</p>
                </div>
                <div class="products-price">
                  <div class="price-asking">{{product.Product_SpecialPrice > 0? (product.Product_SpecialPrice |
                    currency: 'TWD':'$':'1.0-2') : (product.Product_SellPrice | currency: 'TWD':'$':'1.0-0')}}</div>
                  <div class="price-original" *ngIf="product.Product_SpecialPrice > 0">{{product.Product_SellPrice |
                    currency: 'TWD':'$':'1.0-2' }}</div>
                </div>
              </a>
            </div>
          </ngx-masonry>
        </div>
      </div>
    </div>

  </main>
</div>

<app-pc-footer></app-pc-footer>
<app-mobile-footer></app-mobile-footer>
