<div class="mobii-topbox" [ngClass]="{'for-pc': forPc}">
  <div class="container">
    <div class="d-flex">
      <img src="img/share/mlogo.png" class="m-topbox-item mobiitoplogo" [routerLink]="['/']">
      <!-- 搜尋列 -->
      <div class="s-bar-gray pc">
        <div class="input-box border-radius5 d-flex">
          <button class="btn p-1" (click)="searchOffers($event.target.value)"><i class="material-icons">&#xE8B6;</i></button>
          <input type="text" inputmode="search" placeholder="搜尋優惠券" class="border-0 w-100" (keyup.enter)="searchOffers($event.target.value);">
        </div>
      </div>
    </div>
    <div class="m-topbox-item d-flex align-items-center">
      <!-- 引導下載App QR Code -->
      <div class="for-pc dwloadApp">下載App
        <div class="appQR">
          <qrcode [qrdata]="'https://mobii.ai/ForApp/AppDownload'" [width]="116" [errorCorrectionLevel]="'L'"
            id="qrcode">
          </qrcode>
          <strong>下載享優惠</strong>
        </div>
      </div>
      <!-- 未登入 -->
      <button (click)="oauthService.loginPage(appService.pathnameUri)" *ngIf="appService.loginState===false" type="button"
        class="m-topbox-item btn bluedk-outline-btn btw-small">
        登入/註冊
      </button>
      <!-- 電腦版 登入 -->
      <div *ngIf="appService.loginState===true" class="userbox">
        <div *ngIf="appService.loginState===true" class="txt-line-clamp1 user-hi"><a
            [routerLink]="['/Member']">你好，{{appService.userName}}</a> </div>
      </div>
      <ul *ngIf="appService.loginState===true" class="userdrop nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="img/index/seemore.png" class="h48">
            <ng-container *ngIf="appService.pushCount > 0">
              <div class="more-dot menu-dot"></div>
            </ng-container>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a (click)="goTo()" [routerLink]="['/Notification']">
                <img src="img/share/drop_notification.png" alt="">我的通知</a>
                <ng-container *ngIf="appService.pushCount > 0">
                  <div class="more-dot"></div>
                </ng-container>
              </li>
            <li>
              <a [routerLink]="['/MemberFunction/MemberDiscount']">
                <img src="img/share/drop_discount.png" alt="">我的優惠</a></li>
            <li>
              <a [routerLink]="['/MemberFunction/MemberFavorite']">
                <img src="img/share/drop_favorite.png" alt="">我的收藏</a></li>
            <li>
              <a [routerLink]="['/MemberFunction/MemberOrder']">
                <img src="img/share/drop_order.png" alt="">我的訂單</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <img src="img/index/txt.png" class="m-topbox-item sloger">
</div>
