<div class="modal-header" data-dismiss="modal" aria-label="Close">
</div>
<div class="popup-banner for-mobile">
  <button [hidden]="appService.isApp !== null" type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <!--<img src="/img/index/login_banner.png" alt="">-->
</div>
<div class="modal-body">
  <div class="logo-box">
    <img src="/img/share/mlogo.png" alt="">
  </div>
  <h5>會員註冊</h5>
  <div class="container px-3">
    <div class="login-method" [hidden]="true">
      <div class="method-item">
        <img (click)="signInWithFB()" src="https://www.mobii.ai/img/index/social/facebook.png"
             alt="">
      </div>
      <div class="method-item" style="display: none;">
        <img src="https://www.mobii.ai/img/index/social/line.png" alt="">
      </div>
      <div class="method-item">
        <img (click)="signInWithGoogle()" src="https://www.mobii.ai/img/index/social/google.png"
             alt="">
      </div>
      <div class="method-item" style="display: none;">
        <img src="https://www.mobii.ai/img/index/social/wechat.png" alt="">
      </div>
    </div>
    <div class="line-middle" [hidden]="true">
      <div class="line-middle-middle-line">
        <span class="line-middle-line-text">或</span>
      </div>
    </div>
    <form id="registered-form" #regForm="ngForm" (ngSubmit)="regForm.form.valid && onRegSubmit()">
      <ul class="nav nav-tabs justify-content-center" id="regTab" role="tablist" [hidden]="true">
        <li class="nav-item" >
          <a class="nav-link" id="email-tab" data-toggle="tab" href="#email" role="tab" aria-controls="email"
             aria-selected="false" (click)="SwitchRegType(2)">電子信箱</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="phone-tab" data-toggle="tab" href="#phone" role="tab" aria-controls="phone"
             aria-selected="true" (click)="SwitchRegType(1)">手機</a>
        </li>
      </ul>
      <div class="pt-3">
        <div class="form-group form-inline">
            <label>暱稱<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="registeredInputNickname" placeholder="請輸入 1 到 10 個字元"
          name="AFPNickName" [(ngModel)]="register.AFPNickName" #AFPNickName="ngModel" maxlength="10" required>
          <div class="small-warning" *ngIf="(regForm.submitted || AFPNickName.touched) && !AFPNickName.valid">
            暱稱請勿空白
          </div>
        </div>
      </div>
      <div class="tab-content" id="regTabContent">
        <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
          <div class="form-group form-inline">
              <label>E-mail<span class="text-danger">*</span></label>
            <input type="email" class="form-control" id="registeredInputEmail" autocomplete="off" placeholder="請輸入電子信箱"
                   name="AFPAccount" [(ngModel)]="register.AFPAccount" #AFPAccount="ngModel"
                   pattern="[a-z0-9\*._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required [disabled]="register.AFPType === 1">
                   <!-- [a-zA-Z0-9.]+@[a-zA-Z0-9.]+ -->
            <div class="small-warning" *ngIf="(regForm.submitted || AFPAccount.touched) && !AFPAccount.valid">
              電子信箱輸入錯誤
            </div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="phone" role="tabpanel" aria-labelledby="phone-tab">
          <table class="form-group reg-form">
            <tbody>
              <tr>
                <td>
                    手機<span class="text-danger">*</span>
                </td>
                <td>
                  <!-- <select class="custom-select" name="AFPAccountCTY" required
                          [(ngModel)]="register.AFPAccountCTY" #AFPAccountCTY="ngModel">
                    <option value="886" selected>台灣 +886</option>
                    <option value="86">中國大陸 86</option>
                    <option value="856">香港 856</option>
                  </select> -->
                  <button type="button" class="text-secondary telcode btn">台灣 +886</button>
                </td>
                <td></td>
                <td>
                  <input type="tel" class="form-control" id="registeredInputPhone" autocomplete="off" placeholder="請輸入完整手機號碼" name="AFPPhone"
                         [(ngModel)]="register.AFPAccount" #AFPPhone="ngModel" pattern="\d{10}$" required
                         [disabled]="register.AFPType === 2">
                  <!-- <div class="small-warning" *ngIf="AFPAccountCTY.touched && !AFPAccountCTY.valid">請選擇國碼</div> -->
                  <div class="small-warning regtd" *ngIf="(regForm.submitted || AFPPhone.touched) && !AFPPhone.valid">格式不符</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="bg-white regfooter">
          <div class="form-check form-inline text-left  pl-2 icheck-material-blue small">
            <input type="checkbox" class="form-check-input mt-0" id="registeredCheck1" name="Agree" required
                   [(ngModel)]="register.Agree" #Agree="ngModel">
            <label class="form-check-label" for="registeredCheck1">我同意 Mobii! 的</label>
            <a href='/Terms' target="_blank" class="font-bold">&ensp;會員條款&ensp;</a>及
            <a href='/Privacy' target="_blank" class="font-bold">&ensp;隱私政策&ensp;</a>
          </div>
          <div class="small-warning" *ngIf="regForm.submitted && !Agree.valid">請勾選同意</div>
          <button type="submit" [disabled]="regForm.invalid" class="btn index-btn w-100 send-veri-code">
            傳送驗證碼
          </button>
          <p class="text-left">
            己經是會員了嗎?
            <button type="button" class="btn btn-login px-0 font-bold"
                    (click)="GoLogin()">
              馬上登入
            </button>
            <a (click)="bsModalRef.hide();" [routerLink]="['/QA']" class="font-bold small-80 float-right px-2">常見問題</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
