<div class="wrap container">
  <header>
    <div class="header-secondary container">
      <div class="index-flex justify-content-between">
        <div class="item two">
          <div class="close-btn">
            <app-back-btn></app-back-btn>
          </div>
        </div>
        <div class="item three text-center">
          <div class="title-name">遊戲館</div>
        </div>
        <div class="item two">
          <button (click)="oauthService.loginPage(appService.pathnameUri)" *ngIf="!appService.loginState" type="button"
            class="m-topbox-item btn bluedk-outline-btn btw-small">
            登入/註冊
          </button>
        </div>
      </div>
    </div>
  </header>
  <main>
    <!-- M point -->
    <app-m-point></app-m-point>
    <!-- 廣告版位 -->
    <div *ngIf="imgTop?.ADImg_Img !== null" class="banner-box pt-3">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img [lazyLoad]="imgTop?.ADImg_Img" alt="top-image" [defaultImage]="appService.defaultImage">
          </div>
        </div>
      </div>
    </div>
    <!-- tab content for record-->
    <div class="afp-tab-box pt-3">
      <div class="afp-tab">
        <div class="nav-tabs-box">
          <!-- Nav tabs -->
          <ul class="nav-tab-list nav nav-tabs nav-line d-flex justify-content-around">
            <li role="presentation">
              <a (click)="onTabList(0);" class="tablist-link" [ngClass]="{'active': selectedType === 0}">一般會員</a>
            </li>
            <li role="presentation">
              <a (click)="onTabList(1);" class="tablist-link" [ngClass]="{'active': selectedType === 1}">綁卡會員</a>
            </li>
          </ul>
          <div class="tab-line w-100"></div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- 一般會員 -->
          <div role="tabpanel" class="tab-pane fade w-100 active show" id="tabPane1">
            <div *ngIf="showGameList?.length >= 1; else elseBlock" class="game-list p-3">
              <div class="member-flex flex-gamebn">
                <div *ngFor="let game of showGameList" (click)="goGame(game.Game_Code, game.Game_Type)" class="item">
                  <img [lazyLoad]="game?.Game_Image" alt="" class="img-fluid border-radius5"
                    [defaultImage]="appService.defaultImage">
                  <div class="badge-box" [hidden]="game.Game_Tag === null">
                    <p class="badge">{{game.Game_Tag}}</p>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #elseBlock>
              <div class="no-data">
                <img src="../img/share/game-null.png" alt="no-game">
                <p *ngIf="selectedType === 0">Oops！下次再來玩...</p>
                <p *ngIf="selectedType === 1">Oops！<br>目前沒有提供綁卡專屬遊戲喔！</p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </main>

  <app-mobile-footer></app-mobile-footer>
