<div class="wrap container">
  <!--任務-->
  <div class="missionlist">
      <div class="headerbox container title-box">
          <div class="item icon-btn">
              <button class="btn px-0" onclick="history.back();" data-toggle="tooltip" data-placement="bottom" title="回上一頁" [hidden]="appService.isApp !== null && !showBack">
                  <i class="material-icons">&#xe314;</i>
              </button>
          </div>
          <div class="item title-name">任務牆</div>
          <div class="item mr-2">
              <button type="button" class="btn bluedk-outline-btn bt-small" (click)="conditionGo()">M Points</button>
          </div>
      </div>
      <div>
          <div class="mission-personal">
              <div class="item d-flex">
                  <div class="info-box info-img">
                      <div class="info-item">
                          <img src="https://picsum.photos/300/300?random=1">
                      </div>
                  </div>
                  <div class="align-self-center">
                      <div *ngIf="!appService.loginState" class="d-block">
                          <button type="button" class="btn white-outline-btn btw-small" (click)="appService.loginPage()">登入/註冊<img src="../img/share/forward_w.png" class="h20"></button>
                      </div>
                      <div *ngIf="appService.loginState" class="small-80">哈囉！{{appService.userName}}</div>
                  </div>
              </div>
              <div class="item coin d-flex d-inline">
                  <img src="../img/share/mobiicoin_red.png" class="h24 mr-2">
                  <span class="d-block">{{!appService.loginState ? '--' : userPoint | currency: '':'':'1.0-2'}}</span>
              </div>
              <div class="item progress">
                  <div class="progress-bar bg-index" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="progress-bar bg-index" role="progressbar"
                    [style.width]="!appService.loginState ? '0' : dailyDonePercent() + '%'"
                    aria-valuemin="0" aria-valuemax="100">
                  </div>
              </div>
              <div class="item task d-flex d-inline">
                  每日任務完成度：<span class="d-block">{{!appService.loginState ? '--' : (dailyDonePercent() | number: '1.0-0')}}%</span>
              </div>
          </div>
          <!-- 任務列表 -->
          <!-- tab content-->
          <div class="afp-tab-box">
              <div class="afp-tab">
                  <div class="nav-tabs-box mt-3">
                      <ul class="nav-tab-list nav nav-tabs nav-line d-flex justify-content-around">
                              <li *ngFor="let missiontab of allMission">
                                  <a [routerLink]="['/Mission']" [queryParams]="{ tabNo: missiontab.TabCode, showBack: showBack}" class="tablist-link" [ngClass]="{'active': tabNo === missiontab.TabCode}">
                                    {{ missiontab.TabName }}
                                    <span class="badge badge-index" *ngIf="missiontab.undoneMissionCount > 0">
                                      {{ missiontab.undoneMissionCount}}
                                    </span>
                                  </a>
                              </li>
                      </ul>
                  </div>
                  <!-- Tab panes -->
                  <div class="tab-content pt-2 pb-5">
                      <!-- 任務列表 -->
                      <div class="tab-pane fade active show w-100" id="missiontag01">
                          <ng-container *ngIf="listMission?.length > 0; else noMissionBlock">
                            <a *ngFor="let item of listMission" class="d-flex ms-item p-1">
                              <div class="d-flex align-items-start w-100">
                                      <div class="progressbar p-2">
                                        <circle-progress [percent]="donePercent(item)" [title]="item.Mission_CurrentCount + '/' + item.Mission_CompleteCount"></circle-progress>
                                      </div>
                                  <div class="info-box w-100">
                                      <ul class="info-list">
                                          <li class="info-name">{{item?.Mission_ExtName}}</li>
                                          <li *ngIf="item?.Mission_Value > 0" class="d-flex d-inline">獎勵：<img src="../img/share/mobiicoin_red.png" class="h20">✖{{item?.Mission_Value}}</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="ml-auto w80 align-self-center text-center">
                                  <button (click)="buttonAction(item)"
                                    [disabled]="item?.Mission_ClickState === 1 || item?.Mission_ClickState === 3 || (item?.Mission_ClickState === 2 && item?.Mission_CurrentURL.trim() === '' && appService.loginState === true)"
                                    [ngClass]="{'unable': item?.Mission_ClickState === 1 || item?.Mission_ClickState === 3 || (item?.Mission_ClickState === 2 && item?.Mission_CurrentURL.trim() === '' && appService.loginState === true), 'index-outline-btn': item?.Mission_ClickState === 0}"
                                    type="button" class="btn index-btn">
                                    {{buttonText(item?.Mission_ClickState, item?.Mission_CurrentURL)}}
                                  </button>
                              </div>
                            </a>
                          </ng-container>
                          <ng-template #noMissionBlock>
                            <div class="no-data">
                              <img src="img/mission/no-mission.png" alt="no-mission">
                              <p>Oops!<br>現在沒有可進行的任務喔！</p>
                            </div>
                          </ng-template>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-mobile-footer></app-mobile-footer>
