<div class="wrap container">
  <header>
      <div class="header-secondary container">
          <div class="index-flex justify-content-between">
              <div class="item two">
                  <div class="close-btn">
                       <button type="button" class="btn" onclick="history.back()" data-toggle="tooltip" data-placement="bottom" title="回上一頁">
                          <i class="material-icons">&#xe314;</i>
                      </button>
                  </div>
              </div>
              <div class="item three text-center">
                  <div class="title-name">週邊地圖</div>
              </div>
              <div class="item two">
                <!-- TODO: 前往再回上一頁會出現footer的空白-->
                  <button [routerLink]="['/ExploreList']" type="button" class="btn p-0 btnList"><i class="material-icons format_list_bulleted">&#xe241;</i></button>
              </div>
          </div>
      </div>
  </header>
  <div class="pb-0">
      <div class="choice-filter-box h3em bt-line">
          <div class="flex-inline-between">
              <div class="item center-v">全部</div>
          </div>
          <div class="filter-box center-v">
              <button class="btn px-0 filter-item1" data-filter="type" (click)="toggleCategoryFilter()" [ngClass]="{'active': categoryOpenStatus}">
                <i class="material-icons">&#xE152;</i>
              </button>
          </div>
      </div>
      <div class="filterWrap">
          <div class="mask-container w-100 h-100" [ngClass]="{'d-block': categoryOpenStatus}"></div>
          <div id="type" [ngClass]="{'d-block': categoryOpenStatus}" class="filter-content pb-wrap">
              <ul [ngClass]="{'is-open': categoryOpenStatus == true}" class="open-page-ul bt-line">
                  <li class="flex-inline-between active">
                      <div>
                          全部
                      </div>
                      <div>
                          <i class="material-icons check">&#xe5ca;</i>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
      <div class="explore-swiper">
          <swiper class="explore-map swiper-container" [config]="infoCard" #usefulSwiper>
              <div id="info-card" class="swiper-wrapper">
                  <div *ngFor="let spot of AreaList" class="swiper-slide">
                      <div class="card-item sm">
                          <div class="img-box rwdimgbox-60">
                            <!-- TODO:若無圖片要? -->
                              <!-- <div [style.background-image]="'url('+spot?.ECStore_Image1+')'" class="rwdimg"></div> -->
                              <div [lazyLoad]="spot?.ECStore_Image1" [defaultImage] ="appService.defaultImage" [routerLink]="['/ExploreDetail', spot?.ECStore_Code]" class="rwdimg"></div>
                          </div>
                          <div class="info-box">
                              <ul class="info-list">
                                  <li class="info-name">{{spot?.ECStore_ShowName}}</li>
                                  <li>
                                      <div class="shopping-store-badge">
                                          <span class="badge badge-pill text-explore"><img src="../img/share/{{spot?.ECStore_Type}}.png" alt="">{{spot?.ECStore_TypeName}}</span>
                                          <span class="badge badge-pill text-explore" style="display: none;">折價券</span>
                                      </div>
                                  </li>
                                  <li class="info-near">
                                      <div class="item auto-left">距離<span>{{spot?.ECStore_Distance}}</span>m</div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </swiper>
      </div>
      <!-- <div id="map"></div> -->
      <agm-map id="map" [latitude]="lat" [longitude]="lng" [zoom]="zoomValue">
        <agm-marker  [latitude]="lat" [longitude]="lng" [iconUrl]="userUrl"></agm-marker>
        <agm-marker  *ngFor="let Area of AreaList;"
        [latitude]="Area.ECStore_Lat" [longitude]="Area.ECStore_Lng" [iconUrl]="iconUrl"
        (markerClick)="selectSpot(Area.ECStore_Code)"></agm-marker>
        <agm-info-window *ngFor="let Area of AreaList;" [latitude]="Area?.ECStore_Lat+0.001" [longitude]="Area?.ECStore_Lng"
          [isOpen]="openedWindow === Area?.ECStore_Code? true : false">
          <h5>{{Area?.ECStore_ShowName}}</h5>
          <p>目前所選</p>
        </agm-info-window>
      </agm-map>
  </div>

</div>
