<div class="wrap container">
  <form #formUpdateMycard="ngForm" (ngSubmit)="onUpdateCardSubmit(formUpdateMycard)">
    <header>
      <div class="header-secondary container">
        <div class="index-flex justify-content-between">
          <div class="item two">
            <div class="close-btn">
              <button type="button" class="btn" onclick="history.back()" data-toggle="tooltip" data-placement="bottom"
                title="回上一頁">
                <i class="material-icons">&#xe314;</i>
              </button>
            </div>
          </div>
          <div class="item three text-center">
            <div class="title-name">卡片簡介</div>
          </div>
          <div class="item two">
            <button type="submit" class="btn">確認修改</button>
          </div>
        </div>
      </div>
    </header>
    <main class="pb-0">
      <div *ngIf="userFavouriteID !== 'undefined'">
        <div class="item">
          <ul>
            <li class="bg-linear-gray">
              <button type="button" class="btn card-delete" (click)="btnDel()">
                <div class="img-logo" [lazyLoad]="cardGroupImg" [defaultImage]="cardGroupImgDef">
                  <img src="../../img/member/delete.png" class="img-del">
                </div>
              </button>
            </li>
            <li class="card-line-height">
              <div class="item text-muted">卡片名稱</div>
              <div class="item input-box">
                <input type="text" name="UcardName" placeholder="自訂卡片名稱" maxlength="50"
                  [(ngModel)]="requestCard.UserFavourite_Text1" #UcardName="ngModel" autofocus>
              </div>
            </li>
            <li class="card-line-height">
              <div class="item">卡片類型<span class="text-org">*</span></div>
              <div class="item">
                <div class="tied-card-tag">
                  <span class="general-card">{{ userFavouriteTypeName }}</span>
                </div>
              </div>
            </li>
            <li class="card-line-height">
              <div class="item">卡片群組<span class="text-org">*</span></div>
              <div class="item">
                <div class="tied-card-tag" *ngIf="requestCard.CardGroup_List !== null">
                  <span class="special-card" *ngFor="let item of requestCard.CardGroup_List">
                      {{item.CardGroup_Name}}
                  </span>
                </div>
              </div>
            </li>
            <li class="card-line-height">
              <div class="d-flex w-100">
                <div class="item">卡片號碼<span class="text-org">*</span></div>
                <div class="item">
                  {{requestCard.UserFavourite_Text2}}
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="item pb-5" *ngIf="(cardGroupList.length !== 0 && requestCard.CardGroup_List !== null)">
          <a [href]="cardGroupList[0].CardGroup_Link| Safe: 'url'" rel="noopener noreferrer"
            class="group-link" *ngIf="cardGroupList.length === 1">
            <p class="item">會員限定優惠
              <i class="material-icons">&#xe315;</i>
            </p>
          </a>
          <div class="group-link" *ngIf="cardGroupList.length > 1" (click)="this.cardGroupLink = !this.cardGroupLink">
            <p class="item">會員限定優惠
              <i [ngClass]="{'material-icons': true, 'up': cardGroupLink}">&#xe313;</i>
            </p>
          </div>
          <div class="group-link-box" *ngIf="cardGroupLink">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-3 col-xl-2" *ngFor="let groupItem of cardGroupList">
                <a [href]="groupItem.CardGroup_Link | Safe: 'url'" rel="noopener noreferrer">
                  <div class="img-logo" [lazyLoad]="groupItem.CardGroup_Thumbnail" [defaultImage]="cardGroupThumbnailDef"></div>
                  <p class="txt-line-clamp1">{{groupItem.CardGroup_Name}}</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </form>
</div>
