<div class="wrap container">
  <!-- 已驗證通過（顯示驗證過的手機） -->
  <div [@layerTrigger] *ngIf="shownSection === 1" id="Verified" class="myphone">
    <div class="headerbox container title-box">
        <div class="item icon-btn">
            <button class="btn px-0" (click)="location.back()" data-toggle="tooltip" data-placement="bottom" title="回上一頁">
                <i class="material-icons">&#xe314;</i>
            </button>
        </div>
        <div class="item title-name">變更手機號碼</div>
        <div class="item ctrl-btn"></div>
    </div>
    <div class="my-phone-list">
        <p class="text-left mt-2">您的手機號碼已完成驗證，如需變更手機號碼，請重新驗證。</p>
        <p class="text-left mb-3">手機號碼：{{memberService.userProfile?.UserProfile_Mobile}}</p>
        <button class="btn index-btn w-100" (click)="shownSection = 0; remainingSec = 0">重新驗證</button>
    </div>
  </div>
  <!-- 尚未/欲重新驗證 -->
  <div [@layerTrigger] *ngIf="shownSection === 0" class="myphone">
    <div class="headerbox container title-box">
      <div class="item icon-btn">
          <button class="btn px-0" (click)="cancelVerify()" [hidden]="toVerifyCell" data-toggle="tooltip" data-placement="bottom" title="回上一頁">
              <i class="material-icons">&#xe314;</i>
          </button>
      </div>
      <div class="item title-name">手機驗證</div>
      <div class="item ctrl-btn"></div>
    </div>
    <form (submit)="verifyMobile(formVerifyMobile)" #formVerifyMobile="ngForm" class="container px-3">
        <h6 class="text-bluedk pt-4">請完成手機認證，馬上享受Mobii!優惠折扣</h6>
        <p class="text-gray small-80">未完成手機認證，將無法取得會員專屬權益與優惠折扣喔!</p>
        <div class="row vphone">
            <div class="col-12 text-left pt-4">
                手機號碼
            </div>
            <div class="col-12 pb-3">
                <input type="tel" appDigitOnly name="MobileVerify" #MobileVerify="ngModel" [(ngModel)]="requestMobileVerify.VerifiedInfo.VerifiedPhone"
                [ngClass]="{'bb-org': MobileVerify.touched && MobileVerify.invalid}" class="text-left"
                placeholder="例：0912345678" pattern="^09\d{8}$" maxlength="10" required id="vphone">
                <div *ngIf="MobileVerify.touched && MobileVerify.invalid" class="small-warning pl-0 warningNote"><span>格式錯誤，請重新輸入</span></div>
            </div>
            <div class="col-12 text-left">
                驗證碼
            </div>
            <div class="col-7 pb-3 pr-0">
                <input type="tel" appDigitOnly name="VCode" #VCode="ngModel" [(ngModel)]="requestMobileVerify.VerifiedInfo.VerifiedCode"
                class="text-left" pattern="\d{6}$" minlength="6" maxlength="6" required placeholder="請輸入收到的驗證碼" id="vcode">
                <div class="small-warning t-gray pl-0 stepV1">
                </div>
                <div *ngIf="VCode.touched && VCode.invalid" class="small-warning pl-0 warningNote"><span>格式錯誤，請重新輸入</span></div>
            </div>
            <div class="col-5 pl-1">
              <button type="button" (click)="sendVCode(); focusOnInput()" [disabled]="remainingSec > 0 || MobileVerify.invalid"
                [ngClass]="{'unable': remainingSec > 0 || MobileVerify.invalid}"
                class="btn index-btn border-radius5 w-100 px-1 small-70 getPhone">
                {{remainingSec > 0 ? ('剩餘' + remainingSec + '秒') : '取得手機驗證碼'}}
              </button>
            </div>
        </div>
        <div class="fixed-btn container">
            <button type="submit" [disabled]="formVerifyMobile.invalid || requestMobileVerify.VerifiedInfo.CheckValue === null"
            [ngClass]="{'unable': formVerifyMobile.invalid || requestMobileVerify.VerifiedInfo.CheckValue === null}"
              class="btn index-btn w-100" data-dismiss="modal" aria-label="Close">
              立即驗證
            </button>
        </div>
    </form>
  </div>
</div>
