<div class="wrap container">
  <header class="container">
    <!-- header top -->
    <div class="header-secondary container linebt-row">
      <div [ngSwitch]="ResponseModel?.Success" class="w-100 text-center">
        <ng-template class="title-name order-txt" [ngSwitchCase]="undefined">
          <div class="title-name order-txt">付款確認中</div>
        </ng-template>
        <ng-template [ngSwitchCase]="true">
          <div class="title-name order-txt">付款成功</div>
        </ng-template>
        <ng-template [ngSwitchCase]="false">
          <div class="title-name order-txt">付款失敗</div>
        </ng-template>
      </div>
    </div>
  </header>

  <!-- 結果 -->
  <main [ngSwitch]="ResponseModel?.Success">
    <!-- 確認中 -->
    <ng-template [ngSwitchCase]="undefined">
      <div class="order-confirming-box text-center py-3">請稍後</div>
    </ng-template>
    <!-- 付款成功 -->
    <ng-template [ngSwitchCase]="true">
      <div class="order-ok-box">
        <div class="order-step-box">
          <ol class="step-list">
            <li class="">1</li>
            <li class="">2</li>
            <li class="active">3</li>
          </ol>
          <ol class="step-txt">
            <li>確認訂單</li>
            <li>付款</li>
            <li>訂購完成</li>
          </ol>
        </div>
        <div class="order-ok mt-3">
          <img src="../img/shopping/payment-ok.png" alt="">
        </div>
        <p class="order-success text-center">訂購完成!</p>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <button class="btn index-outline-btn w-100" [routerLink]="['/MemberFunction/MemberOrder']" [queryParams]="{referrer: 'OrderComplete'}">查看訂單</button>
            </div>
            <div class="col-6" *ngIf="appService.isApp == null">
              <button class="btn index-btn w-100" (click)="GoECIndex()">繼續逛逛</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <!-- 付款失敗 -->
    <ng-template [ngSwitchCase]="false">
      <div class="order-error-box">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <div class="order-error">
                <img src="../img/shopping/payment-failed.png" alt="">
              </div>
              <p class="order-success text-center">{{ResponseModel.ErrorMsg}}</p>
            </div>
          </div>
        </div>
        <div class="container text-center">
          <div class="row">
            <div class="col-12">
              <button class="btn index-btn btn-ok" [routerLink]="['/']">重新購買</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </main>
</div>

<app-mobile-footer></app-mobile-footer>
