<div class="channel-wrap">
  <div class="channel-header">
    <div class="container">
      <div class="channel-header-box">
        <div class="channel-header-item">
          活動資訊
        </div>
        <div class="channel-header-title">
          <img src="../../../../img/channel/channel-title.png">
        </div>
        <div class="channel-header-item">
          <span>Hi 訪客</span>
          <button class="btn channel-btn">立即綁卡</button>
        </div>
      </div>
    </div>
  </div>
  <main>
    content
  </main>
</div>
