<div class="channel-wrap">
  <div class="channel-header">
    <div class="channel-container">
      <div class="channel-header-box">
        <div class="channel-header-item">
          <span (click)="openInfoModal()">活動資訊</span>
        </div>
        <div class="channel-header-title">
          <img src="../../../../img/channel/channel-title.png">
        </div>
        <div class="channel-header-item">
          <span class="hi-user">Hi 訪客訪客訪客訪客訪客訪客</span>
          <button class="btn channel-btn">立即綁卡</button>
        </div>
      </div>
    </div>
  </div>
  <main>
    <!-- 上方廣告 -->
    <div *ngIf="adMid?.length > 0" class="top-banner">
      <app-swiper-content [swiperOption]="boxAD" [slides]="adMid"
        [aClass]="''" [slideClass]="''" [pagination]="false"
        [arrows]="false" [contImg]="false" [contBackground]="'rwdimg-cover h55'"></app-swiper-content>
    </div>
    <!--【app-swiper-icon參數設定】
          swiperOption: swiper設定
          slides: 資料源(icon)
          slidesMore: 資料源(更多服務)
          arrows: pre,next箭頭是否顯示
          layerTrig: 更多服務是否開啟(0關閉,1開啟) -->
    <div [ngClass]="{'fixed-top': layerTrig === 1}">
      <div class="channel-icon">
        <div class="for-pc">
          <app-swiper-icon [swiperOption]="boxIconPC" [slides]="icon" [slidesMore]="" [arrows]="true"></app-swiper-icon>
        </div>
        <div class="for-mobile">
          <app-swiper-icon [swiperOption]="boxIcon" [slides]="icon" [slidesMore]="iconMore" [arrows]="false"></app-swiper-icon>
        </div>
      </div>
    </div>
    <!-- 中間大廣告 -->
    <div *ngIf="adMid1?.length > 0" class="big-banner">
      <app-swiper-content [swiperOption]="boxAD1" [slides]="adMid1"
        [aClass]="''" [slideClass]="''" [pagination]="true"
        [arrows]="false" [contImg]="false" [contBackground]="'rwdimg-cover h37 border-radius5'"></app-swiper-content>
    </div>
  </main>
</div>
