<div class="channel-wrap">
  <div class="channel-header">
    <div class="channel-container">
      <div class="channel-header-box">
        <div class="channel-header-item">
          <span (click)="openInfoModal()">活動資訊</span>
        </div>
        <div class="channel-header-title">
          <img src="../../../../img/channel/channel-title.png">
        </div>
        <div class="channel-header-item">
          <span class="hi-user">Hi 訪客訪客訪客訪客訪客訪客</span>
          <button class="btn channel-btn">立即綁卡</button>
        </div>
      </div>
    </div>
  </div>
  <main>
    <!-- 上方廣告 -->
    <div *ngIf="adMid?.length > 0" class="top-banner">
      <app-swiper-content [swiperOption]="boxAD" [slides]="adMid"
        [aClass]="''" [slideClass]="''" [pagination]="false"
        [arrows]="false" [contImg]="false" [contBackground]="'rwdimg-cover h55'"></app-swiper-content>
    </div>
    <!-- 服務icon -->
    <div>
      <div class="channel-icon">
        <div class="for-pc">
          <app-swiper-icon [swiperOption]="boxIconPC" [slides]="icon" [arrows]="true"></app-swiper-icon>
        </div>
        <div class="for-mobile">
          <app-swiper-icon [swiperOption]="boxIcon" [slides]="icon" [arrows]="false"></app-swiper-icon>
        </div>
      </div>
    </div>
    <!-- 中間大廣告 -->
    <div *ngIf="adMid1?.length > 0" class="big-banner">
      <app-swiper-content [swiperOption]="boxAD1" [slides]="adMid1"
        [aClass]="''" [slideClass]="''" [pagination]="true"
        [arrows]="false" [contImg]="false" [contBackground]="'rwdimg-cover h37 border-radius5'"></app-swiper-content>
    </div>
    <!-- 專屬新聞 -->
    <section class="channel-section">
      <h6>專屬新聞</h6>
      <div class="channel-swiper-box">
        <app-swiper-nav [swiperOptionNav]="boxTabs" [slidesNav]="channel1" [readSheetMode]="2" [template]="'channel-template1'"
          (readSheetNav)="readSheet($event.Mode, $event.Idx, $event.Code, $event.Id)"></app-swiper-nav>
        <app-swiper-panes [swiperOptionPanes]="boxChannel1" [slidesPanes]="channel1" [readSheetMode]="2"
          [template]="'channel-template1-panes'"></app-swiper-panes>
      </div>
    </section>
    <!-- 專屬優惠券 -->
    <section class="channel-section">
      <h6>專屬優惠券</h6>
      <div class="channel-swiper-box shadow">
        <app-swiper-nav [swiperOptionNav]="boxTabs" [slidesNav]="channel1" [readSheetMode]="2" [template]="'channel-template2'"
          (readSheetNav)="readSheet($event.Mode, $event.Idx, $event.Code, $event.Id)"></app-swiper-nav>
        <app-swiper-panes [swiperOptionPanes]="boxChannel2" [slidesPanes]="channel1" [readSheetMode]="2"
          [template]="'channel-template2-panes'" [pagination]="true" [arrows]="true"></app-swiper-panes>
      </div>
    </section>
  </main>

  <!-- 更多服務icon(滑頁) -->
  <div class="more-icon-box" [ngClass]="{'fixed-top': layerTrig === 1}">
    <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 1">
      <div>
        <div class="head-top">
          <!-- 點擊帶queryParams控制父層class -->
          <button class="btn" (click)="layerTrig = 0" [routerLink]="'/Event'" [queryParams]="{layerTrig: 0}">
            <i class="material-icons">&#xe314;</i><span>返回</span>
          </button>
        </div>
        <div class="row">
          <a class="col" *ngFor="let link of iconMore" [target]="link.Function_URLTarget"
            [href]="link.Function_URL">
            <img [src]="link.Function_Icon">
            <p class="txt-line-clamp1">{{ link.Function_Name }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
