<div class="modal-full">
<div class="modal-header" data-dismiss="modal" aria-label="Close">
</div>
<div class="popup-banner for-mobile">
  <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
  <!--<img src="/img/index/login_banner.png" alt="">-->
</div>
<div class="modal-body">
  <!-- <div class="logo-box">
    <img src="/img/share/mlogo.png" alt="">
  </div> -->
  <div class="index-flex">
    <div class="item one d-flex justify-content-start">
      <!-- <button type="button" class="btn close float-left">
        <i class="material-icons">&#xe314;</i>
      </button> -->
    </div>
    <div class="item two">
      <h5>輸入驗證碼</h5>
    </div>
    <div class="item one"></div>
  </div>
  <div class="container px-3 pt-2">
    <div class="vcode-msg">
      驗證碼已發送至 <span class="vcode-val">{{Account}}</span>
    </div>
    <form id="vcode-form" #verifyForm="ngForm" (ngSubmit)="verifyForm.form.valid && onVfySubmit()">
      <div class="form-row linebt-row">
        <input type="text" style="text-align: center;" name="AFPVerify" required [(ngModel)]="verify.AFPVerify" #AFPVerify="ngModel">
      </div>
      <div class="small-warning" *ngIf="verifyForm.submitted && !AFPVerify.valid">請輸入驗證碼</div>
      <div class="vcode-mail">
      </div>
      <button type="submit" class="btn my-2 index-btn w-100">送出</button>
      <div class="vcode-tel py-1">
        沒有收到驗證碼？
        <span><button id="remainingSeconds" (click)="remainingSeconds > 0? null : reSendVCode()" class="font-bold btn small-80 px-1"></button></span>
      </div>
    </form>
  </div>
</div>
</div>
