<div class="wrap container">
  <!--我的主頁-->
  <div class="mymember">
    <div class="member-top-box">
      <div class="title-box">
        <div class="item icon-btn">
          <div class="img-box">
            <button class="btn px-0" (click)="goToSetting()"><img src="../../img/member/member-icon-setting.svg"
                alt="設定"></button>
          </div>
        </div>
        <div class="item title-name"></div>
      </div>
      <div class="member-info-box">
        <div class="info-box info-img">
          <div class="info-item">
            <img [src]="userAvatar | Safe: 'resourceUrl'">
          </div>
        </div>
        <!-- 登入前 -->
        <div *ngIf="appService.loginState===false">
          <button (click)="oauthService.loginPage(appService.isApp, backUri)" type="button"
            class="btn white-outline-btn btw-small">
            登入/註冊
            <img src="../img/share/forward_w.png" class="h20">
          </button>
        </div>
        <!-- 登入後 -->
        <div *ngIf="appService.loginState===true" class="flex-inline-between">
          <div class="info-box">
            <div class="info-item info-name">
              {{ indexData?.User_NickName }}
            </div>
            <div class="info-item info-country">
              {{ indexData?.User_Country }}
            </div>
          </div>
          <div class="info-box">
            <div class="info-item text-nowrap">
              <img src="../img/share/mobiicoin.png" alt="" class="coinimg-m mr-1">
              M Points
            </div>
            <div class="info-item info-coin">
              {{indexData?.UserInfo_Point | currency: '':'':'1.0-2'}}
            </div>
          </div>
        </div>
      </div>
      <div class="member-item-group">
        <div class="member-item-bg">
          <div class="px-3">
            <!-- 中間主頁面 -->
            <div>
              <div class="mycard-box">
                <a *ngFor="let ad of indexData?.ADImg_Mid" [href]="ad?.ADImg_URL | nullHref : router.url"
                  [target]="ad?.ADImg_URLTarget | nullTarget : ad?.ADImg_URL : router.url" rel="noopener noreferrer">
                  <img class="mycard-img" [src]="ad?.ADImg_Img">
                </a>
              </div>
            </div>
            <div class="member-item-list">
              <div class="member-items">
                <a (click)="pageRoute('/MemberFunction/MemberCard' ,0)" class="member-item">
                  <div class="img-box">
                    <img src="../img/member/member-icon-card.svg" alt="">
                  </div>
                  <p>我的卡片</p>
                </a>
                <a (click)="pageRoute('/MemberFunction/MemberTicket' ,1)" class="member-item">
                  <div class="img-box">
                    <img src="../img/member/member-icon-ticket.svg" alt="">
                  </div>
                  <p>我的車票</p>
                </a>
                <a (click)="pageRoute('/MemberFunction/MemberFood' ,2)" class="member-item" hidden>
                  <div class="img-box">
                    <img src="../img/member/member-icon-food.svg" alt="">
                  </div>
                  <p>我的點餐</p>
                </a>
                <a (click)="pageRoute('/MemberFunction/MemberDiscount' ,3)" class="member-item">
                  <div class="img-box">
                    <img src="../img/member/member-icon-discount.svg" alt="">
                  </div>
                  <p>我的優惠券</p>
                </a>
              </div>
              <div class="member-items">
                <a (click)="pageRoute('/MemberFunction/MemberFavorite' ,4)" class="member-item">
                  <div class="img-box">
                    <img src="../img/member/member-icon-favorite.svg" alt="">
                  </div>
                  <p>我的收藏</p>
                </a>
                <a (click)="pageRoute('/MemberFunction/MemberOrder' ,5)" class="member-item">
                  <div class="img-box">
                    <img src="../img/member/member-icon-order.svg" alt="">
                  </div>
                  <p>我的訂單</p>
                </a>
                <a (click)="pageRoute('/MemberFunction/MemberCoin' ,6)" class="member-item">
                  <div class="img-box">
                    <img src="../img/member/member-icon-coin.svg" alt="">
                  </div>
                  <p>M Points</p>
                </a>
              </div>
            </div>
            <!-- 下方廣告 ad banner -->
            <div class="big-banner" *ngIf="indexData?.ADImg_Btm">
              <div class="pt-3">
                <!-- Swiper -->
                <swiper class="swiper-container" [config]="bottomAd">
                  <div class="swiper-wrapper">
                    <div *ngFor="let ad of indexData?.ADImg_Btm" class="swiper-slide">
                      <a [href]="ad?.ADImg_URL | nullHref : router.url"
                        [target]="ad?.ADImg_URLTarget | nullTarget : ad?.ADImg_URL : router.url"
                        rel="noopener noreferrer">
                        <div class="rwdimg-cover h20 border-radius5" [lazyLoad]="ad?.ADImg_Img"
                          [defaultImage]="appService.defaultImage"></div>
                      </a>
                    </div>
                  </div>
                  <!-- Add Scrollbar -->
                  <div class="swiper-scrollbar"></div>
                </swiper>
              </div>
            </div>
          </div>

          <!-- 我的小幫手 -->
          <div class="my-list-box mt-4">
            <p class="text-index">我的小幫手</p>
            <ul id="qa">
              <li (click)="appService.goToLink('/Info/QA', '_self')">
                <button class="btn px-0 w-100 text-left p-0">常見問題
                  <span class="auto-left"><i class="material-icons">&#xe315;</i></span>
                </button>
              </li>
              <li (click)="appService.goToLink('/Info/Return', '_self')">
                <button class="btn px-0 w-100 text-left p-0">退貨流程
                  <span class="auto-left"><i class="material-icons">&#xe315;</i></span>
                </button>
              </li>
              <li (click)="appService.goToLink('/Info/MPoints', '_self')">
                <button class="btn px-0 w-100 text-left p-0">點數說明
                  <span class="auto-left"><i class="material-icons">&#xe315;</i></span>
                </button>
              </li>
              <li (click)="appService.goToLink('/Info/Terms', '_self')">
                <button class="btn px-0 w-100 text-left p-0">使用者規範
                  <span class="auto-left"><i class="material-icons">&#xe315;</i></span>
                </button>
              </li>
              <li (click)="appService.goToLink('/Info/Privacy', '_self')">
                <button class="btn px-0 w-100 text-left p-0">隱私權政策
                  <span class="auto-left"><i class="material-icons">&#xe315;</i></span>
                </button>
              </li>
              <li (click)="appService.goToLink('https://mobii.ai/Official/about.html?utm_source=MobiiWeb&utm_medium=Footer', '_self')">
                <button class="btn px-0 w-100 text-left p-0">關於
                  <span class="auto-left"><i class="material-icons">&#xe315;</i></span>
                </button>
              </li>
            </ul>
            <div class="addheight"></div>
          </div>
          <div class="addheight pb-5"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-pc-footer></app-pc-footer>
<app-mobile-footer></app-mobile-footer>
