<div class="modal-header" data-dismiss="modal" aria-label="Close">
</div>
<button type="button" class="close text-right" (click)="closeModal()">
  <span aria-hidden="true">&times;&ensp;</span>
</button>
<div class="modal-body p-0">
  <div id="msg-mission">
    <div class="p-2 mb-4">
        <p>完成任務：</p>
        <div id="missionArr">
          <p *ngFor="let mission of missionArr">{{mission?.Mission_Info}}</p>
        </div>
    </div>
    <div class="d-flex justify-content-center text-center bg-light border-t py-2">
        <button type="button" class="btn btn-login font-bold w-100" (click)="closeModal()">
            確定
        </button>
    </div>
  </div>
</div>
