
  .channel-template1 {
    background-image: url("/img/channel/channel-template1-nav.png");
    background-size: cover;
    overflow: hidden;
    padding: 0 .5em;
  }
  .channel-template2 {
    background-image: url("/img/channel/channel-template2-nav.png");
    background-size: cover;
    overflow: hidden;
    padding: 0 .5em;
  }
  .channel-template3 {
    background-image: url("/img/channel/channel-template3-nav.png");
    background-size: cover;
    overflow: hidden;
    padding: 0 .5em;
  }
