@import "../../../../../styles/module/variable";

/* 本頁無footer,故無需增高 */
main {
  padding-bottom: 0;
}

.tied-card-list {
  background: $gray-light5;
  height: calc(100vh - 74px);
  padding: 1em;
  .tied-card-item {
    margin-bottom: 1em;
    padding: 1em;
    background: #fff;
    border-radius: .5em;
    .d-flex {
      align-items: center;
      .item:first-child {
        width: 64px;
      }
      .item:last-child {
        width: 34px;
      }
      .tied-card-content {
        width: calc(100% - 98px);
        padding-left: .75em;
        padding-right: .75em;
        line-height: 2em;
        .tied-card-tag {
          line-height: 1.5em;
          width: 100%!important;
          display: inline-flex;
        }
        span {
          font-size: small;
          border-radius: 5px;
          padding: .2em .5em;
          margin-right: .5em;
          &.general-card {
            background: rgba(196, 196, 196, 0.2);
            color: rgba(130, 130, 130, 1);
            white-space: nowrap;
          }
          &.special-card {
            background: rgba(255, 242, 235, 1);
            color: rgba(253, 95, 0, 1);
          }
        }
        p {
          white-space: nowrap;
          color: #818181;
        }
      }
    }
  }
}

.img-box {
  width: 48px;
  height: 48px;
  margin: .5em;
  .img-logo {
    border-radius: .15em;
    width: 100%;
    height: auto;
    padding-bottom: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.img-crud {
  height: 32px;
}

.card-fixed-bottom {
  position: fixed;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.card-add-btn {
  padding: .75em 1.5em;
  color: #fff;
  background: $mission-color;
  border-radius: 30px;
  white-space: nowrap;
  &.unable {
    color: #fff;
    background: $gray-unable;
  }
  img {
    padding-right: .5em;
  }
  span {
    vertical-align: middle;
    font-size: small;
    font-weight: 700;
  }
}
