<div class="wrap container">
  <header class="fixed-top container">
    <!-- header top -->
    <div class="header-secondary container linebt-row">
      <div class="index-flex justify-content-between">
        <div class="item two">
          <app-back-btn></app-back-btn>
        </div>
        <div class="item three text-center">
          <div class="title-name">退貨</div>
        </div>
        <div class="item two text-right">
          <button type="button" class="btn bluedk-outline-btn bt-small mr-1"
            (click)="layerTrig = 1">退貨說明</button>
        </div>
      </div>
    </div>
  </header>
  <div>
    <div class="order-info">
      <ul>
        <li class="flex-inline-between">
          <div class="item">訂單編號</div>
          <div class="item">{{orderNo}}</div>
        </li>
      </ul>
    </div>
    <div class="order-box">
      <div class="order-subtitle">
        <i class="material-icons">&#xE8D1;</i><span class="store-name">{{storeInfo?.ECStore_ShowName}}</span>
      </div>
      <ul class="order-shop-list">
        <li *ngFor="let product of productInfo">
          <div class="item rwdimgbox-80">
            <div [lazyLoad]="product?.Product_ShowImg" [defaultImage]="appService.defaultImage" class="rwdimg-cover"></div>
          </div>
          <div class="item item-txt">
            <p>{{product?.ItemInfoPart_ItemName}}</p>
            <p>規格：{{product?.ItemInfoPart_AttributeValueName}}</p>
            <p class="order-price auto-top">{{product?.ItemInfoPart_PayAmount | currency: 'TWD':'$':'1.0-2'}}</p>
          </div>
          <div class="item item-num order-quantity">x{{product?.ItemInfoPart_Quantity}}</div>
        </li>
      </ul>
      <div class="order-method-box">
        <ul class="method-list">
          <li class="index-flex">
            <div class="item one">選擇方式</div>
            <div class="item three item-right">
              <div class="form-check-inline">
                <label class="radio-box form-check-label">退貨
                  <input type="radio" name="p1radio" class="form-check-input" style="position: fixed;" checked>
                  <span class="checkmark"></span>
                </label>
                <!-- 換貨先隱藏 -->
                <label class="radio-box form-check-label d-none">換貨
                  <input type="radio" name="p1radio" class="form-check-input" style="position: fixed;">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </li>
          <li class="index-flex" (click)="layerTrig = 2">
            <div class="item one">原因</div>
            <div class="item two item-right d-flex d-inline">
              <span class="reason-txt w-100">{{showReason(servicesModel.Services_Reason)}}</span>
              <span class="center-v"><i class="material-icons">&#xe315;</i></span>
            </div>
          </li>
          <li class="index-flex">
            <div class="item one">備註</div>
            <div class="item three item-right">
              <input type="text" placeholder="補充更多退款/退貨的原因" [(ngModel)]="servicesModel.Services_OtherMsg">
            </div>
          </li>
          <li class="index-flex" (click)="readMemberAddress();layerTrig = 3">
            <div class="item">取件地址</div>
            <div class="item-group item-right d-flex d-inline">
              <span class="item small w-100">
                {{servicesModel.Services_Address}}<br>
                {{servicesModel.Services_CName}}<br>
                {{servicesModel.Services_CPhone}}
              </span>
              <span class="center-v"><i class="material-icons">&#xe315;</i></span>
            </div>
          </li>
          <li class="note-boxbg">
            若需退貨，司機將會於3~7天內與您聯絡取件，請您手機保持通暢，以利司機與您聯繫
          </li>
        </ul>
      </div>
      <div class="addheight"></div>
      <footer class="shopping-cartfooter container fixed-bottom">
        <ul>
          <li>
            <div class="item w-100 p-2">
              <button type="button" (click)="SendService()"
                [ngClass]="{'unable': orderInfo?.ServiceTableNo !== null}" [disabled]="orderInfo?.ServiceTableNo !== null"
                class="btn index-outline-btn w-100">完成</button>
            </div>
          </li>
        </ul>
      </footer>
    </div>
  </div>
  <!--次頁-->
  <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 2">
    <!-- 退貨原因 -->
    <div class="returnReason">
      <div class="title-box">
        <div class="item icon-btn">
          <button class="btn px-0" (click)="layerTrig = 0" data-toggle="tooltip" data-placement="bottom"
            title="回上一頁">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="item title-name">退貨的原因</div>
        <div class="item icon-btn"></div>
      </div>
      <div class="return-box">
        <ul class="reason-list">
          <li (click)="ChoiceReson(1)">
            我還沒收到商品
          </li>
          <li (click)="ChoiceReson(2)">
            商品缺件
          </li>
          <li (click)="ChoiceReson(3)">
            商家寄錯商品
          </li>
          <li (click)="ChoiceReson(4)">
            商品故障
          </li>
          <li (click)="ChoiceReson(255)">
            其他
          </li>
        </ul>
        <div class="addheight"></div>
      </div>
    </div>
  </div>
  <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 3">
    <!--寄送方式-->
    <div class="myaddress">
      <div class="title-box">
        <div class="item icon-btn">
          <button class="btn px-0" (click)="layerTrig = 0" data-toggle="tooltip" data-placement="bottom"
            title="回上一頁">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="item title-name">寄送方式</div>
        <div class="item ctrl-btn"></div>
      </div>
      <div class="my-address-list ">
        <ul>
          <li *ngFor="let address of addressList; let num = index;">
            <label class="radio-box pr-4">
              <div class="item">
                <p>{{address?.UserFavourite_Text1}}</p>
                <p class="tel">{{address?.UserFavourite_Text2}}</p>
                <p class="small">
                  {{address.UserFavourite_Number1 | convert:'UR':userReport:21}}{{address.UserFavourite_Number2 | convert:'UR':userReport:22:21:address.UserFavourite_Number1}}{{address.UserFavourite_Text3}}
                </p>
              </div>
              <input type="radio" name="addrradio" (click)="choiceAddress(address, num)"
                [checked]="choiceDelivery === num">
              <span class="checkmark"></span>
            </label>
          </li>
        </ul>
        <div class="add-address-btn">
          <button class="btn px-0" (click)="layerTrig = 4">
            新增地址<i class="material-icons">&#xE145;</i>
          </button>
        </div>
      </div>
      <div class="fixed-btn container">
        <button class="btn next-btn w-100" (click)="layerTrig = 0">確認</button>
      </div>
    </div>
  </div>
  <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 4">
    <!--新增地址3-->
    <div class="myaddressadd">
      <div class="title-box">
        <div class="item icon-btn">
          <button class="btn px-0" (click)="layerTrig = 0" data-toggle="tooltip" data-placement="bottom" title="回上一頁">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="item title-name">新增地址</div>
        <div class="item ctrl-btn"></div>
      </div>
      <form #formAddAddress="ngForm" (ngSubmit)="formAddAddress.form.valid && onAddressSubmit(formAddAddress)">
        <div class="my-address-list ">
          <ul>
            <li>
              <div class="item w-84">
                <p>姓名 / 公司名稱</p>
              </div>
              <div class="item auto-left">
                <input type="text" placeholder="請輸入" name="addressTitle" #addressTitle="ngModel"
                    [(ngModel)]="requestAddress.UserFavourite_Text1" required>
              </div>
            </li>
            <li class="index-flex">
              <div class="item one">手機號碼</div>
              <div class="item two auto-left">
                <input type="text" placeholder="請輸入" name="addressMobile" #addressMobile="ngModel"
                    [(ngModel)]="requestAddress.UserFavourite_Text2" required pattern="^[0-9\*]{0,10}$">
              </div>
            </li>
            <li>
              <div class="item">縣市</div>
              <div class="item auto-left citydefault" (click)="layerTrig = 5">
                {{requestAddress.UserFavourite_Number1 | convert:'UR': userReport:21}}<i
                  class="material-icons">&#xe315;</i>
              </div>
            </li>
            <li>
              <div class="item">行政區</div>
              <div class="item auto-left distdefault" (click)="layerTrig = 6">
                {{requestAddress.UserFavourite_Number2 | convert:'UR': userReport:22:21:requestAddress.UserFavourite_Number1}}
                <i class="material-icons">&#xe315;</i>
              </div>
            </li>
            <li class="index-flex">
              <div class="item one">郵遞區號</div>
              <div class="item two auto-left">
                {{requestAddress.UserFavourite_Number2}}
              </div>
            </li>
            <li>
              <div class="item">詳細地址<small>里道路或街名，巷弄號</small></div>
              <div class="item w-100 auto-left">
                <input type="text" placeholder="請輸入地址" name="addressDetail" #addressDetail="ngModel"
                [(ngModel)]="requestAddress.UserFavourite_Text3" required>
              </div>
            </li>
          </ul>
          <div class="default-setting flex-inline-between note-box">
            <div class="item p-3">
              設定為預設地址
            </div>
            <div class="item item-checkbox auto-left">
              <div class="sitem-checkbox text-right">
                <div class="icheck-material-blue center-v">
                  <input id="products002" type="checkbox" name="defaultAddress" #defaultAddress="ngModel"
                      [(ngModel)]="requestAddress.UserFavourite_IsDefault"
                      (change)="requestAddress.UserFavourite_IsDefault = $event.target.checked ? 1 : 0">
                    <label for="products002"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="addheight"></div>
        </div>
        <div class="addheight mb-3"></div>
        <div class="fixed-btn container">
          <button class="btn next-btn w-100" type="submit">確認</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-backdrop fade show container" *ngIf="layerTrig === 5"></div>
  <div class="layerTrig Trigsort container" [@layerTrigger] *ngIf="layerTrig === 5">
    <!-- 縣市/行政區選單 -->
    <div id="open-pagebox" class="city">
      <div class="open-page-title flex-inline-between">
        <div class="title-icon">
          <button class="btn" (click)="layerTrig = 4">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="title-txt">
          縣市
        </div>
        <div class="title-txt">
        </div>
      </div>
      <ul class="open-page-ul" id="citylist">
        <li *ngFor="let city of userReport" [hidden]="city.UserReport_CategoryCode != 21" class="flex-inline-between"
          [ngClass]="{'active' : requestAddress.UserFavourite_Number1 == city.UserReport_ItemCode}"
          (click)="requestAddress.UserFavourite_Number1 = city.UserReport_ItemCode;layerTrig = 6">
          <div class="item">
            {{city?.UserReport_ItemName}}
          </div>
          <div class="item">
            <i class="material-icons done">&#xe876;</i>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-backdrop fade show container" *ngIf="layerTrig === 6"></div>
  <div class="layerTrig Trigsort container" [@layerTrigger] *ngIf="layerTrig === 6">
    <div id="open-pagebox1" class="dist">
      <div class="open-page-title flex-inline-between">
        <div class="close-btn">
          <button class="btn" (click)="layerTrig = 4">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="title-txt">
          行政區
        </div>
        <div class="title-txt">
        </div>
      </div>
      <ul class="open-page-ul" id="distlist">
        <li class="flex-inline-between" *ngFor="let district of userReport"
          [ngClass]="{'active' : requestAddress.UserFavourite_Number2 == district.UserReport_ItemCode}"
          [hidden]="district.UserReport_UpItemCode != requestAddress.UserFavourite_Number1"
          (click)="requestAddress.UserFavourite_Number2 = district.UserReport_ItemCode; layerTrig = 4">
          <div class="item">
            {{district?.UserReport_ItemName}}
          </div>
          <div class="item">
            <i class="material-icons done">&#xe876;</i>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-backdrop fade show container" *ngIf="layerTrig === 1"></div>
  <div class="layerTrig Trigsort container" [@layerTrigger] *ngIf="layerTrig === 1">
    <!-- 退貨說明 -->
    <div id="open-pagebox" class="returnInfo">
      <div class="open-page-title flex-inline-between">
        <div class="title-icon">
          <button class="btn" (click)="layerTrig = 0">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="title-txt">
          退貨說明
        </div>
        <div class="title-txt">
        </div>
      </div>
      <div class="p-3 text-bluedk">
        <h6>【退貨原則】</h6>
        <p>
          會員所購買的商品均享有商品猶豫期。退回之商品必須於猶豫期內寄回。 <br>
          辦理退貨時，商品必須是全新狀態與完整包裝(請注意保持商品本體、配件、贈品、保證書、原廠包裝及所有附隨文件或資料的完整性，切勿缺漏任何配件或損毀原廠外盒)。退回商品無法回復原狀者，恐將影響退貨權益或需負擔部分費用。
        </p>
        <h6>【商品猶豫期計算】</h6>
        <p>
          宅配商品之猶豫期為商店出貨日+20天，例：商店出貨日為2020/4/1，則商品猶豫期計算至2020/4/21止，超過期限將不提供退貨服務。<br>
          自取商品之猶豫期為取貨期限+7天，例：取貨期限為2020/4/1，則商品猶豫期計算至2020/4/8止，超過期限將不提供退貨服務。
        </p>

        <h6>【退貨處理】</h6>
        <p>
          貨運司機將於退貨申請確認後3~7天內與你聯繫取件，請保持手機暢通以利聯絡，請將你所訂購之完整商品、配件、贈品、原包裝置入原外包裝箱內，以利後續退貨作業。<br>
          退款方式：確認退貨後，款項將退至原信用卡帳戶中。
        </p>
      </div>
    </div>
  </div>
</div>
