@charset "UTF-8";
/* shopping商店頁 */
.shopping-storedetail {
  /*HTML and CSS only multilevel drop down menu*/
  /*-- parent nav--*/
  /*-- Display on hover--*/
}

.shopping-storedetail .shopping-storeup {
  padding: .5em 0 .5em .5em;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  top: 0;
  z-index: 1030;
}

.shopping-storedetail .shopping-storeimgbox {
  overflow: hidden;
  height: 200px;
}

@media (max-width: 767px) {
  .shopping-storedetail .shopping-storeimgbox {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .shopping-storedetail .shopping-storeimgbox {
    height: 300px;
  }
}

.shopping-storedetail .shopping-storeimg {
  height: 100%;
  min-height: 200px;
}

.shopping-storedetail .img-fluid {
  background-color: #f8f8f8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.shopping-storedetail .swiper-pagination-fraction {
  bottom: 1.5em;
  right: 0.5em;
  left: auto;
  width: auto;
  padding: 0.2em 0.4em;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.5em;
  background-color: #eee;
  opacity: 0.7;
}

.shopping-storedetail .tab-content {
  padding-bottom: 4em;
}

.shopping-storedetail .nav-container {
  height: 100%;
  background-color: #fff;
}

.shopping-storedetail .nav-container nav {
  width: 25%;
  height: inherit;
}

.shopping-storedetail .nav-container nav > ul {
  width: 100%;
  height: inherit;
}

.shopping-storedetail .nav-container nav li {
  display: block;
  cursor: pointer;
}

.shopping-storedetail .nav-container nav li > a {
  display: block;
  position: relative;
  padding: 10px 15px;
  color: #555;
  text-align: center;
  font-size: small;
}

.shopping-storedetail .nav-container nav .levelOne > li:hover {
  background-color: #f2f5fa;
}

.shopping-storedetail .nav-container nav .levelTwo {
  width: 25%;
}

.shopping-storedetail .nav-container nav .levelTwo > li:hover {
  background-color: #e5e9f2;
}

.shopping-storedetail .nav-container nav .levelThree {
  width: 200%;
  height: 100%;
  background-color: #e5e9f2;
}

.shopping-storedetail .nav-container nav .levelThree .filter-all a {
  color: #48a2de;
}

.shopping-storedetail .nav-container nav .levelThree a {
  display: flex;
  align-items: center;
}

.shopping-storedetail .nav-container nav .levelThree a .material-icons {
  font-size: 18px;
  margin-right: 5px;
}

.shopping-storedetail nav > ul > li > ul {
  position: absolute;
}

.shopping-storedetail nav > ul > li > ul {
  position: absolute;
  top: 0;
  left: 25%;
  bottom: 0;
  background: #f2f5fa;
  display: none;
}

.shopping-storedetail nav > ul > li > ul > li > ul {
  position: absolute;
  left: 100%;
  top: 0px;
  bottom: 0;
  display: none;
  z-index: 2;
  bottom: 0;
  overflow: auto;
}

.shopping-storedetail nav > ul > li:hover > ul,
.shopping-storedetail nav > ul > li > ul > li:hover > ul,
.shopping-storedetail nav > ul > li > ul > li > ul > li:hover ul {
  display: block;
}

.store-container {
  color: #182B56;
  position: relative;
  background-color: #fff;
  height: auto;
  min-height: 550px;
}

.store-container .store-info-box {
  background-color: #fff;
}

.store-container .store-info-box .shopping-storebox .img-box {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.store-container .store-info-box .shopping-storebox .img-box .rwdimg-cover {
  min-height: 56px;
}

.store-container .store-info-box .shopping-storebox .store-title {
  font-weight: bold;
  font-size: 1.1em;
}

.store-container .store-info-box .shopping-store-btn {
  border-radius: .5em;
  padding: 0 .5em;
  float: right;
}

.store-container .store-info-box .shopping-store-btn:hover {
  background-color: #f8f8f8;
}

.store-container .store-info-box .shopping-store-btn span {
  font-size: 80%;
  white-space: nowrap;
  color: #818181;
}

.store-container .store-info-box .shopping-store-btn img {
  vertical-align: text-top;
}

.store-container .store-info-box .shopping-store-badge .badge {
  line-height: 2;
  margin-right: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 70%;
  border: 1px solid #FD5F00;
}

.store-container .store-info-box .store-distance {
  padding: 0 1.5em 0 2em;
  font-size: 0.7em;
}

.store-container .store-tab-box {
  color: #182B56;
}

.store-container .store-tab-box .nav-tabs {
  border-bottom: 0px;
  display: flex;
}

.store-container .store-tab-box .nav-tabs .nav-item {
  flex: 1;
  text-align: center;
  position: relative;
}

.store-container .store-tab-box .store-group {
  font-size: small;
}

.store-container .store-tab-box .store-group .store-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px;
  border-bottom: 1px #eee solid;
  /* store intro*/
  /* store item */
}

.store-container .store-tab-box .store-group .store-item a {
  color: #182B56;
  cursor: pointer;
}

.store-container .store-tab-box .store-group .store-item.store-open p {
  max-height: 94px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  padding-right: 25px;
}

.store-container .store-tab-box .store-group .store-item.store-open .open-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.store-container .store-tab-box .store-group .store-item.store-open.is-open p {
  transition: max-height 0.25s ease-in;
  text-overflow: unset;
  display: -webkit-box;
  -webkit-line-clamp: unset;
  max-height: fit-content;
}

.store-container .store-tab-box .store-group .store-item.store-itemopen {
  flex-wrap: wrap;
  max-height: auto;
  transition: max-height 0s ease-out;
}

.store-container .store-tab-box .store-group .store-item.store-itemopen .item span {
  margin-right: 5px;
}

.store-container .store-tab-box .store-group .store-item.store-itemopen .itemopen-list {
  flex: none;
  width: 100%;
  max-height: 0;
  transition: max-height 0.25s ease-out;
  overflow: hidden;
  padding-left: 35px;
}

.store-container .store-tab-box .store-group .store-item.store-itemopen .itemopen-list li {
  display: flex;
  justify-content: space-between;
  line-height: 2;
}

.store-container .store-tab-box .store-group .store-item.store-itemopen .itemopen-list li.this-day {
  font-weight: 700;
}

.store-container .store-tab-box .store-group .store-item.store-itemopen.is-open .item-icon,
.store-container .store-tab-box .store-group .store-item.store-itemopen.is-open .open-btn {
  align-self: flex-start;
}

.store-container .store-tab-box .store-group .store-item.store-itemopen.is-open ul {
  max-height: fit-content;
  transition: max-height 0.5s ease-in;
}

.store-container .store-tab-box .store-group .store-item.is-open {
  transition: max-height 0s ease-in;
  overflow: auto;
}

.store-container .store-tab-box .store-group .store-item.is-open .open-btn .material-icons {
  transform: rotate(180deg);
}

.store-container .store-tab-box .store-group .store-item .item-icon {
  width: 25px;
  height: 25px;
  background-color: #182B56;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.store-container .store-tab-box .store-group .store-item .item-icon .material-icons {
  font-size: 18px;
  color: #fff;
}

.store-container .store-tab-box .store-group .store-item .item {
  word-break: break-all;
}

.store-container .store-tab-box .ticket-list li {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px #eee solid;
}

.store-container .store-tab-box .ticket-list .img-box {
  width: 100px;
  margin-right: 15px;
}

.store-container .store-tab-box .ticket-list .img-box img {
  width: 100%;
}

.store-container .store-tab-box .ticket-list .ticket-info {
  flex: 1;
  font-size: 14px;
}

.store-container .store-tab-box .ticket-list .ticket-info .ticket-title {
  color: #4a90e2;
}

.store-container .store-tab-box .ticket-list .ticket-info .ticket-title .material-icons {
  font-size: 18px;
  margin-right: 3px;
}

.store-container .store-tab-box .ticket-list .ticket-info .ticket-time {
  font-size: 13px;
}

.store-container .store-tab-box .shop-filter {
  padding: 15px;
  display: flex;
}

.store-container .store-tab-box .shop-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  padding: 5px;
}

.store-container .store-tab-box .shop-list .shop-item {
  flex: none;
  width: 49%;
  margin-bottom: 0;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 2%;
}

.store-container .store-tab-box .shop-list .shop-item:nth-child(odd) {
  margin-right: 2%;
}

.store-container .store-tab-box .shop-list .shop-item .img-box img {
  width: 100%;
}

.store-container .store-tab-box .shop-list .shop-item .prod-name {
  font-weight: 700;
}

.store-container .store-tab-box .shop-list .shop-item .new-price {
  color: red;
}

.store-container .store-tab-box .shop-list .shop-item .old-price {
  font-size: 14px;
  color: #8E8E93;
  text-decoration: line-through;
}

.store-container .store-tab-box .products-listbox {
  background-color: #eee;
  padding-top: 5px;
  padding-left: 5px;
  margin: 0 auto;
}

.store-container .store-tab-box .products-listbox .row {
  margin-right: 0;
  margin-left: 0;
}

.store-container .store-tab-box .products-listbox .col-md-4:nth-child(n) {
  padding-right: 5px;
  padding-left: 0px;
}

.store-container .store-tab-box .products-listbox .col-md-4:nth-child(3n + 3) {
  padding-right: 5px;
  padding-left: 0px;
}

.store-container .store-tab-box .products-listbox .products-item {
  width: auto;
  height: 100%;
  background-color: #fff;
  border-bottom: 5px solid #eee;
}

@media (max-width: 320px) {
  .store-container .store-tab-box .products-listbox .products-item .price-original {
    display: none;
  }
}

.referral-box {
  margin: .5em;
  background-color: #f8f8f8;
  border-radius: .5em;
}

.referral-box .title {
  font-size: small;
  font-weight: 500;
  padding: 1em 1em .5em 1em;
}

.referral-box .row {
  padding: 0 1em 1em 1em;
  text-align: center;
}

.referral-box .row .col {
  flex-grow: 1;
  padding: .5em .15em;
  min-width: 10%;
  color: #818181;
}

@media (max-width: 767px) {
  .referral-box .row .col {
    min-width: 20%;
    flex-grow: inherit;
  }
}

.referral-box .row .col p {
  white-space: nowrap;
  font-size: smaller;
  padding-top: 6px;
}

.referral-box .row .col img {
  width: 48px;
  height: 48px;
  border-radius: 16px;
}

.referral-more {
  background-color: #f8f8f8;
  padding: 1em;
  height: 100vh;
}

.referral-more .row {
  padding: 1em;
  text-align: center;
}

.referral-more .row .col {
  flex-grow: inherit;
  padding: .5em .15em;
  min-width: 20%;
  color: #818181;
}

.referral-more .row .col p {
  white-space: nowrap;
  font-size: smaller;
  padding-top: 6px;
}

.referral-more .row .col img {
  width: 48px;
  height: 48px;
  border-radius: 16px;
}
/*# sourceMappingURL=explore-detail.css.map */