<div class="modal-header" data-dismiss="modal" aria-label="Close">
</div>
<button type="button" class="close text-right" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
  <span aria-hidden="true">&times;&ensp;</span>
</button>
<div class="modal-body">
  <div>
    <p id="msg-loginok" *ngIf="success" [innerHTML]="message | Safe: 'html'"></p>
    <p *ngIf="success && voucherName !== null">{{voucherName}}</p>
    <p id="msg-loginerror" *ngIf="!success">{{message}}</p>
    <small id="reminder" *ngIf="note !== null">{{note}}</small>
    <div *ngIf="showType == 999 && adImgList.length > 0" class="pt-4">
      <a [href]="adImgList[0].ADImg_URL" [target]="adImgList[0].ADImg_URLTarget" rel="noopener noreferrer">
        <img [src]="adImgList[0].ADImg_Img" class="img-fluid">
      </a>
    </div>
  </div>
  <div id="msg-noselected">
    <div class="text-center border-bottom-radius5">
      <!-- 單顆按鈕，內容、連結全客製化，因showType有999，故設定 showType < 3 時 才出現單顆按鈕-->
      <button type="button" *ngIf="showType  <= 3" class="btn btn-login px-0 w-50" (click)="clickSingleBtn()">
        {{singleBtnMsg}}
      </button>
      <!--button type="button" *ngIf="showType === 2" class="btn btn-login px-0 w-50" (click)="appService.loginPage(); goToUrl(target)">
        重新登入
      </!--button -->
      <!--button type="button" *ngIf="showType === 3" class="btn btn-login px-0 w-50" (click)="doReset()">
        確認
      </!--button -->
      <!--button type="button" *ngIf="showType === 4" class="btn btn-login px-0 w-50" [routerLink]="['/']" (click)="goToUrl(target)">
        下次再說
      </!--button>
      <button type="button" *ngIf="showType === 4" class="btn btn-login px-0 w-50" [routerLink]="['/Member/ThirdBinding']" (click)="goToUrl(target)">
        立即綁定
      </button -->
      <!--button type="button" *ngIf="showType === 5" class="btn btn-login px-0 w-50" (click)="goToUrl(target)">
        {{singleBtnMsg}}
      </!--button -->
      <!-- 雙顆按鈕，左右按鈕內容、連結全客製化 -->
      <button type="button" *ngIf="showType === 6" class="btn btn-login px-0 w-50" (click)="goToUrl(leftBtnUrl)">
        {{ leftBtnMsg }}
      </button>
      <button type="button" *ngIf="showType === 6" class="btn btn-login px-0 w-50" (click)="goToUrl(rightBtnUrl)">
        {{ rightBtnMsg }}
      </button>
    </div>
  </div>
</div>
