<div class="wrap container">
  <header>
    <!-- header top -->
    <div class="header-secondary container linebt-row">
      <div class="index-flex justify-content-between">
        <div class="item two">
          <div [hidden]="appService.isApp !== null" class="close-btn" onclick="history.back();" data-toggle="tooltip"
            data-placement="bottom" title="回上一頁">
            <i class="material-icons">&#xe314;</i>
          </div>
        </div>
        <div class="item three text-center">
          <div class="title-name">確認訂單</div>
        </div>
        <div class="item two text-right">
          <div class="close-btn"></div>
        </div>
      </div>
    </div>
  </header>

  <form #formCheckout="ngForm" (ngSubmit)="formCheckout.form.valid && onCheckoutSubmit(formCheckout)">
    <main>
      <div class="order-step-box">
        <ol class="step-list">
          <li class="active">1</li>
          <li class="">2</li>
          <li class="">3</li>
        </ol>
        <ol class="step-txt">
          <li>確認訂單</li>
          <li>付款</li>
          <li>訂購完成</li>
        </ol>
      </div>
      <!-- 訂購人資料 -->
      <div class="order-box">
        <div class="order-title">
          訂購人資料
        </div>
        <ul class="order-list">
          <li class="index-flex">
            <div class="item one">姓名<span style="color: red;">*</span></div>
            <div class="item three">
              <input type="text" class="form-control" placeholder="請輸入" name="consumerName" #consumerName="ngModel"
                [(ngModel)]="info.name" required minlength="2" maxlength="10" />
              <small class="d-flex justify-content-end text-danger"
                *ngIf="(consumerName.touched || consumerName.dirty) && consumerName.invalid">姓名格式有誤</small>
            </div>
          </li>
          <li class="index-flex">
            <div class="item one">手機號碼<span style="color: red;">*</span></div>
            <div class="item three">
              <input type="tel" class="form-control" placeholder="請輸入" name="consumerPhone" #consumerPhone="ngModel"
                [(ngModel)]="info.phone" required pattern="^09\d{8}$" maxlength="10" />
              <small class="d-flex justify-content-end text-danger"
                *ngIf="(consumerPhone.touched || consumerPhone.dirty) && consumerPhone.invalid">手機格式有誤</small>
            </div>
          </li>
          <li class="index-flex">
            <div class="item one">Email<span style="color: red;">*</span></div>
            <div class="item three">
              <input type="email" class="form-control" placeholder="請輸入" name="consumerEmail" #consumerEmail="ngModel"
                [(ngModel)]="info.email" pattern="[A-Za-z0-9\*._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required />
              <small class="d-flex justify-content-end text-danger"
                *ngIf="(consumerEmail.touched || consumerEmail.dirty) && consumerEmail.invalid">E-mail格式有誤</small>
            </div>
          </li>
        </ul>
      </div>
      <!-- 訂單詳情 -->
      <div class="order-title">
        訂單詳情
      </div>
      <div *ngFor="let store of info.stores" class="order-box store" id="store{{store.ECStore_Code}}">
        <div class="order-subtitle">
          <i class="material-icons">&#xE8D1;</i>{{store.ECStore_ShowName}}
        </div>
        <ul class="order-shop-list">
          <li *ngFor="let product of store.products">
            <div class="item rwdimgbox-80">
              <div class="rwdimg-cover" [lazyLoad]="product?.Show_ProductImg" [defaultImage]="appService.defaultImage">
              </div>
            </div>
            <div class="item item-txt">
              <p>{{product.Show_ProductName}}</p>
              <p>規格：{{product.Cart_AttributeValueName}}</p>
              <p class="order-price auto-top">
                {{product.Cart_Amount | currency: 'TWD':'$':'1.0-2'}}
              </p>
            </div>
            <div class="item item-num order-quantity">x{{product.Cart_Quantity}}</div>
          </li>
        </ul>
        <div class="order-method-box">
          <ul class="method-list">
            <!-- 寄送方式 - 選擇寄送方式 -->
            <li class="index-flex" [hidden]="store.order.Order_DeliveryWays > 0"
              (click)="clickDeliveryWay(store);appService.appWebViewbutton(true);">
              <div class="item"><i class="material-icons">&#xE558;</i>寄送方式</div>
              <div class="item delivery-txt text-right"><span>請選擇寄送方式</span><i class="material-icons">&#xe315;</i></div>
            </li>
            <!-- 寄送方式 - 選擇後 -->
            <li class="index-flex" [hidden]="!(store.order.Order_DeliveryWays > 0)"
              (click)="clickDeliveryWay(store);appService.appWebViewbutton(true);">
              <div class="item"><i class="material-icons">&#xE558;</i>寄送方式</div>
              <div class="item delivery-txt text-right delivery-price">
                {{store.order.Order_DeliveryWays === 1 ? '宅配' : '自取'}}
                {{store.order.Order_ShippingAmount | currency:'TWD':'$':'1.0-2'}}</div>
              <div class="item-group">
                <div class="item item-address">{{store.order.Order_RecCityArea}}
                  {{store.order.Order_RecCity |
                  convert:'UR':checkout.List_UserReport:21}}{{store.order.Order_RecCityArea |
                  convert:'UR':checkout.List_UserReport:22:21:store.order.Order_RecCity}}{{store.order.Order_RecAddress}}
                </div>
                <div class="item item-date" hidden>預計到貨日期 12月5日～12月9日</div>
              </div>
            </li>
            <li class="index-flex">
              <div class="item one">留言</div>
              <div class="item three">
                <input type="text" name="comments{{store.ECStore_Code}}" placeholder="請留言..."
                  [(ngModel)]="store.order.Order_ConsumerMsg">
              </div>
            </li>
            <li class="index-flex">
              <div class="item three">此賣場訂單金額 (<span>{{store.products.length}}</span>件商品)
              </div>
              <div class="item one item-total-price text-right">
                {{store.total | currency: 'TWD':'$':'1.0-2'}}
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="border-t5 w-100"></div>
      <div class="order-title">
        付款詳情
      </div>
      <div class="order-box">
        <div class="order-method-box">
          <ul class="method-list">
            <li class="index-flex" (click)="toChoiceVoucher(); appService.appWebViewbutton(true);">
              <div class="item three"><i class="material-icons reverse">&#xE54E;</i>使用優惠券、折扣碼</div>
              <div class="item one discount-price text-right"><span class="store1-discount-price">-{{info.totalDiscount
                  | currency: 'TWD':'$':'1.0-2'}}</span><i class="material-icons">&#xe315;</i></div>
            </li>
            <li class="index-flex" (click)="toInvoice(); appService.appWebViewbutton(true);">
              <div class="item d-flex d-inline">
                <div class="invo-box"><i class="material-icons">&#xE8B0;</i></div>電子發票
              </div>
              <div class="item text-right invoice-txt">
                <span [hidden]="info.invoice.invoiceMode > 0">請選擇發票樣式</span>
                <span [hidden]="!(info.invoice.invoiceMode > 0)">{{info.invoice.message}}</span>
                <i class="material-icons">&#xe315;</i>
              </div>
            </li>
          </ul>
        </div>
        <div class="total-price-box">
          <ul>
            <li class="index-flex">
              <div class="item">商品總金額</div>
              <div class="item text-right order-subtotal">{{info.total | currency: 'TWD':'$':'1.0-2'}}</div>
            </li>
            <li class="index-flex">
              <div class="item">運費總金額</div>
              <div class="item text-right order-delivery">{{info.totalFreight | currency: 'TWD':'$':'1.0-2'}}</div>
            </li>
            <li class="index-flex">
              <div class="item">優惠折抵</div>
              <div class="item text-right order-discount">-{{info.totalDiscount | currency: 'TWD':'$':'1.0-2'}}</div>
            </li>
            <li *ngFor="let voucher of info.voucherInfo" class="index-flex py-0">
              <div class="item two left-line">{{voucher.Voucher_ExtName}}</div>
              <div class="item one text-right sub-discount">(-{{voucher.discount | currency: 'TWD':'$':'1.0-2'}})</div>
            </li>
            <li class="total-pay index-flex">
              <div class="item">付款總金額</div>
              <div class="item text-right order-sumtotal">{{info.payment | currency: 'TWD':'$':'1.0-2'}}</div>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <footer class="shopping-cartfooter order-go-pay">
      <div class="fixed-bottom container fixed-shadow">
        <div class="row subtotal-info">
          <div class="col-8 col-lg-9 text-right">
            <small>小計</small><span class="price-subtotal">{{info.payment | currency: 'TWD':'$':'1.0-2'}}</span>
            <p class="mobi" hidden>此筆訂單可賺<span class="order-mobi" value="69">69</span>M Points</p>
          </div>
          <div class="col-4 col-lg-3 pl-0">
            <button type="submit" [disabled]="formCheckout.invalid" [ngClass]="{'unable': formCheckout.invalid}"
              class="btn index-btn mt-2 py-1 w-100 cart-next">去結帳</button>
          </div>
        </div>
      </div>
    </footer>
  </form>

  <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 5">
    <!-- 選擇優惠券 -->
    <div class="shopping-discount">
      <header>
        <div class="header-secondary container linebt-row">
          <div class="index-flex justify-content-between">
            <div class="item one">
              <div class="close-btn" (click)="layerTrig = 0; appService.appWebViewbutton(false);">
                <i class="material-icons">&#xe314;</i>
              </div>
            </div>
            <div class="item three text-center">
              <div class="title-name text-nowrap">選擇優惠券
                <!-- 或輸入折扣碼 -->
              </div>
            </div>
            <div class="item one text-right">
              <div class="close-btn"></div>
            </div>
          </div>
        </div>
      </header>
      <div>
        <div class="input-box" hidden>
          <input type="text" placeholder="輸入優惠碼">
          <button type="button">新增</button>
        </div>
        <div class="or-box text-center" hidden>
          <span>或者</span>
        </div>
        <div class="text-center" [ngClass]="this.info.visibleVouchers ? 'd-block': 'd-none'">
          <p class="canuse-discount-txt font-bold">可使用的優惠券
            <input type="reset" value="重設" class="float-right btn" (click)="resetVoucher()">
          </p>
          <!-- 可使用的優惠券 -->
          <form>
            <div *ngFor="let store of info.stores" [hidden]="!(store.vouchers.length > 0)"
              class="can-use-discount-list">
              <p class="can-use-title"><span>{{store.ECStore_ShowName}}</span> 可選擇
                <span>{{store.vouchers.length}}</span>
                張
              </p>
              <ul>
                <li class="checkedli" *ngFor="let voucher of store.vouchers">
                  <div class="item rwdimgbox-80">
                    <div [lazyLoad]="voucher?.Voucher_Image" [defaultImage]="appService.defaultImage"
                      class="rwdimg-cover">
                    </div>
                  </div>
                  <div class="item discount-text item-middle">
                    <p>{{voucher.Voucher_Title}}</p>
                    <p>{{voucher.Voucher_ExtName}}</p>
                    <p>{{voucher.Voucher_UsedOnDate | date: 'yyyy/MM/dd'}} ~
                      {{voucher.Voucher_UsedOffDate | date: 'yyyy/MM/dd'}}</p>
                  </div>
                  <label class="radio-box">
                    <div class="item">
                      <input type="radio" (change)="choiceVoucher(store, voucher, $event)"
                        name="store{{store.ECStore_Code}}"
                        [checked]="store.preVoucher.Voucher_Code === voucher.Voucher_Code" />
                      <span class="checkmark"></span>
                    </div>
                  </label>
                </li>
              </ul>
            </div>
            <div class="can-use-discount-list">
              <p class="can-use-title"><span>平台優惠券</span> 可選擇 <span>{{info.platform.vouchers.length}}</span> 張
              </p>
              <ul>
                <li class="checkedli" *ngFor="let voucher of info.platform.vouchers">
                  <div class="item rwdimgbox-80">
                    <div [lazyLoad]="voucher?.Voucher_Image" [defaultImage]="appService.defaultImage"
                      class="rwdimg-cover">
                    </div>
                  </div>
                  <div class="item discount-text item-middle">
                    <p>{{voucher.Voucher_ExtName}}</p>
                    <p>{{voucher.Voucher_UsedOnDate | date: 'yyyy/MM/dd'}} ~
                      {{voucher.Voucher_UsedOffDate | date: 'yyyy/MM/dd'}}</p>
                  </div>
                  <label class="radio-box">
                    <div class="item">
                      <input type="radio" (change)="choicePlatformVoucher(voucher, $event)" name="platformVoucher"
                        [checked]="info.platform.preVoucher.Voucher_Code === voucher.Voucher_Code" />
                      <span class="checkmark"></span>
                    </div>
                  </label>
                </li>
              </ul>
            </div>
          </form>
          <!-- 本次結帳無法用的優惠券（） -->
          <!-- <p class="canuse-discount-txt font-bold mt-0">本次結帳無法用的優惠券</p>
          <div class="can-use-discount-list">
            <ul>
              <li *ngFor="let voucher of banVoucher" class="checkedli">
                <div class="item rwdimgbox-80">
                  <div [lazyLoad]="voucher?.Voucher_Image" [defaultImage]="appService.defaultImage" class="rwdimg-cover"></div>
                </div>
                <div class="item item-middle">
                  <p hidden>昇恆昌</p>
                  <p>{{voucher.Voucher_ExtName}}</p>
                  <p class="can-use-date">使用期限 {{voucher.Voucher_UsedOnDate | date: 'yyyy/MM/dd'}} ~
                    {{voucher.Voucher_UsedOffDate | date: 'yyyy/MM/dd'}}</p>
                </div>
                <div class="item item-see-more">
                  <a [routerLink]="['/Explore/ExploreDetail', voucher.Voucher_CompanyCode]"
                    [hidden]="!(voucher.Voucher_CompanyCode !== 9999)">
                    去逛逛<i class="material-icons">&#xe315;</i>
                  </a>
                  <p [hidden]="!(voucher.Voucher_CompanyCode === 9999)">已兌換</p>
                </div>
              </li>
            </ul>
          </div> -->
          <!-- total price -->
          <div class="total-price-box">
            <div class="total-header">
              <div *ngFor="let store of info.stores" [hidden]="!(store.preVoucher.Voucher_Code > 0)">
                <div class="item-group small">
                  <div class="item">
                    <p class="txt-line-clamp1">{{store.ECStore_ShowName}} {{store.preVoucher.Voucher_ExtName}}</p>
                  </div>
                  <div class="item discount-price">
                    {{store.preVoucher.discount | currency: 'TWD':'$':'1.0-2'}} 元</div>
                </div>
              </div>
              <div [hidden]="!(info.platform.preVoucher.Voucher_Code > 0)">
                <div class="item-group small">
                  <div class="item">
                    <p class="txt-line-clamp1">平台優惠券 {{info.platform.preVoucher.Voucher_ExtName}}</p>
                  </div>
                  <div class="item discount-price">{{info.platform.preVoucher.discount | currency: 'TWD':'$':'1.0-2'}} 元
                  </div>
                </div>
              </div>
            </div>
            <div class="total-body">
              <div class="item-group">
                <div class="item">總共優惠金額</div>
                <div class="item price-dissubtotal">{{discount | currency: 'TWD':'$':'1.0-2'}} 元</div>
              </div>
            </div>
            <div class="total-footer">
              <div class="item-group">
                <div class="item">
                  <button type="button" class="cancel-btn"
                    (click)="layerTrig = 0;appService.appWebViewbutton(false);">取消</button>
                </div>
                <div class="item">
                  <button type="button" class="submit-btn"
                    (click)="confirmVoucher();appService.appWebViewbutton(false);">確定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="no-order " [ngClass]="!this.info.visibleVouchers ? 'd-block': 'd-none'">
        <img src="../img/shopping/nodiscount.png" alt="">
        <p class="">咦？目前還沒有優惠券喔...</p>
      </div>
    </div>
  </div>
  <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 6">
    <!-- 寄送方式 -->
    <div class="shopping-send">
      <header>
        <div class="header-secondary container linebt-row">
          <div class="index-flex justify-content-between">
            <div class="item two">
              <div class="close-btn" (click)="layerTrig = 0; appService.appWebViewbutton(false);">
                <i class="material-icons">&#xe314;</i>
              </div>
            </div>
            <div class="item three text-center">
              <div class="title-name">寄送方式</div>
            </div>
            <div class="item two text-right">
              <div class="close-btn"></div>
            </div>
          </div>
        </div>
      </header>
      <form>
        <ul class="is-choose-ul">
          <li class="is-choose">
            <!-- 已選取 -->
            <div class="is-choose-method"
              [ngClass]="{'disabled': !(tempOrder.Order_DeliveryWays === 1 || tempOrder.Order_DeliveryWays === undefined )}"
              (click)="tempOrder.Order_DeliveryWays = 1; choiceNum = null; tempOrder.Order_ECLogisticsID = 0; tempOrder.Order_ShippingAmount = 0;">
              <div class="item">
                <p>宅配 <span>{{tempOrder.Order_ShippingAmount | currency: 'TWD':'$':'1.0-2'}}</span></p>
                <p hidden>預計到貨日 <span>12月5日～12月9日</span></p>
              </div>
              <div class="item item-check auto-left">
                <i class="material-icons">&#xE5CA;</i>
              </div>
            </div>
            <div class="is-choose-body">
              <div class="address-list-box">
                <ul>
                  <li *ngFor="let address of addressList; let num = index;">
                    <div class="item">
                      <label class="radio-box">
                        <p>{{address.UserFavourite_Text1}}</p>
                        <p class="tel">{{address.UserFavourite_Text2}}</p>
                        <p class="address">
                          {{address.UserFavourite_Number1 |
                          convert:'UR':checkout.List_UserReport:21}}{{address.UserFavourite_Number2 |
                          convert:'UR':checkout.List_UserReport:22:21:address.UserFavourite_Number1}}{{address.UserFavourite_Text3}}
                        </p>
                        <input type="radio" name="delivery" (click)="choiceAddress(address, num)"
                          [checked]="tempOrder.Order_DeliveryWays === 1 && choiceNum === num">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="add-address-box text-center" (click)="layerTrig = 4; requestAddress.UserFavourite_Number1 = 1">
                新增地址<i class="material-icons">&#xE145;</i>
              </div>
            </div>
          </li>
          <li class="is-choose">
            <!-- disabled未選取 -->
            <div class="is-choose-method" [ngClass]="{'disabled': !(tempOrder.Order_DeliveryWays === 2)}"
              (click)="tempOrder.Order_DeliveryWays = 2; choiceNum = null; tempOrder.Order_ECLogisticsID = 0; tempOrder.Order_ShippingAmount = 0;">
              <div class="item">
                <p>自取 </p>
                <p>到貨後請於7日內憑取貨碼至商店取貨，逾期訂單將自動取消</p>
              </div>
              <div class="item item-check auto-left">
                <i class="material-icons">&#xE5CA;</i>
              </div>
            </div>
            <div class="is-choose-body">
              <div class="address-list-box">
                <ul>
                  <li *ngFor="let store of storePickSelf; let num = index;">
                    <div class="item">
                      <label class="radio-box">
                        <p>{{store.ECStore_ShowName}}</p>
                        <p>{{store.ECStore_OpenTime}}</p>
                        <p class="tel">{{store.ECStore_Tel}}</p>
                        <p class="address">{{store.ECStore_PickCityArea}}
                          {{store.ECStore_PickCity |
                          convert:'UR':checkout.List_UserReport:21}}{{store.ECStore_PickCityArea |
                          convert:'UR':checkout.List_UserReport:22:21:store.ECStore_PickCity}}{{store.ECStore_PickAddress}}
                        </p>
                        <input type="radio" name="pickself" (click)="choicePickSelf(store, num)"
                          [checked]="tempOrder.Order_DeliveryWays === 2 && choiceNum === num">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <div class="addheight mb-5"></div>
        <footer class="success-mode container fixed-bottom">
          <div class="small-80 text-gray text-center w-100" [ngClass]="{'d-none': tempOrder.Order_ECLogisticsID > 0}">
            ＊所選地址不在商店配送範圍，請重新選擇</div>
          <button type="button" [ngClass]="tempOrder.Order_ECLogisticsID > 0 ? 'btn-ok' : 'btn gray-btn'"
            (click)="tempOrder.Order_ECLogisticsID > 0 && confirmDeliveryWay();appService.appWebViewbutton(false);">確認</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 4">
    <div class="shopping-address">
      <header>
        <div class="header-secondary container linebt-row">
          <div class="index-flex justify-content-between">
            <div class="item two">
              <div class="close-btn" (click)="layerTrig = 6">
                <i class="material-icons">&#xe314;</i>
              </div>
            </div>
            <div class="item three text-center">
              <div class="title-name">新增地址</div>
            </div>
            <div class="item two text-right">
              <div class="close-btn"></div>
            </div>
          </div>
        </div>
      </header>
      <form #formAddAddress="ngForm" (ngSubmit)="formAddAddress.form.valid && onAddressSubmit(formAddAddress)">
        <main>
          <div class="add-address-list">
            <ul>
              <li class="index-flex">
                <div class="item one">姓名/公司名稱</div>
                <div class="item two auto-left">
                  <input type="text" placeholder="請輸入" name="addressTitle" #addressTitle="ngModel"
                    [(ngModel)]="requestAddress.UserFavourite_Text1" required minlength="2" maxlength="10">
                </div>
                <div *ngIf="addressTitle.touched && addressTitle.invalid"
                  class="text-danger w-100 text-left small">姓名/公司名稱為必填</div>
              </li>
              <li class="index-flex">
                <div class="item one">手機號碼</div>
                <div class="item two auto-left">
                  <input type="text" placeholder="請輸入" name="addressMobile" #addressMobile="ngModel"
                    [(ngModel)]="requestAddress.UserFavourite_Text2" required pattern="^09\d{8}$" maxlength="10">
                </div>
                <div *ngIf="addressMobile.touched && addressMobile.invalid"
                  class="text-danger w-100 text-left small">手機號碼格式有誤</div>
              </li>
              <li>
                <div class="item">縣市</div>
                <div class="item auto-left citydefault" (click)="layerTrig = 2">
                  {{requestAddress.UserFavourite_Number1 | convert:'UR': checkout.List_UserReport:21}}
                  <i class="material-icons">&#xe315;</i>
                </div>
                <div *ngIf="(addressDetail.touched || addressDetail.dirty) && !requestAddress.UserFavourite_Number1"
                  class="text-danger w-100 text-left small">縣市為必填</div>
              </li>
              <li>
                <div class="item">行政區</div>
                <div class="item auto-left distdefault" (click)="layerTrig = 1">
                  {{requestAddress.UserFavourite_Number2 | convert:'UR':
                  checkout.List_UserReport:22:21:requestAddress.UserFavourite_Number1}}
                  <i class="material-icons">&#xe315;</i>
                </div>
                <div *ngIf="(addressDetail.touched || addressDetail.dirty) && !requestAddress.UserFavourite_Number2"
                  class="text-danger w-100 text-left small">行政區及郵遞區號為必填</div>
              </li>
              <li class="index-flex">
                <div class="item one">郵遞區號</div>
                <div class="item two text-right">
                  {{requestAddress.UserFavourite_Number2}}
                </div>
              </li>
              <li>
                <div class="item">詳細地址<small>里道路或街名，巷弄號</small></div>
                <div class="item w-100 auto-left">
                  <input type="text" placeholder="請輸入地址" name="addressDetail" #addressDetail="ngModel"
                    [(ngModel)]="requestAddress.UserFavourite_Text3" required minlength="2" maxlength="500">
                </div>
                <div *ngIf="addressDetail.touched && addressDetail.invalid"
                  class="text-danger w-100 text-left small">詳細地址為必填</div>
              </li>
            </ul>
            <div class="default-setting index-flex note-box">
              <div class="item">
                設定為預設地址
              </div>
              <div class="item auto-left item-checkbox">
                <div class="sitem-checkbox text-right">
                  <div class="icheck-material-blue">
                    <input id="products002" type="checkbox" name="defaultAddress" #defaultAddress="ngModel"
                      [(ngModel)]="requestAddress.UserFavourite_IsDefault"
                      (change)="requestAddress.UserFavourite_IsDefault = $event.target.checked ? 1 : 0">
                    <label for="products002"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="addheight"></div>
          </div>
        </main>

        <footer class="success-mode container fixed-bottom">
          <button type="submit"
            [disabled]="formAddAddress.invalid || !requestAddress.UserFavourite_Number1 || !requestAddress.UserFavourite_Number2"
            [ngClass]="{'unable': formAddAddress.invalid || !requestAddress.UserFavourite_Number1 || !requestAddress.UserFavourite_Number2}"
            class="btn next-btn">
            完成
          </button>
        </footer>
      </form>
    </div>
  </div>
  <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 7">
    <!-- 發票選取 -->
    <div class="shopping-invoice">
      <header>
        <div class="header-secondary container linebt-row">
          <div class="index-flex justify-content-between">
            <div class="item two">
              <div class="close-btn" (click)="layerTrig = 0; appService.appWebViewbutton(false);" data-toggle="tooltip"
                data-placement="bottom" title="回上一頁">
                <i class="material-icons">&#xe314;</i>
              </div>
            </div>
            <div class="item three text-center">
              <div class="title-name">電子發票</div>
            </div>
            <div class="item two text-right">
              <div class="close-btn"></div>
            </div>
          </div>
        </div>
      </header>
      <form>
        <main>
          <div class="electronic-choice-list">
            <ul class="invoice">
              <li>
                <div class="item">
                  <label class="radio-box">發票捐贈
                    <input type="radio" name="invoice" [(ngModel)]="info.preInvoice.invoiceMode" [value]="3">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="d-flex align-items-center auto-left">
                  <div class="item">
                    <input type="text" name="loveCode" placeholder="請輸入愛心碼" class="heartcode"
                      [(ngModel)]="info.preInvoice.loveCode">
                  </div>
                  <div class="item search-txt pl-2" (click)="layerTrig = 3">
                    查詢<i class="material-icons">&#xe315;</i>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <label class="radio-box">會員載具
                    <input type="radio" name="invoice" [(ngModel)]="info.preInvoice.invoiceMode" [value]="4">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="item auto-left"><small>電子發票若中獎將寄送至會員預設地址</small></div>
              </li>
              <li>
                <div class="item">
                  <label class="radio-box">手機條碼載具
                    <input type="radio" name="invoice" [(ngModel)]="info.preInvoice.invoiceMode" [value]="5">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="item auto-left">
                  <input type="text" name="carrierCode" placeholder="請填寫手機條碼" [(ngModel)]="info.preInvoice.carrierCode">
                </div>
              </li>
              <li>
                <div class="item item-self">
                  <label class="radio-box">三聯式發票
                    <input type="radio" name="invoice" [(ngModel)]="info.preInvoice.invoiceMode" [value]="2">
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="item-group auto-left">
                  <input type="text" name="invoiceTitle" placeholder="請輸入發票抬頭名稱"
                    [(ngModel)]="info.preInvoice.invoiceTitle">
                  <input type="text" name="invoiceTaxID" placeholder="請輸入統一編號"
                    [(ngModel)]="info.preInvoice.invoiceTaxID">
                </div>
              </li>
            </ul>
          </div>
        </main>
        <footer class="success-mode container fixed-bottom">
          <button type="button" [ngClass]="info.preInvoice.invoiceMode > 0 ? 'btn-ok' : 'btn gray-btn'"
            (click)="info.preInvoice.invoiceMode > 0 && confirmInvoice();appService.appWebViewbutton(false);">確認</button>
        </footer>
      </form>
    </div>
  </div>

  <div class="modal-backdrop fade show container" *ngIf="layerTrig === 2"></div>
  <div class="layerTrig Trigsort container" [@layerTrigger] *ngIf="layerTrig === 2">
    <!-- 縣市選單 -->
    <div class="city" id="open-pagebox">
      <div class="open-page-title flex-inline-between">
        <div class="title-icon">
          <button class="btn" (click)="layerTrig = 4">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="title-txt">
          縣市
        </div>
        <div class="title-txt">
        </div>
      </div>
      <ul class="open-page-ul" id="citylist">
        <!-- 縣市 -->
        <li *ngFor="let city of checkout.List_UserReport" [hidden]="city.UserReport_CategoryCode != 21"
          class="flex-inline-between"
          [ngClass]="{'active' : requestAddress.UserFavourite_Number1 == city.UserReport_ItemCode}"
          (click)="requestAddress.UserFavourite_Number1 = city.UserReport_ItemCode;layerTrig = 1">
          <div class="item">
            {{city.UserReport_ItemName}}
          </div>
          <div class="item">
            <i class="material-icons done">&#xe876;</i>
          </div>
        </li>
      </ul>

    </div>
  </div>
  <div class="modal-backdrop fade show container" *ngIf="layerTrig === 1"></div>
  <div class="layerTrig Trigsort container" [@layerTrigger] *ngIf="layerTrig === 1">
    <!-- 行政區選單 -->
    <div id="open-pagebox1" class="dist">
      <div class="open-page-title flex-inline-between">
        <div class="close-btn">
          <button class="btn" (click)="layerTrig = 4">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="title-txt">
          行政區
        </div>
        <div class="title-txt">
        </div>
      </div>
      <ul class="open-page-ul" id="distlist">
        <!-- dist動態內容 -->
        <li class="flex-inline-between" *ngFor="let district of checkout.List_UserReport"
          [ngClass]="{'active' : requestAddress.UserFavourite_Number2 == district.UserReport_ItemCode}"
          [hidden]="district.UserReport_UpItemCode != requestAddress.UserFavourite_Number1"
          (click)="requestAddress.UserFavourite_Number2 = district.UserReport_ItemCode; layerTrig = 4">
          <div class="item">
            {{district.UserReport_ItemName}}
          </div>
          <div class="item">
            <i class="material-icons done">&#xe876;</i>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-backdrop fade show container" *ngIf="layerTrig === 3"></div>
  <div class="layerTrig Trigsort container" [@layerTrigger] *ngIf="layerTrig === 3">
    <!-- 愛心碼選單 -->
    <div id="open-pagebox" class="hcode">
      <div class="open-page-title flex-inline-between">
        <div class="title-icon">
          <button class="btn" (click)="layerTrig = 7">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="title-txt">
          查詢愛心碼
        </div>
        <div class="title-txt">
        </div>
      </div>
      <ul class="open-page-ul" id="queryhcode" (click)="layerTrig = 7">
        <li class="flex-inline-between" value="119">
          <div class="item">
            社團法人台灣流浪動物希望協會
          </div>
          <div class="item">
            119
          </div>
        </li>
        <li class="flex-inline-between" value="0095">
          <div class="item">
            財團法人法鼓山文教基金會
          </div>
          <div class="item">
            0095
          </div>
        </li>
        <li class="flex-inline-between" value="172">
          <div class="item">
            流浪貓保護協會
          </div>
          <div class="item">
            172
          </div>
        </li>
        <li class="flex-inline-between" value="0528">
          <div class="item">
            中華民國流浪動物花園協會
          </div>
          <div class="item">
            0528
          </div>
        </li>
        <li class="flex-inline-between" value="529">
          <div class="item">
            社團法人高雄市關懷流浪動物協會
          </div>
          <div class="item">
            529
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
