<div class="wrap container">
  <header>
    <div class="header-secondary container linebt-row">
      <div class="index-flex justify-content-between">
        <div class="item two">
          <button type="button" class="btn px-0" onclick="history.back()">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="item three text-center">
          <div class="title-name">回饋意見</div>
        </div>
        <div class="item two text-right">
          <div class="close-btn"></div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <form #formFeedback="ngForm" id="formFeedback" (ngSubmit)="formFeedback.form.valid && onFeedbackSubmit(formFeedback.value)">
      <div class="feedback">
        <div class="container">
          <div class="content">
            <h5 class="mb-1">
              <p>在 Mobii! 的使用體驗如何？
                <span class="require">*</span>
              </p>
            </h5>
            <div class="rank mb-2">
              <div
                (click)="selectStar(i, 'click')"
                (mouseover)="selectStar(i, 'mouseover')"
                (mouseout)="selectStar(i, 'mouseout')"
                *ngFor="let item of star; let i = index" >
                <img [src]="(starHover >= i || starSelect >= i) ? '../../../../img/mission/Star_1.png' : '../../../../img/mission/Star_2.png'">
              </div>
            </div>
            <h5 class="mb-1">
              <p>有什麼想告訴我們的嗎？
                <span class="require">*</span>
              </p>
            </h5>
              <!-- 可以輸入中文，中文標點符號；英文a-zA-Z,符號[~!@#$%^&*()_+=\-`\[\]{}';:".,<>/?\|]；數字0-9 -->
              <textarea
              onkeyup="value=value.replace(/[^\w\u4E00-\u9FA5\u0021-\u002F\u003A-\u0040\u005B-\u0060\u007B-\u007E\u3000\u3001-\u303F\uFF01-\uFF5E]/g, '')"
              (keyup)="onKeyEvent($event)"
              oncontextmenu="return false"
              rows="4" maxlength="256"
              placeholder="請說說他的優點或美中不足之處吧！限填 10~256 字"></textarea>
            <div class="mt-1">
              <span [ngClass]="{'require': textareaLen<11}" [innerHtml]="textareaLen"></span> / 256
            </div>
            <div class="upload mt-2 mb-2">
              <label>
                <input type="file" style="display: none;"
                (change)="onFileUpload($event)"
                accept="image/*;capture=camera" multiple>
                <div><img src="../../../../img/mission/upload.png"> 上傳檔案
                </div>
              </label>
              <span>最多上傳三個檔案，檔案類型:圖片檔</span>
            </div>
            <div class="files">
              <!-- 上傳檔案資訊 -->
              <div class="uploadInfo" *ngFor="let item of fileUploadList; let i = index">
                <div class="fileInfo">
                  <div>
                    <img src="../../../../img/mission/image.png">
                  </div>
                  <div class="fileName">{{item}}</div>
                  <div class="close" (click)="delFileUploadItem(i)">
                    <img src="../../../../img/mission/Close.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="shopping-cartfooter order-go-pay">
        <div class="fixed-bottom container fixed-shadow">
          <div class="p-3">
            <button  (click)="formFeedback.ngSubmit" form="formFeedback" [disabled]="textareaLen<11 || starSelect===-1"
              [ngClass]="{'unable': textareaLen<11 || starSelect===-1}"
              class="btn index-btn w-100">送出
            </button>
          </div>
        </div>
      </footer>
    </form>
  </main>
</div>
