<div class="wrap container no-data text-dark">
  <img src="img/share/404.png" class="errorImg">
  <h4>404</h4>
  <p class="dfBK">您造訪的頁面已迷失在Mobii!星球中...</p>
  <div class="row errorMenu">
      <div class="col-3 px-1">
          <a routerLink="/">
          <img src="img/share/icon404-1.png" class="icon404">
          <br>返回首頁</a>
      </div>
      <div class="col-3 px-1">
          <a routerLink="/Travel">
          <img src="img/share/icon404-2.png" class="icon404">
          <br>去旅行</a>
      </div>
      <div class="col-3 px-1">
          <a routerLink="/Offers">
          <img src="img/share/icon404-3.png" class="icon404">
          <br>賺優惠</a>
      </div>
      <div class="col-3 px-1">
          <a routerLink="/Shopping">
          <img src="img/share/icon404-4.png" class="icon404">
          <br>逛商場</a>
      </div>
  </div>

</div>
