@import '../game.scss';
.ng-trigger-routeAnimations {
  overflow-x: hidden;
}
.bg-m1{
  background-color: #f9621d;
}
.scratch-cont-box {
  display: block;
  padding: 2em 1em 1em 1em;
  top: -10px;
  z-index: -1;
  text-align: center;
  background: -webkit-linear-gradient(#f9621d,#e00602);
  background: -o-linear-gradient(#f9621d,#e00602);
  background: -moz-linear-gradient(#f9621d,#e00602);
  background: linear-gradient(#f9621d,#e00602);
  h5{
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
  }
}
.scratch-cont{
  width: 100%;
  height: 100%;
}

.scratchBox {
  position: relative;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  @media (max-width: 991px) {
      height: 500px;
  }
  @media (max-width: 480px) {
      height: 380px;
  }
  @media (max-width: 375px) {
      height: 300px;
  }
  canvas{
    position: absolute;
    background-size: contain;
    background-repeat: inherit;
    width: 800px;
    height: 770px;
    font-size: 40px;
    @media (max-width: 991px) {
        width: 500px;
        height: 480px;
        font-size: 30px;
    }
    @media (max-width: 480px) {
        width: 380px;
        height: 375px;
        font-size: 24px;
    }
    @media (max-width: 375px) {
        width: 300px;
        height: 290px;
        font-size: 18px;
    }
    &#bottom {
      animation: opacityIn 1.5s infinite;
      animation-iteration-count: 1;
    }
  }
  @keyframes opacityIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.prizeOpenMask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  opacity: 0.1;
  z-index: 1040;
  width: 100%;
  height: 100vh;
}
