<div class="modal-header" data-dismiss="modal" aria-label="Close">
</div>
<button type="button" class="close text-right" data-dismiss="modal" aria-label="Close" *ngIf="!forceVerify" (click)="closeModal()">
  <span aria-hidden="true">&times;&ensp;</span>
</button>
<div class="modal-body">
  <div>
    <p>
      還差一小步...<br>完成手機認證，<br>馬上享受Mobii!優惠折扣！
    </p>
  </div>
  <div>
    <div class="text-center border-bottom-radius5">
      <button type="button" class="btn btn-login px-0 w-50" *ngIf="!forceVerify" (click)="closeModal()">
        下次再說
      </button>
      <button type="button" class="btn btn-login px-0 w-50" [routerLink]="['/Member/CellVerification']" [queryParams]="{toVerifyMobile: true}" (click)="bsModalRef.hide()">
        認證去
      </button>
    </div>
  </div>
</div>
