<section [ngClass]="{'d-none': !appService.showAPPHint}" class="appNotifyBox">
  <div class="appNotify container" [ngClass]="{'animationMoveUpOut': animationMoveUpOut}">
    <div class="d-flex">
      <img src="img/index/AppLogo.png" class="item AppLogo">
      <div class="item">
        <p>Mobii! 綠色城市優惠平台</p>
        <small>立刻下載App,開始驚奇旅程</small>
      </div>
      <div class="item appNotifyBtn">
        <button (click)="toDownloadAPP()" class="btn dwbtn">立即下載</button>
        <button (click)="toCloseDownloadAPP();" type="button" class="close appclose">&times;</button>
      </div>
    </div>
  </div>
</section>
<div class="wrap container">
  <header>
    <app-index-header></app-index-header>
    <!-- 搜尋列 -->
    <section class="mobii-search-box">
      <div class="s-bar-gray mobile">
        <div class="input-box border-radius5 d-flex">
          <button class="btn" (click)="serchOffers($event.target.value);"><i class="material-icons">&#xE8B6;</i></button>
          <input type="text" inputmode="search" placeholder="搜尋優惠券" class="border-0" (keyup.enter)="serchOffers($event.target.value);">
        </div>
      </div>
    </section>
    <!-- 手機版 上方banner -->
    <section class="mobii-bnbox">
      <div class="userbox mr-auto">
        <div *ngIf="appService.loginState" class="txt-line-clamp1 user-hi">你好，{{appService.userName}}</div>
        <ul class="m-bnbox-item">
          <li class="txt-line-clamp1">
            <img src="img/share/mobiicoin.png" alt="" class="mr-1 h20">
            <span class="user-mobii">{{appService.loginState? (userPoint | currency: '':'':'1.0-0') : '--'}}</span>點
          </li>
        </ul>
      </div>
      <div id="carouselBanner" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <a *ngFor="let ad of adTop; let First = first" href="{{ad?.ADImg_URL}}" target="{{ad?.ADImg_URLTarget}}"
            rel="noopener noreferrer" [ngClass]="{'active': First}" class="carousel-item">
            <img [src]="ad?.ADImg_Img" class="d-block w-100" alt="">
          </a>
        </div>
      </div>
    </section>
  </header>
  <main class="pt-0">
    <div class="main-content container">
      <div class="row pt-2">
        <!-- 我的服務-主要連結(PC) -->
        <div class="col-12 for-pc">
          <!-- Swiper for icons -->
          <div class="index-iconbox">
            <swiper class="index-icon " [config]="boxIcon">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let item of ft">
                  <div class="item">
                    <a href="javascript:;" (click)="FunctionLink(item, false)"
                      [ngClass]="{'disable' : item.Function_IsActive == 0}">
                      <div class="img-box">
                        <img [src]="item?.Function_Icon" [alt]="item?.Function_Name">
                      </div>{{item.Function_Name}}
                    </a>
                  </div>
                </div>
              </div>
            </swiper>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <!-- 我的服務-主要連結(mobile) -->
        <div class="for-mobile w-100">
          <div class="col-12 center-v">
            <div class="mainicon-link default-link">
              <div *ngFor="let item of ftTop" class="link-item">
                <a href="javascript:;" (click)="FunctionLink(item, false)">
                  <div class="img-box">
                    <img [src]="item?.Function_Icon" [alt]="[item?.Function_Name]">
                  </div>
                  <p>{{item.Function_Name}}</p>
                </a>
              </div>
            </div>
          </div>
          <!-- 自訂連結 -->
          <div class="col-12 center-v">
            <div class="mainicon-link edit-link">
              <div *ngFor="let item of ftBottom" class="link-item">
                <a href="javascript:;" (click)="FunctionLink(item, false)">
                  <div class="img-box">
                    <img [src]="item?.Function_Icon" [alt]="item?.Function_Name">
                  </div>
                  <p>{{item.Function_Name}}</p>
                </a>
              </div>
              <div class="link-item">
                <a href="javascript:;" (click)="layerTrig = 1">
                  <div class="img-box">
                    <img src="img/index/icons/category3_more.png" alt="">
                  </div>
                  <p>更多服務</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--【app-swiper-content參數設定】
          swiperOption: swiper設定
          slides: 資料源
          aClass: <a>使用class
          slideClass: swiper-slide使用class
          pagination: 左右分頁 顯示true/隱藏false
          arrows: 下方分頁 顯示true/隱藏false
          contImg: 圖片以img 顯示true/隱藏false
          contBackground: 圖片以Background顯示時用的class (與contImg擇一使用) -->
    <!-- 去哪玩連結/中間四格 -->
    <div class="go-where-link container px-3 my-3">
      <app-swiper-content [swiperOption]="boxGoWhere" [slides]="adMid4" class="index-gowhere" [aClass]="'link-item'"
        [slideClass]="'item'" [pagination]="false" [arrows]="false" [contImg]="true" [contBackground]="''">
      </app-swiper-content>
    </div>

    <!-- 中間大廣告 ad banner -->
    <div *ngIf="adMid?.length > 0" class="big-banner container px-3">
      <app-swiper-content [swiperOption]="boxAD" [slides]="adMid" [aClass]="''" [slideClass]="''" [pagination]="true"
        [arrows]="false" [contImg]="false" [contBackground]="'rwdimg-cover h37'"></app-swiper-content>
    </div>

    <!-- 熱門優惠券 -->
    <div *ngIf="nowVoucher?.length > 0" class="offers-list container my-2 px-3">
      <h6>熱門優惠券</h6>
      <div class="afp-tab-box">
        <div class="afp-tab mb-3">
          <nav>
            <app-swiper-nav [swiperOptionNav]="boxTabs" [slidesNav]="nowVoucher" [readSheetMode]="2"
              (readSheetNav)="readSheet($event.Mode, $event.Idx, $event.Code, $event.Id)"></app-swiper-nav>
          </nav>
          <app-swiper-panes [swiperOptionPanes]="boxOffer" [slidesPanes]="nowVoucher" [readSheetMode]="2">
          </app-swiper-panes>
        </div>
      </div>
    </div>

    <!-- 熱門商品瀑布流 -->
    <div *ngIf="hotProducts?.length > 0" class="onsale-list container my-2 px-3">
      <h6>熱門商品</h6>
      <!-- masonry products -->
      <div class="products-recently">
        <div class="grid">
          <div class="products-sizer"></div>
          <ngx-masonry [options]="masonry">
            <div ngxMasonryItem *ngFor="let product of hotProducts" class="products-item">
              <a [routerLink]="['/Shopping/ProductDetail', product.Product_UserDefineCode, product.Product_Code]">
                <div class="products-img">
                  <div class="img-box">
                    <div class="rwdimg-cover" [lazyLoad]="product?.Product_PrimeImage"
                      [defaultImage]="appService.defaultImage"></div>
                  </div>
                </div>
                <div class="products-title">
                  <p class="txt-line-clamp2">{{product.Product_ExtName}}</p>
                </div>
                <div class="products-price">
                  <div class="price-asking">{{product.Product_SpecialPrice > 0? (product.Product_SpecialPrice |
                    currency: 'TWD':'$':'1.0-2') : (product.Product_SellPrice | currency: 'TWD':'$':'1.0-0')}}</div>
                  <div class="price-original" *ngIf="product.Product_SpecialPrice > 0">{{product.Product_SellPrice |
                    currency: 'TWD':'$':'1.0-2' }}</div>
                </div>
              </a>
            </div>
          </ngx-masonry>
        </div>
      </div>
    </div>
    <!-- 特賣商品 -->
    <!-- <div *ngIf="popProducts?.length > 0" class="onsale-list container my-2 px-3">
      <h6>特賣商品</h6>
      <div class="afp-tab-box">
        <div class="afp-tab">
          <nav>
            <app-swiper-nav [swiperOptionNav]="prodTabs" [slidesNav]="popProducts" [readSheetMode]="1"
              (readSheetNav)="readSheet($event.Mode, $event.Idx, $event.Code, $event.Id)"></app-swiper-nav>
          </nav>
          <app-swiper-panes [swiperOptionPanes]="boxOffer" [slidesPanes]="popProducts" [readSheetMode]="1">
          </app-swiper-panes>
        </div>
      </div>
    </div> -->

    <!--【app-swiper-nav參數設定】
          swiperOptionNav: swiper設定
          slidesNav: 資料源
          readSheetMode: 1 特賣商品 2 熱門優惠券 3 主打店家 4 外送店家 5 旅遊主打
          readSheetNav: 輸出參數
        【app-swiper-panes參數設定】
          swiperOptionPanes: swiper設定
          slidesPanes: 資料源
          readSheetMode: 1 特賣商品 2 熱門優惠券 3 主打店家 4 外送店家 5 旅遊主打 -->
    <!-- 線上點餐推薦 -->
    <!-- <div *ngIf="deliveryArea?.length > 0" class="explore-block container px-3 pb-3">
      <h6>線上點餐推薦</h6>
      <div class="afp-tab-box">
        <div class="afp-tab">
          <nav>
            <app-swiper-nav [swiperOptionNav]="boxTabs" [slidesNav]="deliveryArea" [readSheetMode]="4"
              (readSheetNav)="readSheet($event.Mode, $event.Idx, $event.Code, $event.Id)"></app-swiper-nav>
          </nav>
          <app-swiper-panes [swiperOptionPanes]="boxTFeature" [slidesPanes]="deliveryArea" [readSheetMode]="4">
          </app-swiper-panes>
        </div>
      </div>
    </div> -->

    <!-- 主打店家 -->
    <!-- <div *ngIf="hitArea?.length > 0" class="explore-block container px-3 pb-3">
      <h6>主打店家</h6>
      <div class="afp-tab-box">
        <div class="afp-tab">
          <nav>
            <app-swiper-nav [swiperOptionNav]="boxTabs" [slidesNav]="hitArea" [readSheetMode]="3"
              (readSheetNav)="readSheet($event.Mode, $event.Idx, $event.Code, $event.Id)"></app-swiper-nav>
          </nav>
          <app-swiper-panes [swiperOptionPanes]="boxTFeature" [slidesPanes]="hitArea" [readSheetMode]="3">
          </app-swiper-panes>
        </div>
      </div>
    </div> -->

    <!-- 本月旅遊主打 -->
    <!-- <div *ngIf="hitTravel?.length > 0" class="travel-featuredlist container px-3 pb-3">
      <h6>本月旅遊主打</h6>
      <div class="afp-tab-box">
        <div class="afp-tab">
          <swiper class="nav-tabs-box tablist-swiper swiper-container" [config]="boxTabs">
            <ul id="nav-tab-featured" class="swiper-wrapper nav nav-tabs mb-2" role="tablist">
              <li *ngFor="let item of hitTravel; let i = index; let blFirst=first;"
                (click)="readSheet(5, i, item?.UserDefine_Code, item?.UserDefine_ChannelID)"
                [ngClass]="{'active': blFirst}" role="presentation" class="swiper-slide">
                <a href="#Code{{item.UserDefine_Code}}" class="tablist-link show" [ngClass]="{'active': blFirst} "
                  attr.aria-controls="Code{{item.UserDefine_Code}}" role="tab" data-toggle="tab"
                  [attr.aria-selected]="blFirst">{{item.UserDefine_Name}}</a>
              </li>
            </ul>
          </swiper>
          <div id="tabContentWrap" class="tab-content w-100 mt-2">
            <div *ngFor="let item of hitTravel;let blFirst=first;" id="Code{{item.UserDefine_Code}}" role="tabpanel"
              class="tab-pane hitTravel" [ngClass]="{'show': blFirst, 'active': blFirst}">
              <div class="travel-featuredboxlist">
                <div class="row">
                  <div class="col-6" *ngFor="let inside of item.TravelData">
                    <div class="item-body">
                      <a class="item-img rwdimg-cover h65 border-radius5" [lazyLoad]="inside.Travel_Img"
                        [defaultImage]="appService.defaultImage" [href]="inside.Travel_URL | Safe: 'url'"
                        [target]="inside.Travel_URLTarget" rel="noopener noreferrer"></a>
                      <div class="item-favorite">
                        <button [ngClass]="{'active' : appService.userFavCodes.includes(inside.Travel_Code)}"
                          (click)="appService.favToggle(appService.userFavCodes.includes(inside.Travel_Code) ? 2 : 1, 54, inside.Travel_Code)">
                          <img [lazyLoad]="'../img/share/icon_favorite.png'" [defaultImage]="appService.defaultImage"
                            class="imgicon">
                        </button>
                      </div>
                      <a [href]="inside.Travel_URL | Safe: 'url'" target="_blank" rel="noopener noreferrer">
                        <div class="item-info">
                          <div class="item-title txt-line-clamp2">
                            {{inside.Travel_Title}}
                          </div>
                          <div class="item-price">
                            <span class="price-asking">{{inside.Travel_SubTitle}}</span>
                          </div>
                          <div class="item-location txt-line-clamp1">
                            <i class="material-icons location_on">&#xe0c8;</i>
                            {{inside.Travel_LocalTitle}}
                          </div>
                          <div class="item-keyword">
                            <span *ngFor="let attrData of inside.AttrbuteData">{{attrData.AttributeValue_Name}}</span>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </main>
  <!-- 進場廣告 -->
  <div class="enterbox" *ngIf="appService.adIndexOpen && adIndexTime && adIndex.length > 0">
    <swiper class="enterswiper swiper-container" [config]="adIndexOption">
      <button type="button" class="btn enterCloseBtn" (click)="adIndexClose()">
        <img src="img/share/close.png"></button>
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let ad of adIndex">
          <a href="{{ ad?.ADImg_URL }}" target="{{ ad?.ADImg_URLTarget }}">
            <img src="{{ad.ADImg_Img}}">
          </a>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
    </swiper>
    <div class="modal-backdrop"></div>
  </div>

  <div class="layerTrig" [@layerTrigger] *ngIf="layerTrig === 1">
    <div class="setting" [ngClass]="{'edit-mode': editFunction}">
      <div class="aside-header">
        <div>
          <button class="btn px-0 close-btn" (click)="layerTrig = 0" data-toggle="tooltip" data-placement="bottom"
            title="回上一頁">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="edit-title-box">
          <div class="edit-item edit-title-cancel" (click)="editClose();">取消</div>
          <div class="edit-item edit-title">編輯我的服務</div>
          <div class="edit-item edit-title-save" (click)="updateUserService();">確定</div>
        </div>
      </div>
      <div class="service-sysbox bb3-solid">
        <!-- 系統服務 -->
        <div class="title-item pt-3">
          系統服務
        </div>
        <div class="title-group">
          <div class="title-box">
            <div class="sys-item" *ngFor="let icon of ftTop">
              <img [lazyLoad]="icon.Function_Icon" [defaultImage]="appService.defaultImage" [alt]="icon.Function_Name"
                (click)="FunctionLink(icon, false)">
              <p>{{icon.Function_Name}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="service-box bt1-solid" [hidden]="!appService.loginState">
        <!-- 我的服務 -->
        <div class="title-item pt-3">
          我的服務<span class="pl-2 small text-muted editnote1">長按可以拖動排序</span>
          <div class="editbox">
            <button (click)="editOpen()" class="btn title-item edit-btn fit small-80 border-radius5 py-0">自訂捷徑</button>
          </div>
        </div>
        <div class="service-title">
          <div class="main-link edit-link sort-block" id="myService" [sortablejs]="ftBottom"
            [sortablejsOptions]="options">
            <div class="link-item mysvc remove-item" *ngFor="let icon of ftBottom;"
              [attr.data-cat]="icon.Function_CategaryCode" [attr.data-act]="icon.Function_IsActive"
              [attr.data-code]="icon.Function_Code"
              (click)="serviceClick(icon.Function_Code, icon.Function_CategaryCode, icon.Function_IsActive);">
              <a [href]="!editFunction ? icon.Function_URL : 'javascript:;' | Safe: 'url'"
                [appKeyController]="editFunction" [keyControl]="'target'" [keyValue]="icon?.Function_URLTarget"
                rel="noopener noreferrer">
                <img [lazyLoad]="icon.Function_Icon" [defaultImage]="appService.defaultImage"
                  [alt]="icon.Function_Name">
                <p>{{icon.Function_Name}}</p>
              </a>
            </div>
          </div>
        </div>
        <div class="w-100 text-right text-danger small-70 pb-3 editnote h24">
          <ng-container *ngIf="noticeNine">
            至多可選擇9種服務
          </ng-container>
          <ng-container *ngIf="noticeFour">
            請至少選擇4種服務
          </ng-container>
        </div>
      </div>
      <div class="service-box bt1-solid" id="moreServiceList">
        <!-- 更多服務 -->
        <ng-container *ngFor="let item of serviceList">
          <ng-container *ngIf="item?.Model_Function.length > 0">
            <div class="title-item pt-3">{{item.CategaryName}}</div>
            <div class="main-link edit-link items0">
              <div class="link-item" *ngFor="let icon of item.Model_Function;"
                (click)="serviceClick(icon.Function_Code, item.CategaryCode, icon.Function_IsActive);"
                [ngClass]="{'remove-item': !icon?.isAdd && icon.Function_IsActive, 'add-item':icon?.isAdd && icon.Function_IsActive,'disable' : icon.Function_IsActive === 0}">
                <a [href]="!editFunction && icon.Function_IsActive ? icon.Function_URL : 'javascript:;' | Safe: 'url'"
                  [appKeyController]="editFunction" [keyControl]="'target'" [keyValue]="icon?.Function_URLTarget"
                  rel="noopener noreferrer">
                  <div class="img-box">
                    <img [lazyLoad]="icon.Function_Icon" [defaultImage]="appService.defaultImage"
                      [alt]="icon.Function_Name">
                  </div>
                  <p>{{icon.Function_Name}}</p>
                </a>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!--web service (justKa)-->
<div class="bearservice">
  <div class="scroll-top-wrapper">
    <span class="scroll-top-inner">
      <button (click)="toggle();" type="button" id="webservice">
        <img [lazyLoad]="'img/index/icons/for-pc/icon_service.png'" class="justka-img"
          [defaultImage]="appService.defaultImage"></button>
    </span>
    <div class="justka-msg" [ngClass]="{'d-none': closeMsg }">
      <button (click)="closeMsg = true" type="button">×</button>
      <p>哈囉您好！有需要幫忙的地方，歡迎找我喔！</p>
    </div>
  </div>
</div>
<app-pc-footer></app-pc-footer>
<app-mobile-footer></app-mobile-footer>
