<section [ngClass]="{'d-none': !appService.showAPPHint}" class="appNotifyBox">
  <div class="appNotify container" [ngClass]="{'animationMoveUpOut': animationMoveUpOut}">
    <div class="d-flex">
      <img src="img/index/AppLogo.png" class="item AppLogo">
      <div class="item">
        <p>Mobii! 綠色城市優惠平台</p>
        <small>立刻下載App,開始驚奇旅程</small>
      </div>
      <div class="item appNotifyBtn">
        <button (click)="toDownloadAPP()" class="btn dwbtn">立即下載</button>
        <button (click)="toCloseDownloadAPP();" type="button" class="close appclose">&times;</button>
      </div>
    </div>
  </div>
</section>
<div class="wrap container">
  <header>
    <app-index-header></app-index-header>
    <!-- 搜尋列 -->
    <section class="mobii-search-box">
      <div class="s-bar-gray mobile">
        <div class="input-box border-radius5 d-flex">
          <button class="btn" (click)="searchOffers($event.target.value);"><i
              class="material-icons">&#xE8B6;</i></button>
          <input type="text" inputmode="search" placeholder="搜尋優惠券" class="border-0"
            (keyup.enter)="searchOffers($event.target.value);">
        </div>
      </div>
    </section>
    <!-- 手機版 上方banner -->
    <section class="mobii-bnbox">
      <div class="userbox mr-auto">
        <div *ngIf="appService.loginState" class="txt-line-clamp1 user-hi">你好，{{appService.userName}}</div>
        <ul class="m-bnbox-item">
          <li class="txt-line-clamp1">
            <img src="img/share/mobiicoin.png" alt="" class="mr-1 h20">
            <span class="user-mobii">{{appService.loginState ? (userPoint | currency: '':'':'1.0-0') :
              '--'}}</span>點
          </li>
        </ul>
      </div>
      <div id="carouselBanner" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <a *ngFor="let ad of adTop; let First = first" [href]="ad?.ADImg_URL | nullHref : router.url"
            [target]="ad?.ADImg_URLTarget | nullTarget : ad?.ADImg_URL : router.url" rel="noopener noreferrer"
            [ngClass]="{'active': First}" class="carousel-item">
            <img [src]="ad?.ADImg_Img" class="d-block w-100" alt="">
          </a>
        </div>
      </div>
    </section>
  </header>
  <main class="pt-0">
    <div class="main-content container">
      <div class="row pt-2">
        <!-- 我的服務-主要連結(PC) -->
        <div class="col-12 for-pc">
          <!-- Swiper for icons -->
          <div class="index-iconbox">
            <swiper class="index-icon " [config]="boxIcon">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let item of ftTop">
                  <div class="item">
                    <a (click)="FunctionLink(item, false)" [ngClass]="{'disable' : item.Function_IsActive == 0}">
                      <div class="img-box">
                        <img [src]="item?.Function_Icon" [alt]="item?.Function_Name">
                      </div>{{item.Function_Name}}
                    </a>
                  </div>
                </div>
              </div>
            </swiper>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <!-- 我的服務-主要連結(mobile) -->
        <div class="for-mobile w-100">
          <div class="col-12 center-v">
            <div class="mainicon-link default-link">
              <div *ngFor="let item of ftTop; let i = index;" class="link-item" [hidden]="Total_Icon === Icon_Quantity ? i > (Icon_Quantity - 1) : i > (Icon_Quantity - 2)">
                <a (click)="FunctionLink(item, false)">
                  <div class="img-box">
                    <img [src]="item?.Function_Icon" [alt]="item?.Function_Name">
                  </div>
                  <p>{{item.Function_Name}}</p>
                </a>
              </div>
              <div class="link-item" [hidden]="Total_Icon <= Icon_Quantity">
                <a (click)="layerTrig = 1">
                  <div class="img-box">
                    <img src="img/index/icons/category3_more.png" alt="">
                  </div>
                  <p>更多服務</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--【app-swiper-content參數設定】
          swiperOption: swiper設定
          slides: 資料源
          aClass: <a>使用class
          slideClass: swiper-slide使用class
          pagination: 左右分頁 顯示true/隱藏false
          arrows: 下方分頁 顯示true/隱藏false
          contImg: 圖片以img 顯示true/隱藏false
          contBackground: 圖片以Background顯示時用的class (與contImg擇一使用) -->
    <!-- 去哪玩連結/中間四格 -->
    <div class="go-where-link container px-3 my-3">
      <app-swiper-content [swiperOption]="boxGoWhere" [slides]="adMid4" class="index-gowhere" [aClass]="'link-item'"
        [slideClass]="'item'" [pagination]="false" [arrows]="false" [contImg]="true" [contBackground]="''">
      </app-swiper-content>
    </div>

    <!-- 中間大廣告 ad banner -->
    <div *ngIf="adMid?.length > 0" class="big-banner container px-3">
      <app-swiper-content [swiperOption]="boxAD" [slides]="adMid" [aClass]="''" [slideClass]="''" [pagination]="true"
        [arrows]="false" [contImg]="false" [contBackground]="'rwdimg-cover h37'"></app-swiper-content>
    </div>

    <!-- 熱門優惠券 -->
    <div *ngIf="nowVoucher?.length > 0" class="offers-list container my-2 px-3">
      <h6>熱門優惠券</h6>
      <div class="afp-tab-box">
        <div class="afp-tab mb-3">
          <nav>
            <app-swiper-nav [swiperOptionNav]="boxTabs" [slidesNav]="nowVoucher" [readSheetMode]="2"
              (readSheetNav)="readSheet($event.Mode, $event.Idx, $event.Code, $event.Id)"></app-swiper-nav>
          </nav>
          <app-swiper-panes [swiperOptionPanes]="boxOffer" [slidesPanes]="nowVoucher" [readSheetMode]="2">
          </app-swiper-panes>
        </div>
      </div>
    </div>

    <!-- 熱門商品瀑布流 -->
    <div *ngIf="hotProducts?.length > 0" class="onsale-list container my-2 px-3">
      <h6>熱門商品</h6>
      <!-- masonry products -->
      <div class="products-recently">
        <ngx-masonry [options]="masonry">
          <div ngxMasonryItem *ngFor="let product of hotProducts" class="products-item">
            <a [routerLink]="['/Shopping/ProductDetail', product.Product_UserDefineCode, product.Product_Code]">
              <div class="products-img">
                <div class="img-box">
                  <div class="rwdimg-cover" [lazyLoad]="product?.Product_PrimeImage"
                    [defaultImage]="appService.defaultImage"></div>
                </div>
              </div>
              <div class="products-title">
                <p class="txt-line-clamp2">{{product.Product_ExtName}}</p>
              </div>
              <div class="products-price">
                <div class="price-asking">{{product.Product_SpecialPrice > 0? (product.Product_SpecialPrice |
                  currency: 'TWD':'$':'1.0-2') : (product.Product_SellPrice | currency: 'TWD':'$':'1.0-0')}}</div>
                <div class="price-original" *ngIf="product.Product_SpecialPrice > 0">{{product.Product_SellPrice |
                  currency: 'TWD':'$':'1.0-2' }}</div>
              </div>
            </a>
          </div>
        </ngx-masonry>
      </div>
    </div>
  </main>
  <!-- 進場廣告 -->
  <div *ngIf="appService.adIndexOpen && adIndexTime && adIndex.length > 0">
    <div class="enterbox">
      <swiper class="enterswiper swiper-container" [config]="adIndexOption">
        <button type="button" class="btn enterCloseBtn" (click)="adIndexClose()">
          <img src="img/share/close.png"></button>
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let ad of adIndex">
            <a [href]="ad?.ADImg_URL | nullHref : router.url"
              [target]="ad?.ADImg_URLTarget | nullTarget : ad?.ADImg_URL : router.url" rel="noopener noreferrer">
              <img [src]="ad.ADImg_Img">
            </a>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </swiper>
      <div class="modal-backdrop"></div>
    </div>
  </div>

  <div class="layerTrig" [@layerTrigger] *ngIf="layerTrig === 1">
    <div class="container float-left">
      <div class="setting">
        <div class="aside-header">
          <div>
            <button class="btn px-0 close-btn" (click)="layerTrig = 0" data-toggle="tooltip" data-placement="bottom"
              title="回上一頁">
              <i class="material-icons">&#xe314;</i>
            </button>
          </div>
          <div class="edit-title-box">
          </div>
        </div>
        <div class="service-box bt1-solid" id="moreServiceList">
          <!-- 更多服務 -->
          <ng-container *ngFor="let item of serviceList">
            <ng-container *ngIf="item?.Model_Function.length > 0">
              <div class="title-item pt-3">{{item.CategaryName}}</div>
              <div class="main-link edit-link items0">
                <div class="link-item" *ngFor="let icon of item.Model_Function;"
                  [ngClass]="{'disable' : icon.Function_IsActive === 0}">
                  <a [href]="icon.Function_IsActive ? icon.Function_URL : 'javascript:;' | Safe: 'url'"
                    rel="noopener noreferrer">
                    <div class="img-box">
                      <img [lazyLoad]="icon.Function_Icon" [defaultImage]="appService.defaultImage"
                        [alt]="icon.Function_Name">
                    </div>
                    <p>{{icon.Function_Name}}</p>
                  </a>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!--web service (justKa)-->
<div class="bearservice">
  <div class="scroll-top-wrapper">
    <span class="scroll-top-inner">
      <button (click)="appService.showJustka(this.JustKaUrl)" type="button" id="webservice">
        <img [lazyLoad]="'img/index/icons/for-pc/icon_service.png'" class="justka-img"
          [defaultImage]="appService.defaultImage"></button>
    </span>
    <div class="justka-msg" [ngClass]="{'d-none': closeMsg }">
      <button (click)="closeMsg = true" type="button">×</button>
      <p>哈囉您好！有需要幫忙的地方，歡迎找我喔！</p>
    </div>
  </div>
</div>
<app-go-top></app-go-top>
<app-pc-footer></app-pc-footer>
<app-mobile-footer></app-mobile-footer>

<section class="cookieNotifyBox" *ngIf="cookieShow==='0'">
  <div class="cookieNotify container">
    <p>本網站使用cookie以為確保使用者獲得最佳體驗，請您務必查閱
      <a href="/Info/Privacy" target="_black" style="color: #fff;">[隱私權政策]</a>
      ，如您繼續使用本網站，即表示您確認並同意本網站的隱私權政策。
    </p>
    <button type="button" (click)="cookieShowClick()">我知道了</button>
  </div>
</section>
