.container {
  padding: 2em;
}
.logo-box {
  padding-top: 2em;
  width: 100%;
  text-align: center;
  img {
    width: 160px;
  }
}
h3 {
  padding: 1em;
}
.content p {
  padding-top: .5em;
  padding-bottom: .5em;
}
button {
  margin-top: 2em;
  margin-bottom: .5em;
}
