<div class="wrap container">
  <div class="logo-box">
    <img alt="logo" src="/img/share/mlogo.png">
  </div>
  <div class="content">
    <h3 class="w-100 text-center">帳號升級公告</h3>
    <p class="w-100 text-center text-danger">原 Mobii! 會員，也需重新註冊 艾斯會員帳號</p>
    <p>為了提升系統效能與登入的安全性，將進行系統帳號升級，原 Mobii! 會員帳號將升級為艾斯會員帳號。</p>
    <p>若已是Mobii!會員，仍須重新進行手機驗證，無論是用一般手機還是用第三方登入方式，請務必<span class="text-danger">以當初註冊於 Mobii! 的手機號碼進行驗證</span>。原會員資料、M Points、已領取之優惠券、商品訂單與既有服務並不會受到影響。</p>
    <p>用一般手機註冊之 Mobii! 舊會員者，請用<span class="text-danger">重新註冊</span>方式進行升級綁定；若未曾註冊過 Mobii! 帳號，則手機驗證完後，便會直接成為 Mobii! 會員。</p>
    <form #oauthLogin="ngForm" (ngSubmit)="onSubmit(oauthLogin)" id="oauth-login">
      <button type="submit" class="btn index-btn w-100 login-ok">前往登入註冊</button>
    </form>
  </div>
</div>
