<div class="mysocial">
  <div class="headerbox container title-box">
    <div class="item icon-btn">
      <button type="button" class="btn px-0" onclick="history.back()" data-toggle="tooltip"
        data-placement="bottom" title="回上一頁">
        <i class="material-icons">&#xe314;</i>
      </button>
    </div>
    <div class="item title-name">社群帳號綁定</div>
    <div class="item icon-btn"></div>
  </div>
  <div class="my-list-box">
    <p>社群帳號</p>
    <ul class="social-account">
      <li style="display: none;">
        <div class="item item-img">
          <img src="../img/index/social/wechat.svg" alt="">
        </div>
        <div class="item">微信</div>
        <div class="item auto-left">
          <button type="button" class="btn msg-open" value="msg-mysocialremove" data-toggle="modal"
            data-target="#messageModal" data-dismiss="modal" aria-label="Close">綁定</button>
        </div>
      </li>
      <li>
        <div class="item item-img">
          <img src="../../img/index/social/facebook.svg" alt="">
        </div>
        <div class="item">Facebook</div>
        <div class="item auto-left">
          <button type="button" class="btn msg-open" [hidden]="bindStatus.fb" (click)="signInWithFB()">綁定</button>
          <button type="button" class="btn msg-open bind" [hidden]="!bindStatus.fb">已綁定</button>
          <!-- button type="button" class="btn msg-open" [hidden]="memberService.FBThird == null" (click)="onDelThird(memberService.FBThird.UserThird_Mode)">解除綁定</!-->
        </div>
      </li>
      <li [hidden]="!isApple">
        <div class="item item-img">
            <img src="../img/index/social/apply.svg" alt="">
        </div>
        <div class="item">Apple ID</div>
        <div class="item auto-left">
          <button type="button" class="btn msg-open" [hidden]="bindStatus.apple" (click)="signInWithApple()">綁定</button>
          <button type="button" class="btn msg-open bind" [hidden]="!bindStatus.apple">已綁定</button>
        </div>
    </li>
      <li style="display: none;">
        <div class="item item-img">
          <img src="../../img/index/social/line.svg" alt="">
        </div>
        <div class="item">LINE</div>
        <div class="item auto-left">
          <button type="button" class="btn msg-open" value="msg-mysocialremove" data-toggle="modal"
            data-target="#messageModal" data-dismiss="modal" aria-label="Close">綁定</button>
        </div>
      </li>
      <li>
        <div class="item item-img">
          <img src="../../img/index/social/google.svg" alt="">
        </div>
        <div class="item">Google</div>
        <div class="item auto-left">
          <button type="button" class="btn msg-open" [hidden]="bindStatus.google" (click)="signInWithGoogle()">綁定</button>
          <button type="button" class="btn msg-open bind" [hidden]="!bindStatus.google">已綁定</button>
          <!-- button type="button" class="btn msg-open" [hidden]="memberService.GoogleThird == null" (click)="onDelThird(memberService.GoogleThird.UserThird_Mode)">解除綁定</!-- -->
        </div>
      </li>
    </ul>
  </div>
</div>
