<div class="wrap container">
  <main>
    <!-- Swiper for shopping-storeimg -->
    <div class="shopping-storedetail">
      <div class="shopping-storedetailbox">
        <div class="shopping-storeimgbox">
          <swiper class="shopping-storeimg swiper-container" [config]="imgSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngIf="siteInfo?.ECStore_Image1 !== null">
                <div [lazyLoad]="siteInfo?.ECStore_Image1" [defaultImage]="appService.defaultImage" class="img-fluid">
                </div>
              </div>
              <div class="swiper-slide" *ngIf="siteInfo?.ECStore_Image2 !== null">
                <div [lazyLoad]="siteInfo?.ECStore_Image2" [defaultImage]="appService.defaultImage" class="img-fluid">
                </div>
              </div>
              <div class="swiper-slide" *ngIf="siteInfo?.ECStore_Image3 !== null">
                <div [lazyLoad]="siteInfo?.ECStore_Image3" [defaultImage]="appService.defaultImage" class="img-fluid">
                </div>
              </div>
              <div class="swiper-slide" *ngIf="siteInfo?.ECStore_Image4 !== null">
                <div [lazyLoad]="siteInfo?.ECStore_Image4" [defaultImage]="appService.defaultImage" class="img-fluid">
                </div>
              </div>
              <div class="swiper-slide" *ngIf="siteInfo?.ECStore_Image5 !== null">
                <div [lazyLoad]="siteInfo?.ECStore_Image5" [defaultImage]="appService.defaultImage" class="img-fluid">
                </div>
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <div class="shopping-storeup">
              <div class="back-go">
                <app-back-btn [iconStyle]="2"></app-back-btn>
              </div>
              <div class="ml-auto d-flex d-inline align-items-center">
                <button class="btn add-share" type="button"
                  (click)="appService.shareContent(textForShare, APPShareUrl)"><img src="../img/share/icon_share.png"
                    class="imgicon"></button>
                <div class="add-favorite">
                  <button
                    (click)="appService.favToggle((appService.userFavCodes.includes(siteCode)? 2 : 1), siteInfo?.ECStore_Type < 2000? 52 : 53, siteCode)"
                    [ngClass]="{'active': appService.userFavCodes.includes(siteCode)}" type="button"
                    title="加入/移除收藏"><img src="../img/share/icon_favorite.png" class="imgicon">
                  </button>
                </div>
              </div>
            </div>
          </swiper>
        </div>
      </div>
      <div class="store-container">
        <div class="store-info-box">
          <div class="shopping-flex">
            <div class="item three p-2">
              <div class="shopping-storebox d-flex flex-row d-inline-block">
                <div *ngIf="siteInfo?.ECStore_Type < 2000 && siteInfo?.ECStore_Logo !== null" class="img-box mr-2">
                  <div [lazyLoad]="siteInfo?.ECStore_Logo" [defaultImage]="appService.defaultImage"
                    class="rwdimg-cover rounded-circle">
                  </div>
                </div>
                <div class="store-title">
                  <small class="text-index small-80">{{siteInfo?.ECStore_TypeName}}
                    <span *ngIf="siteInfo?.ECStore_Type !== 1000" class="text-muted small-70">
                      • {{siteInfo?.ECStore_Distance | currency: '':'':'1.0-0'}} m
                    </span>
                  </small>
                  <p>{{siteInfo?.ECStore_ShowName}}</p>
                </div>
              </div>
            </div>
            <div *ngIf="siteInfo?.ECStore_Type < 2000 && this.JustKaUrl !== null" class="item one align-self-end">
              <button (click)="appService.showJustka(this.JustKaUrl)" type="button" class="btn shopping-store-btn">
                <img src="../../../../img/callcar/category_chat.png" class="h20">
                <span>聯絡店家</span>
              </button>
            </div>
          </div>
          <div class="referral-box" *ngIf="ecstoreLink.length > 0">
            <div class="title">
              更多推薦
            </div>
            <div class="row">
              <!-- 推薦連結，只顯示九顆按鈕 -->
              <a class="col" *ngFor="let link of ecstoreLink; let i = index;"
                [hidden]="ecstoreLink.length > 10 ? i > 8 : i > 9" [target]="link.ECStoreLink_URLTarget"
                [href]="link.ECStoreLink_URL">
                <img [src]="link.ECStoreLink_Icon">
                <p class="txt-line-clamp1">{{ link.ECStoreLink_Name }}</p>
              </a>
              <div class="col" (click)="layerTrig = 3" [hidden]="ecstoreLink.length < 11">
                <img src="../../../../img/shopping/store/more.png">
                <p class="txt-line-clamp1">更多</p>
              </div>
            </div>
          </div>
          <div class="store-tab-box">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a [routerLink]="['/Explore/ExploreDetail', siteCode]"
                  [queryParams]="{ navNo: 1, showBack: appService.showBack}" [ngClass]="{'active' : tabNo == 1}"
                  class="nav-link active">{{siteInfo?.ECStore_Type < 2000? '店家' : '周邊' }}簡介</a>
              </li>
              <li *ngIf="siteInfo?.ECStore_Type < 2000 && siteInfo?.ECStore_Type !== 1100" class="nav-item">
                <a [routerLink]="['/Explore/ExploreDetail', siteCode]"
                  [queryParams]="{ navNo: 3, showBack: appService.showBack }" [ngClass]="{'active' : tabNo == 3}"
                  class="nav-link">熱賣商品</a>
              </li>
              <li *ngIf="siteInfo?.ECStore_Type < 2000" class="nav-item">
                <a [routerLink]="['/Explore/ExploreDetail', siteCode]"
                  [queryParams]="{ navNo: 2, showBack: appService.showBack }" [ngClass]="{'active' : tabNo == 2}"
                  class="nav-link">優惠券</a>
              </li>
            </ul>
            <div class="tab-content border-t">
              <!-- 商家簡介 -->
              <div [ngClass]="{'show active' : tabNo == 1}" class="tab-pane fade show active" id="store">
                <div class="store-group">
                  <!-- 簡介文字 -->
                  <div class="store-item store-itemopen">
                    <div
                      *ngIf="siteInfo?.ECStore_Features !== null && siteInfo?.ECStore_Features !== ''; else noIntroBlock"
                      [innerHTML]="siteInfo?.ECStore_Features | Safe: 'html'"></div>
                    <ng-template #noIntroBlock>
                      <div class="no-data no-transform w-100">
                        <img src="img/explore/no-intro.png" alt="no-product">
                        <p>Oops!Oops!<br>你搜尋的店家目前沒有提供簡介喔！</p>
                      </div>
                    </ng-template>
                  </div>
                  <!-- 地址 -->
                  <div *ngIf="siteInfo?.ECStore_Type !== 1000" class="store-item store-itemopen">
                    <div class="item-icon">
                      <img src="../../../img/share/store-location.png" class="h20">
                    </div>
                    <div class="item">
                      <a href="https://www.google.com.tw/maps/place/{{siteInfo?.ECStore_Address}}" target="_blank"
                        rel="noopener noreferrer">{{siteInfo?.ECStore_Address}}</a>
                    </div>
                  </div>
                  <!-- 分店資訊 -->
                  <div *ngIf="siteInfo?.ECStore_Type < 2000" [ngClass]="{'is-open': this.unfolded.includes(2)}"
                    class="store-item store-itemopen">
                    <div class="item-icon">
                      <img src="../../../img/share/store-branch.png" class="h20">
                    </div>
                    <div class="item">
                      <p>分店資訊</p>
                    </div>
                    <div (click)="unfold(2)" class="open-btn"><i class="material-icons"></i></div>
                    <ul class="itemopen-list">
                      <li *ngFor="let store of branchList"
                        [routerLink]="['/Explore/ExploreDetail', store?.ECStore_Code]">
                        <span>{{store?.ECStore_ShowName}}</span>
                        <i class="material-icons keyboard_arrow_right">&#xe315;</i>
                      </li>
                      <li *ngIf="branchList.length === 0">
                        <span>無分店資訊</span>
                      </li>
                    </ul>
                  </div>
                  <!-- 營業時間 -->
                  <div [ngClass]="{'is-open': this.unfolded.includes(3)}" class="store-item store-itemopen">
                    <div class="item-icon">
                      <img src="../../../img/share/store-time.png" class="h20">
                    </div>
                    <div class="item">
                      營業時間
                    </div>
                    <div (click)="unfold(3)" class="open-btn"><i class="material-icons"></i></div>
                    <ul class="itemopen-list" [innerHTML]="siteInfo?.ECStore_OpenTime"></ul>
                  </div>
                  <!-- 聯絡電話 -->
                  <div *ngIf="siteInfo?.ECStore_Tel !== null" class="store-item">
                    <div class="item-icon">
                      <img src="../../../img/share/store-phone.png" class="h20">
                    </div>
                    <div class="item">
                      <a href="tel:{{siteInfo?.ECStore_Tel}}">{{siteInfo?.ECStore_Tel}}</a>
                    </div>
                  </div>
                  <!-- 付款方式 (周邊與實體店不顯示)-->
                  <div *ngIf="siteInfo?.ECStore_Type === 1000" class="store-item">
                    <div class="item-icon">
                      <img src="../../../img/share/store-payment.png" class="h20">
                    </div>
                    <div class="item">
                      信用卡
                    </div>
                  </div>
                  <!-- 官網 -->
                  <div *ngIf="websitesArr.length > 0" class="store-item align-items-start">
                    <div class="item-icon">
                      <img src="../../../img/share/store-website.png" class="h20">
                    </div>
                    <ul>
                      <li *ngFor="let website of websitesArr; let Last = last;" class="item text-left">
                        <a href="{{website?.siteUrl}}" target="_blank" rel="noopener noreferrer"
                          class="text-bluedk">{{website?.siteName}}</a>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
              <!-- 所有商品 -->
              <div [ngClass]="{'show active' : tabNo == 3}" class="tab-pane fade" id="shop" role="tabpanel"
                aria-labelledby="shop-tab">
                <!-- 篩選與排序不顯示 -->
                <div class="flex-inline-between p-2 d-none">
                  <div class="sub-title">
                    <button class="btn">
                      篩選與排序
                    </button>
                  </div>
                  <div class="sub-img" (click)="layerTrig = 1">
                    <button class="btn px-0"><i class="material-icons">&#xE152;</i></button>
                  </div>
                </div>
                <div id="products-list">
                  <div *ngIf="productList?.length > 0; else noProductBlock" class="products-listbox">
                    <div class="row">
                      <div *ngFor="let product of productList" class="col-6 col-md-4">
                        <div class="products-item">
                          <a
                            [routerLink]="['/Shopping/ProductDetail', product.Product_UserDefineCode, product.Product_Code]">
                            <div class="products-img">
                              <div class="productimg-box">
                                <div class="rwdimg-cover" [lazyLoad]="product.Product_PrimeImage"
                                  [defaultImage]="appService.defaultImage"></div>
                              </div>
                            </div>
                            <div class="products-title">
                              <p class="txt-line-clamp2">{{product?.Product_ExtName}}</p>
                            </div>
                            <div class="products-price">
                              <div class="price-asking">{{product.Product_SpecialPrice > 0?
                                (product.Product_SpecialPrice | currency: 'TWD':'$':'1.0-2') :
                                (product.Product_SellPrice | currency: 'TWD':'$':'1.0-0')}}</div>
                              <div class="price-original" *ngIf="product.Product_SpecialPrice > 0">
                                {{product.Product_SellPrice | currency: 'TWD':'$':'1.0-2' }}</div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ng-template #noProductBlock>
                    <div class="no-data no-transform">
                      <img src="img/explore/no-product.png" alt="no-product">
                      <p>Oops!<br>你搜尋的店家目前沒有販售中的商品喔！</p>
                    </div>
                  </ng-template>
                </div>
              </div>
              <!-- 優惠券 -->
              <div [ngClass]="{'show active' : tabNo == 2}" class="tab-pane fade" id="ticket"
                aria-labelledby="ticket-tab">
                <!-- discout -->
                <div *ngIf="voucherList?.length > 0; else noVoucherBlock" class="mycoin-couponbox card-columns px-3">
                  <div *ngFor="let voucher of voucherList" class="card border-radius5">
                    <div class="card-body">
                      <div class="card-text">
                        <div class="member-flex">
                          <div
                            [routerLink]="voucher?.Voucher_UserVoucherCode === null? ['/Voucher/VoucherDetail', voucher.Voucher_Code] : ['/Voucher/VoucherDetail', voucher.Voucher_UserVoucherCode]"
                            [queryParams]="{showBack: appService.showBack}" class="item one">
                            <div [lazyLoad]="voucher.Voucher_Image" [defaultImage]="appService.defaultImage"
                              class="rwdimg-cover logo-img"></div>
                          </div>
                          <div class="item three px-2">
                            <p>{{voucher.Voucher_Title}}</p>
                            <p>{{voucher.Voucher_ExtName}}</p>
                            <p>{{voucher.Voucher_UsedOnDate | date: 'yyyy/MM/dd' }} ~ {{voucher.Voucher_UsedOffDate |
                              date: 'yyyy/MM/dd' }}</p>
                          </div>
                          <div class="item one">
                            <button (click)="appService.onVoucher(voucher)"
                              [disabled]="appService.loginState===true && (voucher.Voucher_IsFreq === 0 || voucher.Voucher_IsFreq === 3)"
                              [ngClass]="{'gray-obtn': voucher.Voucher_IsFreq === 0 || voucher.Voucher_IsFreq === 3,
                                                              'index-btn': voucher.Voucher_IsFreq === 1,
                                                              'index-outline-btn': voucher.Voucher_IsFreq === 2 || voucher.Voucher_IsFreq === 5}"
                              class="btn px-2 small-80">
                              {{appService.loginState===false ? '兌換' : voucher.Voucher_FreqName}}
                            </button>
                            <div *ngIf="voucher.Voucher_DedPoint > 0" class="m-quantity small pl-1">
                              <img src="../img/share/mobiicoin_red.png" class="coinimg-m">
                              {{voucher.Voucher_SpecialPoint > 0 ? voucher.Voucher_SpecialPoint :
                              voucher.Voucher_DedPoint | currency: '':'':'1.0-2'}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer bg-cardfooter pt-2 pb-0">
                      <div class="member-flex small-80">
                        <div class="item one text-nowrap">
                          <img src="../../img/share/{{voucher.Voucher_ShowType}}_w.png" class="nearbyimg" alt="">
                          {{voucher.Voucher_ShowTypeName}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #noVoucherBlock>
                  <div class="no-data no-transform">
                    <img src="img/explore/no-voucher.png" alt="no-voucher">
                    <p>Oops!<br>你搜尋的店家目前沒有可領取的優惠券喔！</p>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="addheight"></div>
    <!--外送 / 外送按鈕-->
    <footer class="success-mode container z-index301 order-icon" *ngIf="ecStoreExtType">
      <button class="btn-ok" (click)="sendDelivery(siteInfo?.ECStore_DeliveryURL)"
        [ngClass]="{'w-45': siteInfo?.ECStore_TakeoutURL !== null}"
        *ngIf="siteInfo?.ECStore_DeliveryURL !== null">我要外帶</button>
      <button class="btn-takeout" (click)="sendDelivery(siteInfo?.ECStore_TakeoutURL)"
        [ngClass]="{'w-45': siteInfo?.ECStore_DeliveryURL !== null}"
        *ngIf="siteInfo?.ECStore_TakeoutURL !== null">我要外送</button>
    </footer>

  </main>

  <!--篩選-->
  <div class="modal-backdrop fade show container" *ngIf="layerTrig === 1"></div>
  <div class="layerTrig Trigsort container" [@layerTrigger] *ngIf="layerTrig === 1">
    <div id="open-pagebox" class="productslistsort">
      <div class="open-page-title flex-inline-between">
        <div class="title-icon">
          <button class="btn" (click)="layerTrig = 0">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="title-txt">
          篩選與排序
        </div>
        <div class="title-txt">
        </div>
      </div>
      <ul class="open-page-ul">
        <label>篩選</label>
        <li class="flex-inline-between active" (click)="layerTrig = 2">
          <div class="">
            商品分類
          </div>
          <div class="">
            手機殼/手機套<i class="material-icons">&#xe315;</i>
          </div>
        </li>
        <li class="flex-inline-between">
          <div class="">
            免運費
          </div>
          <div class="">
            全部顯示<i class="material-icons">&#xe315;</i>
          </div>
        </li>
        <li class="flex-inline-between">
          <div class="">
            材質
          </div>
          <div class="">
            全部顯示<i class="material-icons">&#xe315;</i>
          </div>
        </li>
      </ul>
      <ul class="open-page-ul">
        <label>排序</label>
        <li class="flex-inline-between">
          <div class="">
            最新上架優先
          </div>
          <div class="">
          </div>
        </li>
        <li class="flex-inline-between active">
          <div class="">
            熱門程度優先
          </div>
          <div class="">
            <i class="material-icons done">&#xe876;</i>
          </div>
        </li>
        <li class="flex-inline-between">
          <div class="">
            價格由低而高
          </div>
          <div class="">
          </div>
        </li>
        <li class="flex-inline-between">
          <div class="">
            價格由高而低
          </div>
          <div class="">
          </div>
        </li>
      </ul>
      <button class="btn all-reset">
        全部重設
      </button>
    </div>
  </div>
  <div class="modal-backdrop fade show container" *ngIf="layerTrig === 2"></div>
  <div class="layerTrig Trigsort container" [@layerTrigger] *ngIf="layerTrig === 2">
    <div id="open-pagebox1" class="productslistsort1">
      <div class="open-page-title flex-inline-between">
        <div class="close-btn">
          <button class="btn" (click)="layerTrig = 1">
            <i class="material-icons">&#xe314;</i>
          </button>
        </div>
        <div class="title-txt">
          商品分類
        </div>
        <div class="title-txt">
        </div>
      </div>
      <ul class="open-page-ul">
        <li class="flex-inline-between active">
          <div class="">
            <i class="material-icons done">&#xe876;</i> 全部顯示
          </div>
          <div class="">
          </div>
        </li>
        <li class="flex-inline-between">
          <div class="">
            手機殼/手機套
          </div>
          <div class="">
            13274
          </div>
        </li>
        <li class="flex-inline-between">
          <div class="">
            平板/電腦保護殼
          </div>
          <div class="">
            1231
          </div>
        </li>
        <li class="flex-inline-between">
          <div class="">
            耳機
          </div>
          <div class="">
            274
          </div>
        </li>
        <li class="flex-inline-between">
          <div class="">
            USB隨身碟
          </div>
          <div class="">
            1374
          </div>
        </li>
        <li class="flex-inline-between">
          <div class="">
            行動電源
          </div>
          <div class="">
            1327
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- 店家推薦 -->
  <div class="layerTrig container" [@layerTrigger] *ngIf="layerTrig === 3">
    <div class="referral-more">
      <div>
        <button class="btn" (click)="layerTrig = 0">
          <i class="material-icons">&#xe314;</i><span>返回</span>
        </button>
      </div>
      <div class="row">
        <a class="col" *ngFor="let link of ecstoreLink" [target]="link.ECStoreLink_URLTarget"
          [href]="link.ECStoreLink_URL">
          <img [src]="link.ECStoreLink_Icon">
          <p class="txt-line-clamp1">{{ link.ECStoreLink_Name }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
