<div class="wrap container">
  <header class="fixed-top container">
      <!-- header top -->
      <div class="header-secondary container linebt-row">
          <div class="shopping-flex justify-content-between">
              <div class="item two">
                  <div class="close-btn">
                      <button class="btn px-0" onclick="history.back();" data-toggle="tooltip" data-placement="bottom" title="回上一頁">
                          <i class="material-icons">&#xe314;</i>
                      </button>
                  </div>
              </div>
              <div class="item three text-center">
                  <div class="title-name">產品資訊</div>
              </div>
              <div class="item two">
                  <div class="top-item climate text-right">
                    <a *ngIf="vendorInfo?.ECStore_Justka !== null" (click)="appService.showJustka(vendorInfo.ECStore_Justka)">
                      <img src="../img/share/notify.png" class="h38" data-toggle="tooltip" data-placement="bottom" title="客服">
                    </a>
                    <a [routerLink]="['/ShoppingCart']">
                      <button class="badge-img px-0" data-toggle="tooltip" data-placement="bottom" title="購物車">
                        <span *ngIf="cartCount > 0" class="badge badge-on">{{cartCount > 99 ? '99+' : cartCount}}</span><img src="../../img/shopping/icon_shoppingcart.svg">
                      </button>
                    </a>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <main>
      <!-- Swiper for productbigimg -->
      <div class="shopping-productsdetail">
          <div class="shopping-productsdetailbox container">
              <div class="shopping-productsdetailbox container">
                <div class="d-flex position-absolute w-100 z-index2">
                    <div class="ml-auto d-flex d-inline align-items-center">
                        <button class="btn add-share" type="button" (click)="modal.show('msgShare', { initialState: {sharedText: textForShare} })"><img src="../img/share/icon_share.png" class="imgicon"></button>
                        <div class="add-favorite">
                          <button (click)="appService.favToggle(appService.userFavCodes.includes(productInfo?.Product_Code) ? 2 : 1, 51, productInfo.Product_Code)"
                          [ngClass]="{'active' : appService.userFavCodes.includes(productInfo?.Product_Code) == true}"
                          type="button" data-toggle="modal" data-target=".bd-example-modal-sm" data-toggle="tooltip" data-placement="top" title="加入/移除收藏">
                          <img src="../img/share/icon_favorite.png" class="imgicon">
                          </button>
                        </div>
                    </div>
                </div>
                <div class="shopping-productsimgbox">
                    <swiper class="shopping-productsimg swiper-container" [config]="productImgs">
                      <div class="swiper-wrapper">
                        <div *ngFor="let img of productImgList" class="swiper-slide">
                            <img src="{{img.ProductImg_ImgUrl}}">
                        </div>
                      </div>
                      <!-- Add Pagination -->
                      <div class="swiper-pagination"></div>
                    </swiper>
                </div>
              </div>
          </div>
          <div class="linebt-row"></div>
          <div class="products-info p-3">
              <div class="item d-flex d-inline">
                <span *ngIf="productInfo?.Product_Type === 21" class="products-label">
                    電子票券
                </span>
                <div class="products-title">
                  {{productInfo?.Product_ExtName}}
                </div>
            </div>
              <div class="item d-flex">
                  <div class="products-price">
                      <span class="price-asking pr-1">{{productInfo?.Product_SpecialPrice > 0? (productInfo?.Product_SpecialPrice | currency: 'TWD':'$':'1.0-2') : (productInfo?.Product_SellPrice | currency: 'TWD':'$':'1.0-0')}}</span>&ensp;
                      <span class="price-original" *ngIf="productInfo?.Product_SpecialPrice > 0">{{productInfo?.Product_SellPrice | currency: 'TWD':'$':'1.0-2' }}</span>
                  </div>
                  <div class="products-set">
                      / {{productInfo?.Product_SellUnitName}}
                  </div>
              </div>
              <div class="item flex-inline-between">
                  <div class="products-title text-nowrap">
                      商品規格
                  </div>
                  <div class="products-norm text-right" (click)="appService.callLayerUp('.productsformat');">
                      <span class="active">{{cartAttrValueName}}<i class="material-icons">&#xe315;</i></span>
                  </div>
              </div>
              <div [hidden]="productInfo?.Product_Type === 21" class="item flex-inline-between">
                  <div class="products-title">
                      數量
                  </div>
                  <div class="products-quantity">
                    <div class="flex-inline-between p-quantity products001">
                      <div class="input-group-btn data-dwn">
                          <button (click)="onSelectAmount(0)" class="btn btn-default btn-outline-dark amountBtn" id="amountMinus" data-dir="dwn"><i class="fas fa-minus"></i></button>
                      </div>
                      <div>
                        <input type="number" id="selectedAmount" readonly appDigitOnly [(ngModel)]="prodAmount" #selectedAmount="ngModel"
                          class="form-control text-center products001 bg-white" (keydown)="preventInput($event)">
                      </div>
                      <div class="input-group-btn data-up">
                          <button (click)="onSelectAmount(1)" class="btn btn-default btn-outline-dark amountBtn" id="amountPlus" data-dir="up"><i class="fas fa-plus"></i></button>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="item shopping-flex onbuy" [ngClass]="{'fixed-bottom container shopping-cartfooter py-3 px-3': currentSec > 0}">
                  <div class="item products-btn-buynow pt-0">
                      <button (click)="onAddToCart()" type="button" class="btn index-btn w-100">{{productInfo?.Product_Type === 21? '直接購買' : '加入購物車'}}</button>
                  </div>
              </div>
          </div>
          <div class="products-store">
              <div class="products-storebox flex-inline-between center-v">
                  <div class="products-store-info d-flex d-inline center-v pb-2">
                      <div class="img-box">
                          <div [style.background-image]="'url('+vendorInfo?.ECStore_Logo+')'" class="rwdimg logo-img"></div>
                      </div>
                      <div class="store-title">{{vendorInfo?.ECStore_ShowName}}</div>
                  </div>
                  <div class="products-store-btn">
                      <button (click)="onGoToStore(3)" type="button" class="btn index-outline-btn">查看賣場</button>
                  </div>
              </div>
          </div>
          <div *ngIf="voucherData !== null" class="products-storecoupon">
              <div class="products-storecouponbox flex-inline-between center-v">
                  <div class="products-storecoupon-info d-flex d-inline">
                      <div class="storecoupon-title">商場優惠券</div>
                  </div>
                  <div class="products-storecoupon-btn">
                      <button (click)="onGoToStore(2)" type="button" class="btn onlineshopping-o5btn py-0 small-80">{{voucherData?.Voucher_ExtName}}</button><i class="material-icons">&#xe315;</i>
                  </div>
              </div>
          </div>
          <div class="products-tag">
              <div class="products-tagbox">
                  <div class="afp-tab-box">
                      <div class="afp-tab mb-5">
                          <div class="tag-topbox" [ngClass]="{'fixed-top container': currentSec > 0 }">
                              <div id="tabsBar" class="nav-tabs-box tablist-products" [ngClass]="{'tag-top': currentSec > 0 }">
                                  <!-- Nav tabs -->
                                  <ul id="nav-tab-storedetail" class="nav nav-tabs pt-2" role="tablist">
                                    <li>
                                        <a class="tablist-link link-orange" [ngClass]="{'active show': currentSec === 1 || currentSec === 0 }" id="tab-tag01" (click)="scrollTo(1)">關於商品</a>
                                    </li>
                                    <li>
                                        <a class="tablist-link link-orange" [ngClass]="{'active show': currentSec === 2 }" id="tab-tag02" (click)="scrollTo(2)">訂購須知</a>
                                    </li>
                                    <li>
                                      <a class="tablist-link link-orange" [ngClass]="{'active show': currentSec === 3 }" id="tab-tag03" (click)="scrollTo(3)">{{productInfo?.Product_Type === 21? '使用':'運送'}}須知</a>
                                    </li>
                                  </ul>
                              </div>
                          </div>
                          <!-- Tab panes -->
                          <div id="tabContent" class="tab-content">
                              <div role="tabpanel" class="tab-pane fade active show w-100" #tag01 id="tag01">
                                  <h6>關於商品</h6>
                                  <img src="{{productInfo?.Product_PrimeImage}}">
                                  <div id="depictionContent" [innerHTML]="productInfo?.Product_Depiction"></div>
                              </div>
                              <div role="tabpanel" class="tab-pane fade active show w-100" #tag02 id="tag02">
                                  <h6>訂購須知</h6>
                                  <div id="noticeContent" [innerHTML]="productInfo?.Product_OrderNotice"></div>
                              </div>
                              <div role="tabpanel" class="tab-pane fade active show w-100" #tag03 id="tag03">
                                <h6>{{productInfo?.Product_Type === 21 ? '使用' : '運送'}}須知</h6>
                                <div id="logisticsContent" [innerHTML]="productInfo?.Product_Shopping"></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div id="loginhtml"></div>
  </main>

  <div class="modal-backdrop fade show d-none"></div>
  <!-- shopping up-menu (open-pageupbox) -->
  <div class="uplayer">
      <div class="productsformat">
          <div class="open-page-title text-center">
              選擇商品規格
          </div>
          <div class="open-page-body">
              <!-- 用label+input(radio)達成僅可單選 -->
              <div *ngFor="let attr of attrList" class="attrBlock">
                <h6 class="attrName">{{attr.Attribute_ShowName}}</h6>
                <div class="d-flex flex-wrap">
                  <div *ngFor="let attrValue of attr?.List_AttributeValue; let First = first" class="px-1">
                      <input type="radio" id="{{attrValue?.AttributeValue_AttributeCode}}" name="{{attr?.Attribute_ShowName}}"
                      value="{{attrValue?.AttributeValue_ShowName}}" [checked]="First">
                      <label for="{{attrValue?.AttributeValue_AttributeCode}}">
                        {{attrValue?.AttributeValue_ShowName}}
                      </label>
                  </div>
                </div>
              </div>
              <button type="submit" (click)="appService.backLayerUp(); onConfirmAttrValue()" class="btn index-btn msg-open w-100 my-3" value="msg-noselected" data-toggle="modal" data-target="#messageModal">確定</button>
          </div>
      </div>
  </div>

  </div>
