<footer id="footpc" #footpc class="for-pc" *ngIf="appService.isApp == null || appService.isApp === 0">
  <!--footer content-->
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h6>關於Mobii!</h6>
        <ul>
          <li><a href="/official/about.html?utm_source=MobiiWeb&utm_medium=Footer" target="_blank">關於我們</a></li>
          <li><a href="https://104.com.tw/company/cv8shww" target="_blank" rel="noopener noreferrer">人才招募</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h6>店家服務</h6>
        <ul>
          <li><a href="https://www.eyesmedia.com.tw/seller/" target="_blank">招商專區</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h6>會員服務</h6>
        <ul>
          <li><a href="/Info/Terms?utm_source=MobiiWeb&utm_medium=Footer">使用者規範</a></li>
          <li><a href="/Info/Privacy?utm_source=MobiiWeb&utm_medium=Footer">隱私權政策</a></li>
          <li><a href="/Info/QA?utm_source=MobiiWeb&utm_medium=Footer">常見問題</a></li>
          <li><a href="/Info/Return?utm_source=MobiiWeb&utm_medium=Footer">退貨流程</a></li>
          <li><a href="/Info/MPoints?utm_source=MobiiWeb&utm_medium=Footer">點數說明</a></li>
        </ul>
      </div>
      <div class="col-3">
        <h6>追蹤我們</h6>
        <ul>
          <li><a href="https://lihi1.com/uUMSb" target="_blank" rel="noopener noreferrer">Facebook</a></li>
        </ul>
      </div>
      <div class="w-100"></div>
      <div class="col-12 border-t">
        <!-- <div class="f-left small-70 d-flex align-items-center text-nowrap">
                <img src="https://www.mobii.ai/img/index/logo-s.png" class="logo-s"><span> Designed by 艾斯移動股份有限公司</span>
            </div> -->
        <div class="f-right small-70">
          Ⓒ2020 艾斯移動股份有限公司. All Rights Reserved
        </div>
      </div>
    </div>
  </div>
</footer>
