<h1>艾斯識別登入</h1>
<div>
  <!-- 「登入1-1」傳送按鈕(當下頁面)給後端，做為返回依據 -->
  <button *ngIf="appService.loginState===false" type="button" class="btn bluedk-outline-btn btw-small" (click)="oauthService.loginPage(this.appService.pathnameUri)">Ajax 登入</button>
</div>
<hr class="border m-3">
loginState: {{appService.loginState}}
<!-- 未登入 -->
<!-- <button (click)="appService.loginPage();appService.loginState=true" type="button"
class="m-topbox-item btn bluedk-outline-btn btw-small">
  old 登入/註冊
</button> -->
<!-- 登入 -->
<!-- 登出 -->
<button type="button" (click)="setIdToken()" class="btn index-btn w-100 login-ok">假idToken登入</button>
<button *ngIf="appService.loginState===true" (click)="appService.onLogout();appService.loginState=false" type="button"
  class="m-topbox-item btn bluedk-outline-btn btw-small">
  登出
</button>
<hr class="border m-3">
所在頁面: {{router.url}}<br>
前一頁: {{appService.prevUrl}}
