<p>deviceType: {{oauthService.loginRequest.deviceType}}</p>
<p>fromOriginUri: {{oauthService.loginRequest.fromOriginUri}}</p>
<p>authorizationUri: {{oauthService.authorizationUri}}</p>
<div>
  <button type="button" class="btn bluedk-outline-btn btw-small" (click)="showConfigResponse()">Ajax 登入</button>
</div>
<hr class="border m-3">
<!-- 未登入 -->
<button (click)="appService.loginPage();appService.loginState=true" type="button"
class="m-topbox-item btn bluedk-outline-btn btw-small">
  old 登入/註冊
</button>
<button (click)="oauthService.loginPage(pathname)" type="button"
  class="m-topbox-item btn bluedk-outline-btn btw-small">
  new 登入/註冊
</button>
<!-- 登入 -->
<div>
  <a [routerLink]="['/Member']">你好，{{appService.userName}}</a>
</div>
<!-- 登出 -->
<button (click)="appService.onLogout();appService.loginState=false" type="button"
  class="m-topbox-item btn bluedk-outline-btn btw-small">
  登出
</button>
<hr class="border m-3">
所在頁面: {{router.url}}<br>
前一頁: {{appService.prevUrl}}
