<p>DeviceType: {{oauthService.loginDeviceType}}</p>
<p>DeviceCode: {{appService.deviceCode}}</p>
<div>

  <form action="http://localhost:55254/api/Oauth/RedirectToAuthorize" method="POST" #postOauthlogin (ngSubmit)="signInWithOauth(postOauthlogin)">
    <div>
      <input type="hidden" name="DeviceType" [value]="oauthService.loginDeviceType">
      <input type="hidden" name="DeviceCode" [value]="appService.deviceCode">
      <input type="hidden" name="UserRedirectUri" [value]="'http://localhost:4200/'">
      <button type="submit buttonText" class="btn bluedk-outline-btn btw-small">Line 登入</button>
    </div>
  </form>
</div>
<hr class="border m-3">
<!-- 未登入 -->
<button (click)="appService.loginPage();loginState=true" type="button"
class="m-topbox-item btn bluedk-outline-btn btw-small">
  old 登入/註冊
</button>
<button (click)="oauthService.loginPage();loginState=true" type="button"
  class="m-topbox-item btn bluedk-outline-btn btw-small">
  new 登入/註冊
</button>
<!-- 登入 -->
<div>
  <a [routerLink]="['/Member']">你好，{{appService.userName}}</a>
</div>
<!-- 登出 -->
<button (click)="appService.onLogout();loginState=false" type="button"
  class="m-topbox-item btn bluedk-outline-btn btw-small">
  登出
</button>
<hr class="border m-3">
所在頁面: {{appService.currentUrl}}<br>
前一頁: {{appService.prevUrl}}
