<div class="mypsw">
  <div class="headerbox container title-box">
    <div class="item icon-btn">
      <button type="button" class="btn px-0" onclick="history.back()" data-toggle="tooltip"
        data-placement="bottom" title="回上一頁">
        <i class="material-icons">&#xe314;</i>
      </button>
    </div>
    <div class="item title-name">變更密碼</div>
    <div class="item icon-btn"></div>
  </div>
  <form #formUpdatePwd="ngForm" (ngSubmit)="formUpdatePwd.form.valid && onUpdatePwd(formUpdatePwd, newPassword2)">
    <div class="change-password-list">
      <ul>
        <li class="is-open">
          <input type="password" id="222" placeholder="舊密碼" name="oldPassword" #oldPassword="ngModel" [(ngModel)]="requestUpdatePwd.OldPwd" required>
          <small id="oldPwdlHelp" class="form-text text-muted" *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">請輸入舊密碼</small>
          <span toggle="#password-old" class="toggle-password">
            <i class="material-icons visibility d-none">&#xE8F4;</i>
            <i class="material-icons visibility-off">&#xE8F5;</i>
          </span>
        </li>
        <li>
          <div class="password-item">
            <input id="password-field-1" type="password" placeholder="輸入新密碼" name="newPassword"
            #newPassword="ngModel" [(ngModel)]="requestUpdatePwd.NewPwd" required pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}">
            <small id="pwdlHelp" class="form-text text-muted"
              *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
              [hidden]="oldPassword.dirty && requestUpdatePwd.OldPwd === requestUpdatePwd.NewPwd">
              字元至少8位，需包含英文字母及數字
            </small>
            <small id="pwdlChangeCheck" class="form-text text-muted"
              *ngIf="oldPassword.dirty && requestUpdatePwd.OldPwd === requestUpdatePwd.NewPwd">
              新密碼不可與舊密碼相同
            </small>
            <span toggle="#password-field-1" class="toggle-password">
              <i class="material-icons visibility d-none">&#xE8F4;</i>
              <i class="material-icons visibility-off">&#xE8F5;</i>
            </span>
          </div>
        </li>
        <li>
          <div class="password-item">
            <input id="password-field-2" type="password" placeholder="再次輸入新密碼" name="newPassword2" #newPassword2
              required (input)="pwdMatch = true">
            <small id="pwd2lHelp" class="form-text text-muted" *ngIf="pwdMatch === false">兩個密碼不相符</small>
            <span toggle="#password-field-2" class="toggle-password">
              <i class="material-icons visibility d-none">&#xE8F4;</i>
              <i class="material-icons visibility-off">&#xE8F5;</i>
            </span>
          </div>
        </li>
      </ul>
      <button type="submit" [disabled]="formUpdatePwd.invalid || formUpdatePwd.pristine || newPassword2.value === '' || (requestUpdatePwd.OldPwd === requestUpdatePwd.NewPwd)" class="btn next-btn w-100">保存</button>
    </div>
  </form>
</div>
